<<template>
    <div class="col">
        <p class="h1 text-center mb-5">Цель проекта - предложить пользователю удобный автоматизированный 
                поиск по лотам на торгах по банкротству, быстрый и качественный осмотр имущества 
                должника и различные инструменты работы с информацией по лоту.
        </p>
        <template v-if="sections">
            <section class="rounded shadow p-3 mb-5" v-for="section in sections" :key="section.id">
                <p class="h2 text-center">{{ section.title }}</p>
                <template v-if="section.description">
                    <div v-html="section.description"></div>
                </template>
                <div class="video-wrapper">
                    <div class="iframe">
                        <vytia-player 
                        :yturl="section.link"
                        width="100%"
                        height="100%"
                        ref="yt"
                        @playing="pauseOtherVideo(section.link)"
                        >
                        </vytia-player>
                    </div>
                </div>
            </section>
        </template>
        <h1 v-else>Информация о проекте ожидается...</h1>
    </div>
</template>

<script>
import VuePlayerPlugin from 'vue-youtube-iframe-api';
    export default {
        name: 'about-project',
        props: {
            sections: Array,
        },
        methods: {
            pauseOtherVideo(url) {
                this.$refs.yt.forEach((it) => {
                   if (it.yturl === url) {
                       return;
                   }
                   it.player.pauseVideo();
                });
            },
        },
        components: {VuePlayerPlugin}   
    }
</script>

<style lang="scss">
    .iframe {
        margin: 0 auto;
        display: block;
        width: 560px;
        height: 360px;
    }
    @media(max-width: 767px) {
        .iframe {
            width: auto;
            max-width: 460px;
        }
    }

    @media(max-width: 375px) {
        .iframe {
            height: 300px;
        }
    }
</style>