<template>
    <div>
        <div class="h1 title">Размещение рекламы на портале</div>

        <b-alert :show="isEdit" :variant="color">
            <div class="d-flex justify-content-between align-items-center">
                Данные на модерации
                <b-button variant="outline-primary" @click="goToList()">Вернуться к списку банеров</b-button>
            </div>
        </b-alert>

        <b-form @submit="onSubmit">

            <div class="d-flex justify-content-between align-items-center">
                <div class="h2 info-title">Укажите параметры показа Вашего объявления:</div>
                <svg v-if="!isEdit" @click="clearForm()" class="delete_object" width="25" height="25"
                     viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M1.16206 0.638888C1.36149 0.447892 1.678 0.454735 1.869 0.654172L7 6.01194L12.131 0.654172C12.322 0.454735 12.6385 0.447892 12.8379 0.638888C13.0374 0.829884 13.0442 1.14639 12.8532 1.34583L7.69231 6.73484L13.3611 12.6542C13.5521 12.8536 13.5453 13.1701 13.3458 13.3611C13.1464 13.5521 12.8299 13.5453 12.6389 13.3458L7 7.45774L1.36111 13.3458C1.17012 13.5453 0.853609 13.5521 0.654172 13.3611C0.454735 13.1701 0.447892 12.8536 0.638888 12.6542L6.3077 6.73484L1.14677 1.34583C0.955776 1.14639 0.962619 0.829884 1.16206 0.638888Z"/>
                </svg>
            </div>


            <b-form-group label="Страница вывода">
                <b-form-radio-group
                    id="radio-group-1"
                    v-model="object.service_id"
                    :options="services"
                    name="radio-options"
                    value-field="id"
                    :disabled="isEdit"
                    text-field="title"
                    @change="toggleService"
                ></b-form-radio-group>
            </b-form-group>


            <b-form-group v-if="(service.system_key === 'advertising_catalog')" id="category-select"
                          label="Укажите категорию" label-for="variant" label-class="row"
                          class="col-md-6 col-lg-4 form-group--bottom">
                <b-form-select
                    v-model="object.category_id"
                    :options="select_categories"
                    class="row mb-3"
                    value-field="id"
                    text-field="title"
                    :disabled="isDisable"
                    @change="datesUpdate"
                ></b-form-select>
            </b-form-group>


            <b-form-group id="input-group-3" label="Выбор рекламного места" :invalid-feedback="getErrors('variant')"
                          :state="state" label-for="variant" label-class="row"
                          class="col-md-6 col-lg-4 form-group--bottom">
                <b-form-select
                    v-if="this.service.system_key != 'advertising_lk'"
                    id="variant"
                    v-model="object.variant"
                    :options="variants"
                    :disabled="isDisable"
                    required
                    size="sm"
                    class="form-control form-select select-category row"
                    aria-placeholder="Выберите категорию"
                    required
                    @change="datesUpdate"
                >
                    <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Выберите категорию</b-form-select-option>
                    </template>
                </b-form-select>

                <b-form-select
                    v-else
                    id="variant"
                    v-model="object.variant"
                    :options="variants2"
                    :disabled="isDisable"
                    required
                    size="sm"
                    class="form-control form-select select-category row"
                    aria-placeholder="Выберите категорию"
                    required
                    @change="datesUpdate"
                >
                    <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Выберите категорию</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>


            <b-form-group v-if="object.variant && checkService" id="form_date"
                          :invalid-feedback="getErrors(['date_start', 'date_end'])" :state="state"
                          label="Период показа рекламного объявления" label-for="form_date" class="form-group--bottom">
                <date-picker
                    v-model="date"
                    lang="ru"
                    type="date"
                    value-type="format"
                    format="DD.MM.YYYY"
                    range
                    :disabled="isEdit"
                    :disabled-date="checkDate"
                    placeholder="Выберите период"
                    range-separator="-"
                    input-class="form-control"
                    @input="changeDate"
                >
                    <template v-slot:icon-calendar>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M2.5 0.272705C2.22386 0.272705 2 0.496563 2 0.772705V1.27271H1C0.447715 1.27271 0 1.72042 0 2.2727V11.2727C0 11.825 0.447716 12.2727 1 12.2727H13C13.5523 12.2727 14 11.825 14 11.2727V2.27271C14 1.72042 13.5523 1.27271 13 1.27271H12V0.772705C12 0.496563 11.7761 0.272705 11.5 0.272705C11.2239 0.272705 11 0.496563 11 0.772705V1.27271H9V0.772705C9 0.496563 8.77614 0.272705 8.5 0.272705C8.22386 0.272705 8 0.496563 8 0.772705V1.27271H6V0.772705C6 0.496563 5.77614 0.272705 5.5 0.272705C5.22386 0.272705 5 0.496563 5 0.772705V1.27271H3V0.772705C3 0.496563 2.77614 0.272705 2.5 0.272705ZM8.5 2.27271H11.5H13V3.27271H1V2.27271H2.5H5.5H8.5ZM1 4.27271V11.2727H13V4.27271H1ZM3 5.77271C3 5.49656 3.22386 5.27271 3.5 5.27271H4.5C4.77614 5.27271 5 5.49656 5 5.77271V6.77271C5 7.04885 4.77614 7.27271 4.5 7.27271H3.5C3.22386 7.27271 3 7.04885 3 6.77271V5.77271ZM3.5 8.27271C3.22386 8.27271 3 8.49656 3 8.77271V9.77271C3 10.0488 3.22386 10.2727 3.5 10.2727H4.5C4.77614 10.2727 5 10.0488 5 9.77271V8.77271C5 8.49656 4.77614 8.27271 4.5 8.27271H3.5ZM6 5.77271C6 5.49656 6.22386 5.27271 6.5 5.27271H7.5C7.77614 5.27271 8 5.49656 8 5.77271V6.77271C8 7.04885 7.77614 7.27271 7.5 7.27271H6.5C6.22386 7.27271 6 7.04885 6 6.77271V5.77271ZM6.5 8.27271C6.22386 8.27271 6 8.49656 6 8.77271V9.77271C6 10.0488 6.22386 10.2727 6.5 10.2727H7.5C7.77614 10.2727 8 10.0488 8 9.77271V8.77271C8 8.49656 7.77614 8.27271 7.5 8.27271H6.5ZM9 5.77271C9 5.49656 9.22386 5.27271 9.5 5.27271H10.5C10.7761 5.27271 11 5.49656 11 5.77271V6.77271C11 7.04885 10.7761 7.27271 10.5 7.27271H9.5C9.22386 7.27271 9 7.04885 9 6.77271V5.77271ZM9.5 8.27271C9.22386 8.27271 9 8.49656 9 8.77271V9.77271C9 10.0488 9.22386 10.2727 9.5 10.2727H10.5C10.7761 10.2727 11 10.0488 11 9.77271V8.77271C11 8.49656 10.7761 8.27271 10.5 8.27271H9.5Z"
                                  fill="#39475F"/>
                        </svg>
                    </template>
                </date-picker>
            </b-form-group>


            <b-form-group v-if="date" id="form_link" label="Ссылка к банеру" :invalid-feedback="getErrors('link')"
                          :state="state" label-class="row" label-for="input-link"
                          class="col-md-6 col-lg-3 form-group--bottom">

                <input type="text" :disabled="isDisable" v-model="object.link" class="form-control row" id="input-link"
                       placeholder="Напр. https://google.com">

            </b-form-group>


            <b-form-group v-if="date" id="add_image"
                          :label="isDisable ? 'Добавленное изображение': 'Добавление изображения'"
                          :invalid-feedback="getErrors('image')" :state="state" label-for="form_date"
                          class="d-block form-group--bottom">
                <div class="error_upload" v-if="imageProp.error">
                    <p>Размер вашего изображения {{imageProp.width}}*{{imageProp.height}}!</p>
                    Загрузите пожалуйста изображение размером {{ object.variant == 'vertical' ? '255х510' : '1110*160' }}
                </div>
                <div v-if="checkShow()">
                    <div>
                        <div id="preview" class="col-md-8 row" v-if="!isDisable">

                            <div class="change-image d-md-flex justify-content-between">
                                <div class="added-image-name col-md-6 px-0 mx-0 ">
                                    <input name="file-name" type="text" class="added-image-name__input"
                                           accept="image/x-png,image/gif,image/jpeg, image/jpg" disabled
                                           :value="image.name">
                                    <svg class="icon-camera" width="14" height="11" viewBox="0 0 14 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M1 3H4.28078L4.78078 1L9.21922 1L9.71922 3H13V10H1V3ZM4.78078 0C4.32191 0 3.92193 0.312297 3.81063 0.757464L3.5 2H1C0.447715 2 0 2.44772 0 3V10C0 10.5523 0.447716 11 1 11H13C13.5523 11 14 10.5523 14 10V3C14 2.44772 13.5523 2 13 2H10.5L10.1894 0.757464C10.0781 0.312297 9.67809 0 9.21922 0H4.78078ZM9 6C9 7.10457 8.10457 8 7 8C5.89543 8 5 7.10457 5 6C5 4.89543 5.89543 4 7 4C8.10457 4 9 4.89543 9 6ZM10 6C10 7.65685 8.65685 9 7 9C5.34315 9 4 7.65685 4 6C4 4.34315 5.34315 3 7 3C8.65685 3 10 4.34315 10 6Z"
                                              fill="#39475F"/>
                                    </svg>

                                    <svg @click="deleteImage()" class="icon-close" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M1.16206 0.638888C1.36149 0.447892 1.678 0.454735 1.869 0.654172L7 6.01194L12.131 0.654172C12.322 0.454735 12.6385 0.447892 12.8379 0.638888C13.0374 0.829884 13.0442 1.14639 12.8532 1.34583L7.69231 6.73484L13.3611 12.6542C13.5521 12.8536 13.5453 13.1701 13.3458 13.3611C13.1464 13.5521 12.8299 13.5453 12.6389 13.3458L7 7.45774L1.36111 13.3458C1.17012 13.5453 0.853609 13.5521 0.654172 13.3611C0.454735 13.1701 0.447892 12.8536 0.638888 12.6542L6.3077 6.73484L1.14677 1.34583C0.955776 1.14639 0.962619 0.829884 1.16206 0.638888Z"
                                              fill="#39475F"/>
                                    </svg>
                                </div>
                                <div class="col-md-6 d-flex align-items-center pl-0 justify-content-md-end">
                                    <a class="added-image__replace" @click.prevent="callUploadPhoto()">Заменить
                                        изображение</a>
                                    <input ref="myFile" class="replace-file" accept="image/x-png,image/gif,image/jpeg, image/jpg"
                                           type="file" @change="selectedFile" style="display:none;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" :class="'preview-image--' + object.variant">
                            <img :src="image.url" alt="">
<!--                            <clipper-basic-->
<!--                                :src="image.url"-->
<!--                                :grid="true"-->
<!--                                mode="normal"-->
<!--                                :border="0"-->
<!--                                ref="clipper"-->
<!--                                :ratio="cropVariant()"-->
<!--                                :wrapRatio="1/1"-->
<!--                                :minWidht="100"-->
<!--                            ></clipper-basic>-->
                        </div>
                    </div>

                </div>


                <div v-else>
                    <div class="col-md-9 d-flex flex-column align-items-center banner-info" drag-over="handleDragOver">
                        <div class="banner-info__title text-center">
                            Перетащите изображение в это поле или
                        </div>

                        <div class="input-file text-center">
                            <label for="upload-photo" class="label-upload-img button--bgcolor button--shadow">Нажмите,
                                чтобы выбрать файл на компьютере</label>
                            <input ref="myFile" id="upload-photo" type="file" accept="image/x-png,image/gif,image/jpeg, image/jpg"
                                   @change="selectedFile" class="custom-file-input">
                        </div>

                        <div class="banner-info__text">
                            Размер изображения {{ object.variant == 'vertical' ? '255х510' : '1110*160' }} пикселей,
                            форматы .jpg .png .gif
                        </div>
                    </div>
                </div>
            </b-form-group>


            <div v-if="object.price" :model="object.price" class="h2 total-sum"> {{ isEdit ? 'Сумма' : 'Итого к оплате'
                }}: {{ object.price }} Р
            </div>
            <b-button v-if="object.price && !isDisable" @click.prevent="onSubmit" :disabled="!checkForm"
                      :style="checkForm ? 'background:#0066FF;': 'background: #9EACC4;' " class="btn-payment">{{ isEdit
                ? 'Сохранить' : 'Перейти к оплате'}}
            </b-button>
        </b-form>

    </div>

</template>

<script>
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ru';
    import {clipperBasic, clipperPreview, clipperFixed } from 'vuejs-clipper';
    import 'vuejs-clipper/dist/vuejs-clipper.umd.min';
    import 'vuejs-clipper/dist/vuejs-clipper.css';
    import axios from 'axios';
    import VueRx from 'vue-rx'

    export default {
        components: {
            DatePicker,
            clipperBasic,
            clipperFixed,
            VueRx
        },
        name: "Advertising",
        props: {
            select_categories: {
                type: [Array, Object],
                default: [],
                required: true
            },
            services: {
                type: [Array, Object],
                default: [],
                required: true
            },
            edit_element: {
                type: Object,
                default: false
            }
        },
        data() {
            return {
                object: {},
                imageProp:{
                    error: 0,
                    size:null,
                    height:'',
                    width:null
                },
                imageLoaded:false,
                variants:
                    [
                        {text: 'Горизонтальное 1110*160 п.', value: 'horizontal'},
                        {text: 'Вертикальное 255*510 п.', value: 'vertical'},
                    ],
                variants2:
                    [
                        {text: 'Горизонтальное 1110*160 п.', value: 'horizontal'},
                    ],
                allowed_types: ['image/jpeg', 'image/png', 'image/gif', 'image/jpg'],
                successSave: false,
                blob_count: false,
                dates: [],
                service: {
                    id: null,
                    title: null,
                    system_key: null
                },
                errors: {},
                state: true,
                status: null,
                clipper: '',
                date: "",
                image: {
                    file: null,
                    url: null,
                    name: null,
                    width: null,
                    height: null,
                },
                create_url: '/advertising',
                update_url: '/advertising/set/',
                colors: {
                    1: "warning",
                    2: "success",
                    3: "danger",
                }
            }
        },

        created() {
            if (this.isEdit) {
                this.setForm()
            } else {
                this.clearForm();
            }
        },
        mounted(){
            // axios.post('/advertising/date-check', {
            //     service_id: this.service.id,
            // }).then(response => {
            //     this.dates.push(response);
            //     //return date != new Date("2020-10-10");
            // });
        },
        computed: {
            disabledDates: function () {
                return this.dates;
            },
            checkForm: function () {
                return this.checkObject;
            },
            canSendForm: function () {
                return this.blob_count == true;
            },
            isEdit: function () {
                return Boolean(this.edit_element)
            },

            isCanceled: function () {
                if (this.isEdit) {
                    return this.status == 3;
                }
                return false;
            },
            isDisable: function () {
                return this.isEdit && !this.isCanceled;
            },
            color: function () {
                return this.colors[this.status ? this.status : 2]
            },
            checkService: function () {
                return Boolean(this.object.category_id) || this.service.system_key == 'advertising_general' || this.service.system_key == 'advertising_lk';
            }

        },
        watch: {
            canSendForm: function () {
                this.onSubmit();
            },
        },

        methods: {
            datesUpdate(e){
                axios.post('/advertising/date-check', {
                    service_id: this.service.id,
                    variant: this.object.variant,
                    category: this.object.category_id,
                }).then(response => {
                    this.dates = [];
                    this.dates.push(response);
                    //return date != new Date("2020-10-10");
                });
            },
            onSubmit() {
                let formData = new FormData();

                Object.entries(this.object).forEach(item => {
                    if (item[0] == 'image') {
                        formData.append(item[0], item[1], 'image.img')
                    } else {
                        formData.append(item[0], (item[1] === null ? "" : item[1]))
                    }

                })

                axios.post((this.isEdit ? this.update_url + this.edit_element.id : this.create_url), formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                })
                    .then(response => {

                        if (this.isEdit) {
                            this.successSave = true;
                            this.status = response.data.status
                            let image = response.data.image
                            if (image) {
                                this.setImage(image.name, "", image.url)
                            }

                        } else {
                            this.setUnitellerForm(response.data)
                        }


                    })
                    .catch(error => {
                        let errors = error.response.data.errors;

                        this.errors = {
                            'link': errors.link,
                            'variant': errors.variant,
                            'date_start': errors.date_start,
                            'date_end': errors.date_end,
                            'image': errors.image,
                            'service_id': errors.service_id
                        };
                        this.setState();
                    });

            },

            setUnitellerForm(data) {
                let form = document.createElement("form");

                form.action = data.action
                form.method = data.method

                for (let key in data.fields) {
                    let elem = document.createElement("input");
                    elem.type = "hidden"
                    elem.name = key
                    elem.value = data.fields[key]

                    form.appendChild(elem);
                }

                document.body.appendChild(form);
                form.submit();
            },
            selectedFile() {
                this.imageLoaded = false;
                let width = this.object.variant == 'vertical' ? 255 : 1110;
                let height = this.object.variant == 'vertical' ? 510 : 160;
                let file = this.$refs.myFile.files[0];
                if(!file || file.type.indexOf('image/') !== 0) return;

                this.imageProp.size = file.size;

                let reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = evt => {
                    let img = new Image();
                    img.onload = () => {
                        this.imageProp.width = img.width;
                        this.imageProp.height = img.height;
                        this.imageLoaded = true;

                        if(this.imageProp.width == width && this.imageProp.height == height){
                            this.imageProp.error = 0;
                        }else{
                            this.imageProp.error = 1;
                        }
                        console.log(width+' '+height);
                        if (file && !this.imageProp.error) {
                            this.object.image = file;
                            //this.blob_count = true;
                            this.setImage(file.name, file, URL.createObjectURL(file))
                            this.object.add_file = true;
                        }
                    }
                    img.src = evt.target.result;
                }
                reader.onerror = evt => {
                    console.error(evt);
                }
            },
            onAddFile(e) {
                const files = e.target.files || e.dataTransfer.files; let file = files[0];
                this.imageLoaded = false;
                if(!file || file.type.indexOf('image/') !== 0) return;
                this.image.size = file.size;
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = evt => {
                    let img = new Image();
                    img.onload = () => {
                        this.image.width = img.width;
                        this.image.height = img.height;
                        this.imageLoaded = true;
                    }
                }
                reader.onerror = evt => {
                    console.error(evt);
                }

                if (files.length) {
                    let file = files[0]
                    this.setImage(file.name, file, URL.createObjectURL(file))
                    this.object.add_file = true;
                }
            },
            clearForm() {
                this.object = {
                    variant: "",
                    image: "",
                    price: 0,
                    date_start: "",
                    date_end: "",
                    link: "",
                    service_id: this.services[0].id,
                    category_id: ""
                };
                this.service = this.services[0];
                this.setImage()
                this.clipper = '';
                this.date = "";
            },
            setForm() {
                let ed_elem = this.edit_element;
                this.object = {
                    variant: ed_elem.variant,
                    image: ed_elem.image,
                    price: ed_elem.order.price,
                    date_start: ed_elem.order.date_start,
                    date_end: ed_elem.order.date_end,
                    link: ed_elem.link,
                    service_id: ed_elem.service_id,
                    category_id: ed_elem.category_id
                }
                this.service = this.services.filter(elem => elem.id == ed_elem.service_id)[0];
                this.date = [this.object.date_start, this.object.date_end]
                this.status = ed_elem.status
                this.setImage(ed_elem.image.name, "", ed_elem.image.url)
            },
            setImage(name = null, file = null, url = null) {
                this.image = {
                    name,
                    file,
                    url,
                };
            },

            checkShow() {
                return this.image.url && this.object.variant;
            },
            callUploadPhoto() {
                $('.replace-file').click();
            },
            changeDate() {
                let date_start = this.date[0];
                let date_end = this.date[1];
                axios.post('/advertising/price', {
                    date_start: date_start,
                    date_end: date_end,
                    service_id: this.object.service_id
                }).then(response => {
                    this.object.price = response.data;
                    this.object.date_start = date_start;
                    this.object.date_end = date_end;
                });
            },
            deleteImage() {
                this.image.file = null;
                this.image.url = null;
                this.image.name = null;
            },
            checkDate(date) {
                if (date < new Date()){
                    return true;
                }
                try {
                    this.disabledDates[0].data.forEach(function (item) {
                        if (date >= new Date(item[0]) && date <= new Date(item[1])) {
                            throw {
                                reason: "finded",
                            }
                        }
                    });
                } catch ({
                    reason
                }){
                    if (reason) {
                        return true;
                    }
                }
            },

            getErrors(key) {
                let errors = this.errors;
                let result = '';
                if (key instanceof Array) {
                    let result_arr = [];
                    key.forEach(function (error) {
                        if (errors && errors[error]) {
                            result_arr.push(errors[error].join(', '));
                        }
                    })
                    result = result_arr.join(', ');
                } else if (errors && errors[key]) {
                    result = errors[key].join(', ');
                }
                return result;
            },
            setState() {
                this.state = !(Object.values(this.errors).length > 0);
            },
            checkObject() {
                return this.image.file && this.date && this.object.link && this.checkService;
            },
            cropVariant() {
                return this.object.variant == 'vertical' ? 1/2 : 111/16;
            },
            getImageClip() {
                let w = this.object.variant == 'vertical' ? 510 : 1110;
                let canvas = this.$refs.clipper.clip({wPixel:w});
                canvas.toBlob(blob => {
                    this.object.image = blob;
                    this.blob_count = true;
                })
            },

            toggleService(e) {
                let elem = this.services.filter(elem => elem.id == e)[0];
                if (elem.system_key == 'advertising_general' && elem.system_key == 'advertising_lk') {
                    this.object.category_id = ""
                }
                this.service = elem

                axios.post('/advertising/date-check', {
                    service_id: elem.id,
                    variant: this.object.variant,
                    category: this.object.category_id,
                }).then(response => {
                    this.dates = [];
                    this.dates.push(response);
                    //return date != new Date("2020-10-10");
                });
            },

            goToList() {
                window.location.href = '/cabinet/banners'
            }
        }
    }


</script>

<style lang="scss">
    .error_upload{
        font-size: 85%;
        color: #e3342f;
        margin-bottom: 10px;
        p{
            margin: 0;
        }
    }
    .clipper-cnt,
    .clipper-cnt > div {
        height: 500px;
        max-width: 100%;
    }

    .mx-input-wrapper {
        max-width: 255px;
    }
</style>

<style lang="scss" scoped>

    .title {
        margin-top: 8px;
    }

    .info-title {
        margin-top: 23px;
    }

    .end-form-line {
        width: 100%;
        border: 1px solid #D6DEEB;
        margin-top: 32px;
    }

    .change-image {
        margin-bottom: 24px;
    }


    .form-group--bottom {
        margin-bottom: 24px;
    }

    .form-select, .mx-input {

        font-size: 12px;
        line-height: 16px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;

        border-radius: 8px;
        background-color: #F4F6FA;

    }

    .select-category {
        padding: 12px 45px 12px 12px;

        height: 40px;

        background: url("data:image/svg+xml;charset=UTF-8,%3csvg \
        width='7' height='5' viewBox='0 0 7 5' fill='none'\
         xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.27271L3.64642 3.91913L6.29289 1.27271'\
          stroke='%2339475F' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
        border-radius: 8px;
    }

    .select-date {
        height: 40px;
        width: 255px;
    }


    .mx-input {
        padding: 12px 54px 12px 12px;
        border: none;
        height: 100%;
    }

    .banner-info {
        border: 1px dashed #9EACC4;
        height: 240px;
        margin-bottom: 24px;
        position: relative;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-align: center;

        &__title {
            max-width: 259px;
            margin-top: 42px;
            margin-bottom: 12px;
        }

        &__text {
            color: #9EACC4;
            margin-top: 48px;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .button--bgcolor {
        background: #FFFFFF;
    }

    .button--shadow {
        box-shadow: 0px 2px 10px rgba(0, 59, 148, 0.15);
    }

    .label-upload-img {
        padding: 10px 24px 11px;

        border-radius: 8px;

        &:hover {
            cursor: pointer;
        }
    }

    .total-sum {
        margin-bottom: 32px;
    }

    .btn-payment {
        border: 0;
    }


    .added-image-name {

        position: relative;

        &__input {
            position: relative;
            height: 32px;
            width: 100%;
            border-radius: 16px;
            padding-right: 52px;
            padding-left: 36px;
            background: #ECF3FF;
            border: 0;
            outline: none;
            color: #0066FF;
        }

        .icon-camera {
            position: absolute;
            left: 13px;
            top: 10px;
        }

        .icon-close {
            position: absolute;
            right: 10.5px;
            top: 9.5px;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .added-image__replace {
        text-decoration-line: underline;

        &:hover {
            cursor: pointer;
        }

    }

    .delete_object {

        fill: #000;
        transition: fill 0.2s;

        &:hover {

            cursor: pointer;
            fill: #0066FF;
        }
    }

    @media(max-width: 770px) {
        .added-image__replace {
            margin-top: 10px;
        }
    }


    @media (max-width: 500px) {
        .banner-info__text {
            margin-top: 24px;
        }

        .btn-payment {
            margin-left: 0px;
            margin-top: 10px;
        }

    }


</style>
