<template>
    <div class="shadow p-3 rounded">
        <div class="h1 m-0">Авторизуйтесь,</div>
        <div class="mb-2">чтобы иметь доступ ко всем возможностям сайта</div>

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Ваш e-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <div class="float-right">
                    <a href="/register">Забыли пароль?</a>
                </div>
                <label for="exampleInputPassword1">Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="row align-items-center">
                <div class="col pr-0">
                    <button type="submit" class="btn text-primary shadow bg-white">Войти в аккаунт</button>
                </div>
                <div class="col text-right">
                    <a href="/register" class="text-black-50">Зарегистрироваться</a>
                </div>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
