<template>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Услуга</th>
                    <th scope="col">Начало</th>
                    <th scope="col">Завершение</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Статус</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                <tr v-for="banner in items" class="table-hover cursor-pointer">
                    <th scope="row" @click="showElement(banner)">{{ banner.id  }}</th>
                    <td @click="showElement(banner)">{{ banner.service.title  }}</td>
                    <td @click="showElement(banner)">{{ (banner.order.service_begin).split(" ")[0]  }}</td>
                    <td @click="showElement(banner)">{{ banner.order.service_end.split(" ")[0]   }}</td>
                    <td @click="showElement(banner)">{{ banner.order.price  }}</td>
                    <td @click="showElement(banner)">{{ banner.category ? banner.category.title : "" }}</td>
                    <td @click="showElement(banner)">{{ banner.status_name }}</td>
                    <td v-if="banner.order.payment.status != 'success'"  @click="getPayment(banner)"><b-button variant="outline-primary">Оплатить</b-button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {
        name: "BannersTable",
        props: {
            banners: {
                type: Object,
                default: {},

            }
        },
        created() {
            this.items = this.banners.data
        }
        ,
        data() {
            return {
                show_url: '/advertising/show/',
                items: [],
            }
        },

        methods: {
            showElement(banner) {
                document.location.href = this.show_url + banner.id;
            },

            getPayment(banner) {
                axios.get('/advertising/new-payment/' + banner.order.payment.id, {
                    params: {
                        back_url_ok: window.location.href,
                        back_url_no: window.location.href,
                    }
                })
                    .then(resp => {
                        let data = resp.data
                        let form = document.createElement("form");

                        form.action = data.action
                        form.method = data.method

                        console.log(data)

                        for(let key in data.fields) {
                            let elem = document.createElement("input");
                            elem.type = "hidden"
                            elem.name = key
                            elem.value = data.fields[key]

                            form.appendChild(elem);
                        }

                        document.body.appendChild(form);
                        form.submit();
                    })
            }
        }
    }
</script>

<style scoped>
    .cursor-pointer:hover {
        cursor: pointer;
    }
</style>
