<template>
  <form
    class="row catalog-filter"
    ref="filterForm"
    @change="onChangeForm"
    @submit="onSubmitForm"
    id="filterForm"
  >
    <!-- price range -->
    <div class="mb-4 col-6 col-md-4 col-lg-12" v-if="query.price">
      <div class="h3 mb-2">Цена лота</div>
      <div class="row">
        <div class="col-12 col-lg-6 pr-lg-1">
          <input
            type="text"
            name="filter[price][from]"
            v-model="query.price.from"
            placeholder="От"
            autocomplete="off"
            class="form-control input-price"
          />
        </div>
        <div class="col-12 col-lg-6 pl-lg-1 mt-2 mt-lg-0">
          <input
            type="text"
            name="filter[price][to]"
            v-model="query.price.to"
            placeholder="До"
            autocomplete="off"
            class="form-control input-price"
          />
        </div>
      </div>
    </div>

      <!-- lots status -->
      <div v-if="typeof titles !== 'undefined'" class="mb-2 col-6 col-md-4 col-lg-12">
          <div class="h3 mb-2">Статус лотов:</div>
          <div class="form-group">
              <div>
                  <div v-if="titles.now === 'all'">
                      <button class="getstatus-active col-12 col-lg-12 pr-lg-1  my-1 py-2" @click.prevent="goTo('all')">Все лоты<span style="float:right; margin-right: 8px">
                                {{ titles.all }}</span></button>
                  </div>
                  <div v-else>
                      <button class="getstatus col-12 col-lg-12 pr-lg-1  my-1 py-2" @click.prevent="goTo('all')">Все лоты<span style="float:right; margin-right: 8px">
                                {{ titles.all }}</span></button>
                  </div>
                  <div v-if="titles.now === 'opened'">
                      <button class="getstatus-active col-12 col-lg-12 pr-lg-1  my-1 py-2" @click.prevent="goTo('opened')">Актуальные лоты<span style="float:right; margin-right: 8px">
                                {{ titles.opened }}</span></button>
                  </div>
                  <div v-else>
                      <button class="getstatus col-12 col-lg-12 pr-lg-1  my-1 py-2" @click.prevent="goTo('opened')">Актуальные лоты<span style="float:right; margin-right: 8px">
                                {{ titles.opened }}</span></button>
                  </div>
                  <div v-if="titles.now === 'finished'">
                      <button class="getstatus-active col-12 col-lg-12 pr-lg-1  my-1 py-2" @click.prevent="goTo('finished')">Завершенные лоты<span style="float:right; margin-right: 8px">
                                {{ titles.finished }}</span></button>
                  </div>
                  <div v-else>
                      <button class="getstatus col-12 col-lg-12 pr-lg-1  my-1 py-2" @click.prevent="goTo('finished')">Завершенные лоты<span style="float:right; margin-right: 8px">
                                {{ titles.finished }}</span></button>
                  </div>
              </div>
          </div>
      </div>

      <!-- bidding type -->
    <div class="mb-4 col-6 col-md-4 col-lg-12">
      <div class="h3 mb-2">Тип торгов</div>
      <div class="form-group">
        <div
          v-for="(title, code) in tradeTypes"
          class="custom-control custom-checkbox"
        >
          <input
            class="custom-control-input"
            type="checkbox"
            name="filter[auction_type][]"
            :value="code"
            :checked="
              query.auction_type && query.auction_type.indexOf(code) !== -1
            "
            :id="`stype${code}`"
          />
          <label class="custom-control-label" :for="`stype${code}`">
            {{ title }}
          </label>
        </div>
      </div>
    </div>

    <div
      v-for="item in params"
      :key="item.code"
      class="mb-4 col-6 col-md-4 col-lg-12"
    >
      <div class="h3 mb-2">{{ item.title }}</div>
      <div
        v-if="
          [
            'checkbox',
            'checkbox-vehicle-brands',
            'checkbox-vehicle-models',
          ].indexOf(item.type) !== -1
        "
      >
        <super-select
          class="d-block"
          :title="item.title"
          show-btn
          show-search
          multiple
          :name="`filter[${item.code}][]`"
          :options="paramValues[item.id]"
          v-model="query[item.code]"
        ></super-select>
      </div>
      <div v-else-if="item.type === 'numeric-range'">
        <div class="row" v-if="query[item.code]">
          <div class="col-6 pr-1">
            <input
              type="text"
              :name="`filter[${item.code}][from]`"
              v-model="query[item.code].from"
              placeholder="От"
              autocomplete="off"
              class="form-control"
            />
          </div>
          <div class="col-6 pl-1">
            <input
              type="text"
              :name="`filter[${item.code}][to]`"
              v-model="query[item.code].to"
              placeholder="До"
              autocomplete="off"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div v-else>
        <s>TYPE: {{ item.type }}</s>
      </div>
    </div>

    <!-- organization trader -->
    <div class="mb-4 col-6 col-md-4 col-lg-12">
      <div class="h3 mb-2">Организатор торгов</div>

      <multiselect
        placeholder="Огранизатор торгов"
        tag-placeholder="Огранизатор торгов"
        tag-position="top"
        v-model="trade_organizer"
        :options="multiselectOptions"
        :searchable="true"
        :multiple="true"
        :show-labels="false"
        :closeOnSelect="false"
        :internal-search="false"
        :clear-on-select="false"
        :hide-selected="true"
        :loading="multiselectLoading" 
        @search-change="handleOrganisatorFilter"
      >
        <span class="text-black-50" slot="noOptions">
          <small>Введите хотя бы 3 символа</small>
        </span>
        <span class="text-black-50" slot="noResult">
          <small>Нет совпадений</small>
        </span>
      </multiselect>

      <form-multi-select-ajax-search
        :class="false && 'd-block'" v-show="false"
        placeholder="Огранизатор торгов"
        name="filter[trade_organizer][]"
        :inception-values="trade_organizer"
        v-model="trade_organizer"
        :search-url="url_for_organizer"
        search-method="post"
      ></form-multi-select-ajax-search>
    </div>

    <!-- Фильтр по должнику -->
    <div class="mb-4 col-6 col-md-4 col-lg-12">
      <div class="h3 mb-2">Должник</div>

      <multiselect
        placeholder="Должник"
        tag-placeholder="Должник"
        tag-position="top"
        v-model="debtor"
        :options="debtorselectOptions"
        :searchable="true"
        :multiple="true"
        :show-labels="false"
        :closeOnSelect="false"
        :internal-search="false"
        :clear-on-select="false"
        :hide-selected="true"
        :loading="debtorselectLoading" 
        @search-change="handleDebtorFilter"
      >
        <span class="text-black-50" slot="noOptions">
          <small>Введите хотя бы 3 символа</small>
        </span>
        <span class="text-black-50" slot="noResult">
          <small>Нет совпадений</small>
        </span>
      </multiselect>

      <form-multi-select-ajax-search
        :class="false && 'd-block'" v-show="false"
        placeholder="Должник"
        name="filter[debtor][]"
        :inception-values="debtor"
        v-model="debtor"
        :search-url="url_for_debtor"
        search-method="post"
      ></form-multi-select-ajax-search>
    </div>

    <input type="checkbox" id="showDate" hidden />
    <div class="mb-4 col-12 col-md-12 col-lg-12 h3">
      <label class="cursor_pointer" for="showDate">Даты торгов</label>
      <div class="filterDates mt-4 row" v-if="dates">
        <div class="col-12 col-sm-6 col-md-4 col-lg-12">
          <div class="h3 mb-2">Начало торгов</div>
          <div class="row mb-2">
            <div class="col-12 mb-2">
              <date-picker
                placeholder="От"
                format="DD.MM.YYYY"
                :input-attr="{ name: 'filter[dates][TimeBegin][from]' }"
                v-model="dates.TimeBegin.from"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
            <div class="col-12">
              <date-picker
                placeholder="До"
                format="DD.MM.YYYY"
                :input-attr="{ name: 'filter[dates][TimeBegin][to]' }"
                v-model="dates.TimeBegin.to"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-12">
          <div class="h3 mb-2">Начало приема заявок</div>
          <div class="row mb-2">
            <div class="col-12 mb-2">
              <date-picker
                placeholder="От"
                format="DD.MM.YYYY"
                :input-attr="{
                  name: 'filter[dates][ApplicationTimeBegin][from]',
                }"
                v-model="dates.ApplicationTimeBegin.from"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
            <div class="col-12">
              <date-picker
                placeholder="До"
                format="DD.MM.YYYY"
                :input-attr="{
                  name: 'filter[dates][ApplicationTimeBegin][to]',
                }"
                v-model="dates.ApplicationTimeBegin.to"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-12">
          <div class="h3 mb-2">Окончание приема заявок</div>
          <div class="row mb-2">
            <div class="col-12 mb-2">
              <date-picker
                placeholder="От"
                format="DD.MM.YYYY"
                :input-attr="{
                  name: 'filter[dates][ApplicationTimeEnd][from]',
                }"
                v-model="dates.ApplicationTimeEnd.from"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
            <div class="col-12">
              <date-picker
                placeholder="До"
                format="DD.MM.YYYY"
                :input-attr="{ name: 'filter[dates][ApplicationTimeEnd][to]' }"
                v-model="dates.ApplicationTimeEnd.to"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-12">
          <div class="h3 mb-2">Окончание торгов</div>
          <div class="row mb-2">
            <div class="col-12 mb-2">
              <date-picker
                placeholder="От"
                format="DD.MM.YYYY"
                :input-attr="{ name: 'filter[dates][TimeEnd][from]' }"
                v-model="dates.TimeEnd.from"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
            <div class="col-12">
              <date-picker
                placeholder="До"
                format="DD.MM.YYYY"
                :input-attr="{ name: 'filter[dates][TimeEnd][to]' }"
                v-model="dates.TimeEnd.to"
                value-type="format"
                input-class="form-control"
              ></date-picker>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="mb-4 col-6 col-md-4 col-lg-12"
      v-if="category && [5, 6].includes(category.id)"
    >
      <div class="h3 mb-2">Дебитор</div>
      <input
        type="text"
        name="filter[debitor]"
        v-model="query.debitor"
        placeholder="Дебитор"
        autocomplete="off"
        class="form-control"
      />
    </div>

    <div class="mb-4 col-12">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        :disabled="loading"
      >
        <span
          v-if="loading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Применить
      </button>
    </div>
  </form>
</template>

<script>
import axios from "axios";
import SuperSelect from "./SuperSelect";

export default {
  name: "CatalogFilter",
  components: { SuperSelect },
  props: {
    category: {
      type: Object,
      default: () => null,
    },
    filterParams: {
      type: Array,
      default: () => [],
    },
    filterParamValues: {
      type: Object,
      default: () => ({}),
    },
    filterQuery: {
      type: Object,
      default: () => ({}),
    },
      titles: {
          type: Object
      },
  },
  data() {
    return {
      filterTypingTimeout: 0,
      multiselectLoading: false,
      multiselectVal: [],
      multiselectOptions: [],
      debtorselectLoading: false,
      debtorselectOptions: [],

      trade_organizer: [],
      debtor: [],
      debtor_text: null,
      tradeTypes: {
        OpenAuction: "Открытый аукцион",
        OpenConcours: "Открытый конкурс",
        PublicOffer: "Публичное предложение",
      },
      headers: {
        ContentType: "application/json",
        CatalogAction: "GetFilterData",
      },
      params: [],
      paramValues: {},
      query: {},
      dates: {
        TimeBegin: { from: "", to: "" },
        ApplicationTimeBegin: { from: "", to: "" },
        ApplicationTimeEnd: { from: "", to: "" },
        TimeEnd: { from: "", to: "" },
      },
      test: [],
      waitSendingData: null,
      form_get_query: "",
      loading: false,
    };
  },
  created() {
    this.setParamsData(
      this.filterParams,
      this.filterParamValues,
      this.filterQuery
    );
  },
  mounted() {
    let headers = this.headers;
    let href = location.href
      .replace("/catalog", "/catalog-filter")
      .replace("/hot-lots", "/hot-lots-filter");
    return axios.get(href, { headers }).then((res) => {
      this.setParamsData(
        res.data.catalog_filter_params,
        res.data.catalog_filter_param_values,
        res.data.filter_query
      );
      this.$forceUpdate();
      this.$nextTick((_) => {
        this.updateFormGetQuery();
      });
    });
  },
  computed: {
    url_for_organizer() {
      let href = location.pathname
        .replace("/catalog", "/api/catalog/trade_organizer_search_list")
        .replace("/hot-lots", "/api/catalog/trade_organizer_search_list");
      return `${href}${this.form_get_query}`;
    },
    url_for_debtor() {
      let href = location.pathname
        .replace("/catalog", "/api/catalog/debtor_search_list")
        .replace("/hot-lots", "/api/catalog/debtor_search_list");
      return `${href}${this.form_get_query}`;
    },
  },
  methods: {
    goTo(val) {
      let newAdditionalURL = "";
      const location = window.location.toString()
      let tempArray = location.split("?");
      let baseURL = tempArray[0];
      let additionalURL = tempArray[1];
      let temp = "";
      if (additionalURL) {
          tempArray = additionalURL.split("&");
          tempArray.forEach(item => {
              if (item.split('=')[0] !== 'status') {
                  newAdditionalURL += temp + item;
                  temp = "&";

              }
          })
      }

      const rows_txt = `${temp}status=${val}`;
      window.location = `${baseURL}?${newAdditionalURL}${rows_txt}`;
      // console.log(`${window.location}?lotsstatus=${this.lotsstatus}`);
    },
    setParamsData(params, values, query) {
      this.params = params || [];
      this.paramValues = Object.assign({}, values);
      this.query = Object.assign(
        this.params.reduce((a, b) => ((a[b.code] = []), a), {}),
        query
      );

      if (!this.query.price) {
        this.query.price = { from: "", to: "" };
      }

      if (this.query.dates) {
        this.dates.TimeBegin =
          this.query.dates.TimeBegin ?? this.dates.TimeBegin;
        this.dates.ApplicationTimeBegin =
          this.query.dates.ApplicationTimeBegin ??
          this.dates.ApplicationTimeBegin;
        this.dates.ApplicationTimeEnd =
          this.query.dates.ApplicationTimeEnd ?? this.dates.ApplicationTimeEnd;
        this.dates.TimeEnd = this.query.dates.TimeEnd ?? this.dates.TimeEnd;
      }

      this.debtor = query.debtor ?? null;
      this.trade_organizer = query.trade_organizer ?? null;
    },
    filterDataUrl() {
      let pathname = location.pathname
        .replace("/catalog", "/catalog-filter")
        .replace("/hot-lots", "/hot-lots-filter");
      let query = $(this.$refs.filterForm).serialize();
      return pathname + "?" + query;
    },
    loadFilterData() {
      let headers = this.headers;
      return axios.get(this.filterDataUrl(), { headers }).then((res) => {
        this.setParamsData(
          res.data.catalog_filter_params,
          res.data.catalog_filter_param_values,
          res.data.filter_query
        );
        this.$forceUpdate();
      });
    },
    loadFilterDataWithWaiting() {
      if (this.waitSendingData) {
        clearTimeout(this.waitSendingData);
      }
      this.waitSendingData = setTimeout((_) => {
        this.loadFilterData();
      }, 620);
    },
    onChangeForm() {
      this.$nextTick((_) => {
        this.updateFormGetQuery();
      });
      if (this.params.length) {
        this.loadFilterDataWithWaiting();
      }
    },
    onSubmitForm() {
      this.loading = true;
    },
    updateFormGetQuery() {
      this.form_get_query = "?" + $(this.$refs.filterForm).serialize();
    },
    handleOrganisatorFilter(searchText){
      if (this.filterTypingTimeout) { clearTimeout(this.filterTypingTimeout); }

      // Если пользователь пишет функция не вызовится сразу
      this.filterTypingTimeout = setTimeout(
        () => {
          this.multiselectLoading = true

          if(searchText){
            axios.post(this.url_for_organizer, { str: searchText.toLowerCase() })
            .then(response => {
              this.multiselectOptions = response.data
            })
            .finally(() => {
              this.multiselectLoading = false
            })
          } else {
            this.multiselectOptions = []
            this.multiselectLoading = false
          }
        },
        1000 // Если пользователь перестает писать, тогда выполниться через 800 мс
      );
    },
    handleDebtorFilter(searchText){
      if (this.filterTypingTimeout) { clearTimeout(this.filterTypingTimeout); }

      // Если пользователь пишет функция не вызовится сразу
      this.filterTypingTimeout = setTimeout(
        () => {
          this.debtorselectLoading = true

          if(searchText){
            axios.post(this.url_for_debtor, { str: searchText.toLowerCase() })
            .then(response => {
              this.debtorselectOptions = response.data
            })
            .finally(() => {
              this.debtorselectLoading = false
            })
          } else {
            this.debtorselectOptions = []
            this.debtorselectLoading = false
          }
        },
        1000 // Если пользователь перестает писать, тогда выполниться через 800 мс
      );
    }
  },
};
</script>

<style lang="scss" scoped>
.catalog-filter.debug {
  outline: 1px dashed red;
  padding: 1rem;
  margin-bottom: 1rem;
}

#showDate:checked ~ div .filterDates {
  display: flex;
}

label[for="showDate"]:before {
  content: "\2193";
  font-size: 18px;
  margin-right: 8px;
}

#showDate:checked ~ div label[for="showDate"]:before {
  content: "\2191";
}

.filterDates {
  display: none;
}

.mx-datepicker {
  width: 100%;
  max-width: 100%;
}
.cursor_pointer {
    cursor: pointer;
}
.getstatus{
    border: none;
    background-color: #ECF3FF;
    text-align: left;
    color: #495057;
    border-radius: 6px;


}
.getstatus-active{
    border: none;
    background-color: rgb(0, 102, 255);
    text-align: left;
    color: #ffffff;
    border-radius: 6px;

}
.getstatus:hover
{
    box-shadow: rgba(0, 102, 255, 0.5) 0px 1.6px 9.6px 0px;
}
.getstatus-active:hover{
    background-color: #0057D9 ;
    box-shadow: rgba(0, 102, 255, 0.5) 0px 1.6px 9.6px 0px;
}
.getstatus-active:focus,btn:active{
    outline: none;
    box-shadow: 0px 0px 2px 3px #92BEFF;
}
.getstatus:focus,getstatus:active{
    /*outline: 3px double #92BEFF;*/
    outline: none;
    box-shadow: 0px 0px 2px 3px #92BEFF;
}
</style>
