<template>
    <div class="link-file" v-if="!is_deleted">
        <img v-if="icon" :src="icon" alt="icon">
        <a class="link-file-name" target="_blank" :href="url" download>{{ name }}</a>
        <a v-if="canDelete" class="link-file-delete" href="javascript:" @click="onClickDelete">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.50788 2L14 14M13.4921 2L2 14" stroke="#0066FF" stroke-linecap="round"/>
            </svg>
        </a>
    </div>
</template>

<style scoped>
    .link-file {
        display: inline-block;
        padding: .25rem .75rem;
        border-radius: 1rem;
        background-color: #ecf3ff;
    }

    .link-file + .link-file {
        margin-left: .5rem;
    }
    .link-file img {
        margin-right: .5rem;
    }
    .link-file-name {
        color: #0066FF;
    }
    .link-file-delete {
        margin-left: 1rem;
    }
</style>

<script>
    export default {
        props: {
            url: {
                type: String,
                required: true
            },
            canDelete: {
                type: Boolean,
                default: false
            },
            onDelete: {
                type: Function,
                required: false,
                default: null
            },
            fileName: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                is_deleted: false,
                icons: {
                    'photo': ['jpg', 'jpeg', 'gif'],
                    'doc': ['doc', 'docx', 'txt', 'xls', 'csv'],
                }
            }
        },
        computed: {
            name() {

                if(this.fileName) {
                    return this.fileName;
                }

                let path = this.url.split('/');
                if(path.length === 0){
                    return this.url;
                }
                return path[path.length -1]
            },
            icon() {
                let url_arr = this.url.split('.');
                let format = url_arr.pop();
                for (let icon in this.icons) {
                    if (this.icons[icon].indexOf(format) !== -1) {
                        return `/img/icons/16px/${icon}-blue.svg`
                    }
                }
                return '/img/icons/16px/file-blue.svg'
            }
        },
        methods: {
            onClickDelete() {
                console.log('onClickDelete');
                this.is_deleted = true;
                if (this.onDelete) {
                    this.onDelete()
                }
            }
        },
    }
</script>
