<template>
    <div class="file-uploader"
         :class="{'file-uploader-highlight': highlight_input}"
         @dragend.prevent="dragend"
         @dragenter.prevent="dragenter"
         @dragleave.prevent="dragleave"
         @dragover.prevent="dragover"
         @drop.prevent="drop"
    >
        <input
            ref="input_file"
            type="file"
            class="d-none"
            :name="inputName"
            :multiple="!singleFile"
            accept="images/*"
            @change="onChangeInputFile"/>

        <div v-if="files || input_files.length" class="file-uploader-img-cnt">

            <div
                v-for="file, index of files"
                class="file-uploader-img-item">
                <img :src="file.url" alt="image" class="rounded-sm file-uploader-img">

                <div class="file-uploader-img-item-del" @click="onClickDeleteFile(index)">
                    <img src="/img/icons/16px/close.svg" alt="delete">
                </div>
            </div>

            <div
                v-for="file, index of input_files"
                class="file-uploader-img-item"
                :title="errors[index] ? errors[index].join(', ') : null"
                :class="{'has-errors': !!errors[index]}">
                <img v-if="file.preview" :src="file.preview" :alt="file.name" class="rounded-sm file-uploader-img">
                <small v-else class="p-3">{{ file.name }}</small>

                <div
                    class="file-uploader-img-item-del"
                    @click="onClickDelete(index)">
                    <img src="/img/icons/16px/close.svg" alt="delete">
                </div>
            </div>

            <div class="file-uploader-img-item"
                 v-if="!singleFile || (singleFile && files.length < 1 && input_files.length < 1)">
                <a href="javascript:" @click="onClickAddFile">
                    <svg class="rounded-sm file-uploader-img"
                         viewBox="0 0 121 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="121" height="122" rx="4" fill="#F4F6FA"/>
                        <circle cx="61" cy="61" r="16" fill="#D6DEEB"/>
                        <rect x="60" y="51" width="2" height="20" fill="white"/>
                        <rect x="51" y="62" width="2" height="20" transform="rotate(-90 51 62)" fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
        <div v-else class="file-uploader-info">
            <p class="file-uploader-title">{{ title }}</p>
            <button class="btn btn-light shadow" type="button" @click="onClickAddFile">{{ titleBtn }}</button>
            <p v-if="hint" class="file-uploader-hint">{{ hint }}</p>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .file-uploader {
        padding: .75rem;
        border: 2px dashed #9eacc3;
        background-color: #fff;

        &-info {
            padding: 2rem;
            text-align: center;
        }

        &-img {
            display: block;
            width: 100%;
            height: 100%;

            &-cnt {
                display: flex;
                flex-flow: wrap;
                margin-right: -.75rem;
                margin-bottom: -.75rem;
            }

            &-item {
                width: 7.4rem;
                height: 7.4rem;
                margin-right: .75rem;
                margin-bottom: .75rem;
                background-color: #f4f6fa;
                overflow: hidden;
                position: relative;
                user-select: none;

                &-del {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    cursor: pointer;

                    img {
                        display: block;
                    }
                }

                &.has-errors {
                    border: 3px solid red;
                    border-radius: 8px;
                }
            }
        }

        &-hint {
            margin-top: 2.5rem;
            margin-bottom: 0;
            color: #aab6cb;
        }

        &.file-uploader-highlight {
            opacity: .5;
        }
    }
</style>

<script>
    import api from "../../api";

    export default {
        model: {
            prop: 'files',
        },
        props: {
            title: {
                type: String,
                default: 'Перетащите изображение в это поле \n или'
            },
            titleBtn: {
                type: String,
                default: 'Нажмите, чтобы выбрать файлы на компьютере'
            },
            hint: {
                type: String,
                default: null
            },
            files: {
                type: Array,
                default: null
            },
            id: {
                default: null
            },
            urlLoad: {
                type: String,
                default: null
            },
            urlDelete: {
                type: String,
                default: null
            },
            singleFile: {
                type: Boolean,
                default: false
            },
            inputName: {
                type: String,
                default: 'files'
            },
            onChangeInputFiles: {
                type: Function,
                default: null
            },
            errors: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                highlight_input: false,
                input_files: []
            }
        },
        methods: {
            onClickDeleteFile(index) {
                if (!this.id || !this.urlDelete) {
                    return;
                }
                let deleted_file = this.files.splice(index, 1)[0];
                api.fetchPost(this.urlDelete, {
                    id: this.id,
                    image_id: deleted_file.id,
                    name: this.inputName
                })
                    .then(api.middlewareErrors)
                    .then(res => {
                        this.$emit('update:files', res);
                    })
                    .catch(err => {
                        this.files.push(deleted_file);
                        this.$forceUpdate();
                    });
                this.$forceUpdate();
            },
            onClickDelete(index) {
                let errors = this.errors;
                this.input_files.splice(index, 1);
                errors.splice(index, 1);
                this.$refs.input_file.value = '';
                if (this.onChangeInputFiles) {
                    this.onChangeInputFiles(this.input_files)
                }
                this.$emit('update:errors', errors);
            },
            onClickAddFile(){
                $(this.$el).find('input[type="file"]').click()
            },
            onChangeInputFile(ev) {
                if (ev.target.files) {
                    this.pushFiles(ev.target.files)
                    this.$emit('update:files', ev.target.files);
                }
            },

            dragenter() {
                this.highlight_input = true;
            },
            dragleave() {
                this.highlight_input = false;
            },
            dragover(ev) {
                ev.dataTransfer.dropEffect = "move";
                this.highlight_input = true;
            },
            drop(ev) {
                this.pushFiles(ev.dataTransfer.files)
            },

            pushFiles(files) {
                for (let file of files) {
                    file.preview = null;
                    if (file.type.indexOf('image/') === 0) {
                        file.preview = URL.createObjectURL(file);
                    }
                    this.input_files.push(file);
                    if (!!this.id && !!this.urlLoad) {
                        this.sendFile(file)
                    }
                }
                if (this.onChangeInputFiles) {
                    this.onChangeInputFiles(this.input_files)
                }
                this.highlight_input = false;
            },

            sendFile(file) {
                let formData = new FormData();
                formData.append('id', this.id);
                formData.append(this.inputName, file);
                api.fetchPostForm(this.urlLoad, formData)
                    .then(api.middlewareErrors)
                    .then(res => {
                        this.$emit('update:files', res);
                    })
                    .catch(err => {
                        let file_index = this.input_files.findIndex(item => item === file);
                        this.input_files.splice(file_index, 1)
                    })
            }
        }
    }
</script>
