<template>
    <form-select
        ref="form_select"
        :multi="multi"
        v-model="value_tmp"
        :placeholder="placeholder"
        :size="size"
        :values="values"
        :show-search="values.length > 20"
        :search-placeholder="searchPlaceholder"
        :disabled="disabled"
    ></form-select>
</template>

<script>
    export default {
        model: {
            prop: 'value',
        },
        props: {
            placeholder: {
                type: String,
                default: 'Выберите',
            },
            size: {
                type: String,
                default: 'md'
            },
            multi: {
                type: Boolean,
                default: false
            },
            searchPlaceholder: {
                type: String,
                required: false,
                default: 'Поиск'
            },
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                default: null
            },
            urlBrands: {
                type: String,
                default: '/api/vehicle/brands'
            }
        },
        data() {
            return {
                //values: [],
                brands: [],
                value_tmp: null,
                loading: true
            }
        },
        computed: {
            values() {
                return this.brands;
            }
        },
        watch: {
            value_tmp(to, from) {
                if (!this.loading) {
                    this.$emit('input', to);
                    //this.$emit('change', to)
                }
            },
        },
        created() {
            this.loadBrands();
        },
        mounted() {
            this.$refs.form_select.$on('change', () => {
                this.$emit('change', this.$refs.form_select.value)
            })
        },
        methods: {
            loadBrands() {
                this.loading = true;
                this.axios.get(this.urlBrands)
                    .then(res => {
                        this.brands = res.data.brands;
                        if (this.multi) {
                            this.value_tmp = this.value ? [...this.value] : [];
                        } else {
                            this.value_tmp = this.value || null;
                        }
                        this.loading = false;
                    })
            },
        },
    }
</script>
