<template>
    <div class="form-progress" ref="cnt">
        <div
            v-for="item, index of data"
            :class="{active: (index+1) <= step, current: (index+1) === step}"
            class="form-progress-item">
            {{ item.name }}
            <div class="form-progress-item-dot">{{ index+1 }}</div>
        </div>
        <div class="form-progress-line">
            <div class="form-progress-line-colored" :style="{width: `${line_width}px`}"></div>
        </div>
    </div>
</template>

<style lang="scss">
    $color-primary: #0066FF;
    $color-secondary: #D6DEEB;
    $dot-size: 20px;

    .form-progress {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        &-line {
            height: 2px;
            background: $color-secondary;
            position: absolute;
            margin-top: 1px;
            bottom: $dot-size /2;
            z-index: -1;

            &-colored {
                height: 100%;
                background-color: $color-primary;
                width: 0;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $color-secondary;
            font-weight: 600;
            font-size: .75rem;

            &-dot {
                width: $dot-size;
                height: $dot-size;
                border: 2px solid $color-secondary;
                background: white;
                border-radius: 50%;
                color: $color-secondary;
                display: block;
                text-align: center;
                line-height: 1.3;
                font-size: .75rem;
                text-indent: 0;
                margin-top: 6px;
            }

            &.active & {
                color: $color-primary;

                &-dot {
                    border-color: $color-primary;
                    background: $color-primary;
                    color: white;
                }
            }

            &.current {
                color: $color-primary;
            }
        }
    }
</style>

<script>
    export default {
        props: {
            data: {
                type: Array,
                required: true,
            },
            step: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                line_width: 0,
            }
        },
        created() {

        },
        mounted() {
            this.onResize();
            setTimeout(() => {
                this.onResize()
            }, 10);
            window.addEventListener('resize', this.onResize);
            $('#nav-tab a[data-toggle="tab"]').on('shown.bs.tab', (e) => {
                this.onResize()
            })
        },
        methods: {
            onResize() {

                let $items = $(this.$refs.cnt).find('.form-progress-item');
                let css = {
                    left: $items.eq(0).width() / 2,
                    right: $items.eq($items.length - 1).width() / 2,
                };
                $(this.$refs.cnt).find('.form-progress-line').css(css);

                this.updateUI()
            },
            updateUI() {
                let $dots = $(this.$refs.cnt).find('.form-progress-item-dot');
                this.line_width = $dots.eq(this.step - 1).offset().left - $dots.eq(0).offset().left
            }
        },
        watch: {
            step(new_val, old_val) {
                this.updateUI();
            }
        }
    }
</script>
