<template>
    <div class="fslc">
        <div class="fslc-progress">
            <form-progress :data="steps_data" :step="step"></form-progress>
        </div>
        <div class="fslc-container py-4 ">

            <ul class="nav nav-tabs d-none" id="myTab" role="tablist" ref="tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="step1-tab" data-toggle="tab"
                       href="#step1" role="tab" aria-controls="home"
                       aria-selected="true">Категория лота</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step2-tab" data-toggle="tab"
                       href="#step2" role="tab" aria-controls="profile"
                       aria-selected="false">Информация об имуществе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step3-tab" data-toggle="tab"
                       href="#step3" role="tab" aria-controls="contact"
                       aria-selected="false">Информация о торгах</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step4-tab" data-toggle="tab"
                       href="#step4" role="tab" aria-controls="contact"
                       aria-selected="false">Публикация лота</a>
                </li>
            </ul>

            <div class="tab-content" id="nav-tabContent2">
                <div class="tab-pane show active" id="step1" role="tabpanel">

                    <div class="h2">Выберите категорию <span class="text-danger">*</span></div>

                    <div class="form-group">
                        <form-multi-select
                            title="Категории лотов"
                            style="width: 260px;"
                            show-search
                            text-key="title"
                            v-model="lot.category"
                            :items="categories"
                        ></form-multi-select>
                        <button
                            type="button"
                            class="btn btn-primary ml-2"
                            @click="onClickNext"
                            :disabled="disabledBtnNext">
                            Далее
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 4L13 4M13 4L9.41658 1M13 4L9.41658 7" stroke="white" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <small
                            v-if="errors.category"
                            class="form-text text-danger">{{ errors.category[0] }}</small>
                    </div>


                </div>
                <div class="tab-pane" id="step2" role="tabpanel">

                    <div class="h2 mt-4">Характеристики имущества</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div
                                v-if="lot.params"
                                v-for="param in params"
                                class="form-group">
                                <label class="d-block">{{ param.title }} <span class="text-danger">*</span></label>

                                <form-multi-select
                                    v-if="param.type === 'checkbox'"
                                    class="d-block"
                                    title="Не выбрано"
                                    :show-search="param.values.length > 10"
                                    v-model="lot.params[param.code]"
                                    :items="param.values"></form-multi-select>
                                <form-select-vehicle-brands
                                    v-else-if="param.type === 'checkbox-vehicle-brands'"
                                    class="d-block"
                                    :placeholder="param.title"
                                    v-model="car_brand"
                                    :url-brands="`/api/vehicle/${queryParamType}brands`"
                                ></form-select-vehicle-brands>
                                <form-select-vehicle-model
                                    v-else-if="param.type === 'checkbox-vehicle-models'"
                                    class="d-block"
                                    :vehicle-brands="car_brand ? [car_brand] : []"
                                    :placeholder="param.title"
                                    v-model="car_model"
                                    :url-models="`/api/vehicle/${queryParamType}models`"
                                ></form-select-vehicle-model>
                                <input
                                    v-else
                                    type="text"
                                    v-model="lot.params[param.code]"
                                    class="form-control"
                                    placeholder="">
                                <small
                                    v-if="errors[`params.${param.code}`]"
                                    class="form-text text-danger">{{ errors[`params.${param.code}`][0] }}</small>

                            </div>
                        </div>
                    </div>

                    <div class="h2 mt-4">Подробности и внешний вид</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Территориальное расположение <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    v-model="lot.address"
                                    class="form-control"
                                    placeholder="Адрес">
                                <small
                                    v-if="errors.address"
                                    class="form-text text-danger">{{ errors.address[0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Название лота <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    v-model="lot.title"
                                    class="form-control"
                                    placeholder="Заголовок">
                                <small
                                    v-if="errors.title"
                                    class="form-text text-danger">{{ errors.title[0] }}</small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Общая информация <span class="text-danger">*</span></label>
                                <textarea
                                    v-model="lot.description"
                                    class="form-control"
                                    rows="6"></textarea>
                                <small
                                    v-if="errors.description"
                                    class="form-text text-danger">{{ errors.description[0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Порядок, место, срок и время представления заявок <span class="text-danger">*</span></label>
                                <textarea
                                    v-model="lot.ApplicationRules"
                                    class="form-control"
                                    rows="6"></textarea>
                                <small
                                    v-if="errors.ApplicationRules"
                                    class="form-text text-danger">{{ errors.ApplicationRules[0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Порядок и срок заключения договора купли-продажи имущества (предприятия)
                                    должника <span class="text-danger">*</span></label>
                                <textarea
                                    v-model="lot.SaleAgreement"
                                    class="form-control"
                                    rows="6"></textarea>
                                <small
                                    v-if="errors.SaleAgreement"
                                    class="form-text text-danger">{{ errors.SaleAgreement[0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Сроки платежей, реквизиты счетов, на которые вносятся платежи <span class="text-danger">*</span></label>
                                <textarea
                                    v-model="lot.PaymentInfo"
                                    class="form-control"
                                    rows="6"></textarea>
                                <small
                                    v-if="errors.PaymentInfo"
                                    class="form-text text-danger">{{ errors.PaymentInfo[0] }}</small>
                            </div>
                            <div class="form-group mb-4">
                                <label>Добавление изображения</label>
                                <file-uploader
                                    ref="input_images"
                                    hint="Размер изображения 255х510 пикселей, форматы .jpg .png .gif"
                                    :on-change-input-files="onChangeInputFilesImages"
                                    :errors.sync="images_errors"
                                ></file-uploader>
                                <small
                                    v-if="images_errors_text"
                                    class="form-text text-danger">{{ images_errors_text }}</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="step3" role="tabpanel">

                    <div class="h2 mt-4">Общая информация</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <b-form-group label="Тип торгов">
                                    <b-form-radio-group
                                        v-model="lot.auction_type"
                                        :options="auction_types"
                                        name="auction_type"
                                        stacked
                                    ></b-form-radio-group>
                                </b-form-group>

                            </div>
                            <div class="form-group">
                                <b-form-group label="Секция торгов">
                                    <b-form-radio-group
                                        v-model="lot.trade_section"
                                        :options="trade_sections"
                                        name="trade_sections"
                                        stacked
                                    ></b-form-radio-group>
                                </b-form-group>
                            </div>

                        </div>
                    </div>

                    <div class="h2 mt-4">Цена и ее изменение</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Начальная цена лота <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="₽"
                                    v-model="lot.start_price"
                                    @keypress="onKeyPressNumericOnly">
                                <small
                                    v-if="errors.start_price"
                                    class="form-text text-danger">{{ errors.start_price[0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Размер задатка для участия <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="₽ / %"
                                    v-model="lot.advance_price"
                                    @keyup="onKeyPressNumericAndPercent">
                                <small
                                    v-if="errors.advance_price"
                                    class="form-text text-danger">{{ errors.advance_price[0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Шаг повышения цены <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="₽ / %"
                                    v-model="lot.step_price"
                                    @keyup="onKeyPressNumericAndPercent">
                                <small
                                    v-if="errors.step_price"
                                    class="form-text text-danger">{{ errors.step_price[0] }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="h2 mt-4">Сроки проведения торгов</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Начало приема заявок <span class="text-danger">*</span></label>
                                <div class="d-block">
                                    <date-picker
                                        input-class="form-control"
                                        :disabled-date="checkApplicationTimeBegin"
                                        v-model="lot.ApplicationTimeBegin"
                                        format="DD.MM.YYYY HH:mm"
                                        value-type="DD.MM.YYYY HH:mm"
                                        type="datetime"></date-picker>
                                </div>
                                <small
                                    v-if="errors.ApplicationTimeBegin"
                                    class="form-text text-danger">{{ errors.ApplicationTimeBegin[0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Окончание приема заявок <span class="text-danger">*</span></label>
                                <div class="d-block">
                                    <date-picker
                                        input-class="form-control"
                                        :disabled-date="checkApplicationTimeEnd"
                                        v-model="lot.ApplicationTimeEnd"
                                        format="DD.MM.YYYY HH:mm"
                                        value-type="DD.MM.YYYY HH:mm"
                                        type="datetime"></date-picker>
                                </div>
                                <small
                                    v-if="errors.ApplicationTimeEnd"
                                    class="form-text text-danger">{{ errors.ApplicationTimeEnd[0] }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="h2 mt-4">Площадка проведения торгов</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Страница лота на ЭТП <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Укажите ссылку на лот"
                                    v-model="lot.trade_place_url"
                                >
                                <small
                                    v-if="errors.trade_place_url"
                                    class="form-text text-danger">{{ errors.trade_place_url[0] }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="h2 mt-4">Информация о должнике</div>
                    <div class="row" v-if="lot.debtor">
                        <div class="col-md-6">

                            <div class="form-group">
                                <b-form-group label="Тип должника">
                                    <b-form-radio-group
                                        v-model="lot.debtor.type"
                                        :options="debtor_types"
                                        name="auction_types"
                                        stacked
                                    ></b-form-radio-group>
                                </b-form-group>
                            </div>

                            <div class="form-group">
                                <label>ФИО / организация <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="-"
                                    v-model="lot.debtor.name">
                                <small
                                    v-if="errors['debtor.name']"
                                    class="form-text text-danger">{{ errors['debtor.name'][0] }}</small>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ИНН <span class="text-danger">*</span></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="-"
                                            v-model="lot.debtor.inn">
                                        <small
                                            v-if="errors['debtor.inn']"
                                            class="form-text text-danger">{{ errors['debtor.inn'][0] }}</small>
                                    </div>
                                    <div class="form-group">
                                        <label>ОГРН(ИП) <span class="text-danger">*</span></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="-"
                                            v-model="lot.debtor.ogrn">
                                        <small
                                            v-if="errors['debtor.ogrn']"
                                            class="form-text text-danger">{{ errors['debtor.ogrn'][0] }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="h2 mt-4">Арбитражный управляющий</div>
                    <div class="row" v-if="lot.arbitr">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ФИО <span class="text-danger">*</span></label>
                                <input type="text" class="form-control"
                                       v-model="lot.arbitr.fio">
                                <small
                                    v-if="errors['arbitr.fio']"
                                    class="form-text text-danger">{{ errors['arbitr.fio'][0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>E-mail <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="lot.arbitr.email">
                                <small
                                    v-if="errors['arbitr.email']"
                                    class="form-text text-danger">{{ errors['arbitr.email'][0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>Телефон <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="lot.arbitr.phone">
                                <small
                                    v-if="errors['arbitr.phone']"
                                    class="form-text text-danger">{{ errors['arbitr.phone'][0] }}</small>
                            </div>
                            <div class="form-group">
                                <label>ИНН <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="lot.arbitr.inn">
                                <small
                                    v-if="errors['arbitr.inn']"
                                    class="form-text text-danger">{{ errors['arbitr.inn'][0] }}</small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Наименование СРО</label>
                                <textarea
                                    rows="2"
                                    class="form-control"
                                    v-model="lot.arbitr.sro"></textarea>
                                <small
                                    v-if="errors['arbitr.sro']"
                                    class="form-text text-danger">{{ errors['arbitr.sro'][0] }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="h2 mt-4">Документы</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Загрузка документов</label>
                                <file-uploader
                                    :files.sync="lot.docs"
                                    ref="input_docs"
                                    class="mb-4"
                                    :title="`Перетащите документы в это поле\n или`"
                                ></file-uploader>
                                <small
                                    v-if="errors.docs"
                                    class="form-text text-danger">{{ errors.docs[0] }}</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="step4" role="tabpanel">
                    <div class="h2 mt-4">Посмотрите, как будет выглядеть Ваш лот:</div>
                    <trade-lot :lot="lot" v-if="step === 4"></trade-lot>
                </div>
            </div>

            <div v-if="step !== 1" class="mt-4">
                <button
                    v-if="!is_created"
                    class="btn btn-default"
                    @click="onClickPrevent"
                    :disabled="step === 1">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 8H2M2 8L5.58342 5M2 8L5.58342 11" stroke="#39475F" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    Назад
                </button>
                <button
                    v-if="step === steps_data.length"
                    class="btn btn-primary"
                    @click="onClickPublish">
                    Опубликовать
                </button>
                <button
                    v-else
                    class="btn btn-primary"
                    @click="onClickNext"
                    :disabled="disabledBtnNext">
                    Далее
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 8H14M14 8L10.4166 5M14 8L10.4166 11" stroke="white" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    $black: #000000;
    $link-color: blue;

    .fslc-outline {
        outline: 1px dashed green;
    }
</style>

<script>
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ru';

    export default {
        components: {DatePicker},
        props: {
            arbitr: {
                type: Object,
                default: null
            }
        },
        data() {
            return {
                is_created: false,
                step: 1,
                steps_data: [
                    {name: 'Категория лота'},
                    {name: 'Информация об имуществе'},
                    {name: 'Информация о торгах'},
                    {name: 'Публикация лота'},
                ],
                categories: [],
                params: [],
                auction_types: [
                    {value: 'OpenAuction', text: 'Аукцион'},
                    {value: 'PublicOffer', text: 'Публичное предложение'}, // ?
                ],
                debtor_types: [
                    {value: 'DebtorCompany', text: 'Юридическое лицо'},
                    {value: 'DebtorPerson', text: 'Физическое лифо'},
                ],
                trade_sections: [
                    {value: 'bankruptcy', text: 'Банкротство'},
                    {value: 'arrest', text: 'Арест'},
                ],
                errors: [],
                lot: {
                    id: "000000",
                    category: null,
                    address: null,
                    title: null,
                    description: null,
                    start_price: null,
                    advance_price: null,
                    step_price: null,
                    trade_place_url: null,
                    params: {},
                    bankrupt: {},
                    arbitr: {},
                    debtor: {
                        type: 'DebtorCompany'
                    },
                    auction_type: 'OpenAuction',
                    trade_section: 'bankruptcy',
                    images: [],
                    docs: [],
                    category_name: null
                },
                car_brand: null,
                car_model: null,
                images_errors: [],
            }
        },
        created() {
            if (this.arbitr) {
                if (this.arbitr.org_profile_type === 1) {
                    this.lot.arbitr.fio = [
                        this.arbitr.org_profile_first_name,
                        this.arbitr.org_profile_last_name,
                        this.arbitr.org_profile_middle_name,
                    ].join(' ');
                } else {
                    this.lot.arbitr.fio = [
                        this.arbitr.org_profile_full_name,
                    ].join(' ');
                }
                this.lot.arbitr.inn = this.arbitr.inn;
                this.lot.arbitr.email = this.arbitr.email;
                this.lot.arbitr.phone = this.arbitr.phone;
                // todo: нет данных
                this.lot.arbitr.sro = null;
            }
        },
        mounted() {
            this.showTab(this.step - 1);
            // disable back button
            history.pushState(null, null, document.URL);
            window.addEventListener('popstate', function () {
                history.pushState(null, null, document.URL);
            });
            this.loadDataForStep(1);
        },
        watch: {
            car_brand(to, from) {
                this.lot.params.car_brand = to;
                this.car_model = this.lot.params.car_model = null;
            },
            car_model(to, from) {
                this.lot.params.car_model = to;
            }
        },
        computed: {
            queryParamType() {
                let category;
                for (let item of this.categories) {
                    if (item.id === this.lot.category) {
                        category = item;
                        break;
                    }
                    category = item.children.find(item => item.id === this.lot.category);
                    if (category) {
                        break;
                    }
                }
                return (category && (category.id === 3 || category.parent_id === 3)) ? 'spec-' : '';
            },
            images_errors_text() {
                if (this.images_errors.length) {
                    let unique_errors = [];
                    this.images_errors.forEach(errors => {
                        errors.forEach(error => {
                            if (unique_errors.indexOf(error) === -1) {
                                unique_errors.push(error)
                            }
                        });
                    });
                    return unique_errors.join(', ');
                }
                return null;
            },
            categories_list() {
                return this.categories.map(item => {
                    return {
                        id: item.id,
                        title: item.title,
                    }
                });
            },
            disabledBtnNext() {
                if (this.step >= this.steps_data.length) {
                    return true;
                }
                if (this.step === 1) {
                    if (!this.lot.category) {
                        return true;
                    }
                } else if (this.step === 2) {
                    if (!this.validateSecondStep()) {
                        return true;
                    }
                } else if (this.step === 3) {
                    if (!this.validateThirdStep()) {
                        return true;
                    }
                }
                return false;
            },
            tabs_to_fields() {
                let fields = [
                    ['category']
                ];
                fields.push(this.params.map(param => `params.${param.code}`));
                fields[1].push('address', 'title', 'description', 'ApplicationRules', 'SaleAgreement', 'PaymentInfo', 'images');

                this.images_errors.forEach((errors, index) => {
                    if (errors) {
                        fields[1].push(`images.${index}`);
                    }
                });

                fields.push([
                    'auction_type', 'trade_section', 'start_price', 'advance_price', 'step_price', 'ApplicationTimeBegin',
                    'ApplicationTimeEnd', 'trade_place_url', 'debtor.name', 'debtor.inn', 'debtor.ogrn', 'debtor.type',
                    'arbitr.email', 'arbitr.fio', 'arbitr.inn', 'arbitr.phone', 'arbitr.sro', 'docs'
                ]);
                return fields;
            }
        },
        methods: {
            validateThirdStep() {
                let lot = this.lot,
                    debtor = this.lot.debtor,
                    arbitr = this.lot.arbitr;

                return lot.start_price && lot.step_price && lot.advance_price && lot.trade_place_url &&
                    lot.ApplicationTimeBegin && lot.ApplicationTimeEnd &&
                    debtor.inn && debtor.name && debtor.ogrn &&
                    arbitr.fio && arbitr.email && arbitr.phone && arbitr.inn;
            },
            validateSecondStep() {
                let lot = this.lot,
                    params = this.lot.params;

                return lot.title && lot.description && lot.address &&
                    lot.ApplicationRules && lot.PaymentInfo && lot.SaleAgreement &&
                    (
                        (params.car_brand && params.car_model && params.car_year) ||
                        params.kol_komnat || params.realty_meters
                    );
            },
            onKeyPressNumericAndPercent(e) {
                let m = e.target.value.match(/(\d+)(%)?/);
                if (!m) {
                    e.target.value = '';
                    return;
                }
                let val = m[1];
                if (m[2]) {
                    val += m[2];
                }
                e.target.value = val
            },
            onKeyPressNumericOnly(e) {
                let keyCode = e.which ? e.which : e.keyCode;
                if (keyCode < 48 || keyCode > 57) {
                    e.preventDefault();
                    return false;
                }
            },
            checkApplicationTimeBegin(date) {
                return date < Date.now()
            },
            checkApplicationTimeEnd(date) {
                return date < Date.now()
            },
            onChangeInputFilesImages(files) {
                this.lot.images = files.map(file => ({url: file.preview, alt: '...'}));
            },
            onClickNext() {
                this.step++;
                this.loadDataForStep(this.step);
                this.showTab(this.step - 1);
                this.scrollTop();
            },
            onClickPrevent() {
                this.step--;
                this.showTab(this.step - 1);
                this.scrollTop();
            },
            onClickPublish() {
                let formData = new FormData();
                for (let key in this.lot) {
                    if (['debtor', 'arbitr', 'bankrupt', 'params', 'images', 'docs'].indexOf(key) !== -1) {
                        continue;
                    }
                    formData.append(key, this.lot[key]);
                }
                let objNameList = ['debtor', 'arbitr', 'bankrupt', 'params'];
                for (let objName of objNameList) {
                    for (let fieldName in this.lot[objName]) {
                        formData.append(`${objName}[${fieldName}]`, this.lot[objName][fieldName]);
                    }
                }
                for (let file of this.$refs.input_images.input_files) {
                    formData.append('images[]', file);
                }
                for (let doc of this.$refs.input_docs.$refs.input_file.files) {
                    formData.append('docs[]', doc);
                }

                this.axios.post('/api/cabinet/publish_lot', formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                })
                    .then(res => {
                        this.is_created = true;
                        this.errors = [];
                        this.images_errors = [];
                        this.lot = res.data.lot;
                        if (res.data.redirect_url) {
                            location.href = res.data.redirect_url;
                        }
                    })
                    .catch(err => {
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                            this.images_errors = [];
                            Object.keys(this.errors).forEach(field => {
                                let match = field.match(/images\.(\d+)/u);
                                if (match) {
                                    this.images_errors[+match[1]] = this.errors[match[0]];
                                }
                            });
                            this.showFirstTabWithErrors();
                            if (Object.keys(this.errors).length) {
                                alert('Были допущены ошибки')
                            }
                        }
                    });
            },
            scrollTop() {
                $('html, body').animate({scrollTop: 0}, 160)
            },
            showTab(index) {
                let $tabs = $(this.$refs.tabs);
                $tabs.find('.nav-link').eq(index).tab('show')
            },
            loadDataForStep(step) {
                switch (step) {
                    case 1:
                        this.axios.get('/cabinet/data_for_lot_adding')
                            .then(res => this.categories = res.data.categories);
                        break;
                    case 2:
                        this.axios.get(`/cabinet/data_for_lot_adding?step=2&category=${this.lot.category}`)
                            .then(res => {
                                this.params = res.data.params;
                                this.lot.params = {};
                                this.lot.category_name = res.data.category_name;
                                this.lot.last_category_lot_img = res.data.lot_no_img;
                                for (let param of res.data.params) {
                                    this.lot.params[param.code] = null;
                                }
                            });
                        break;
                    case 3:
                        break;
                    case 4:
                        break;
                }
            },
            showFirstTabWithErrors() {
                let errors_keys = Object.keys(this.errors);
                for (let tab_index in this.tabs_to_fields) {
                    if (this.tabs_to_fields[tab_index].some((items, index) => errors_keys.indexOf(items) !== -1)) {
                        this.step = +tab_index + 1;
                        this.showTab(this.step - 1);
                        this.scrollTop();
                        return;
                    }
                }
                errors_keys.filter(item)
            }
        }
    }
</script>
