<template>
    <div class="multi-select" :class="{'d-block': wide}">
        <input v-if="inputName" v-for="val in _input_value" type="hidden" :name="inputName" :value="val">
        <div
            @click="onClickRowTitle"
            :class="{'custom-select-sm': size === 'sm'}"
            :disabled="disabled"
            class="multi-select-row custom-select">
            <div class="multi-select-title">
                {{ current_value_title }}
                <span v-if="multicheck">({{ selected_count }}/{{ this._items.length }})</span>
            </div>
        </div>
        <div
            v-if="show_items"
            class="multi-select-items pt-3 shadow rounded">
            <div>
                <div v-if="showSearch" class="px-4 pt-2 pb-2">
                    <input
                        type="text"
                        class="multi-select-input"
                        v-model="search_str"
                        :placeholder="searchPlaceholder" />
                </div>

                <div v-if="multicheck" class="multi-select-items-scrollable">
                    <div v-for="item, index in filtered_items"
                         class="multi-select-item px-4 py-1">
                        <div class="custom-control custom-checkbox">
                            <input
                                type="checkbox"
                                class="custom-control-input"
                                :checked="item.active"
                                v-model=item.active
                                @change="onChangeCheckBox"
                                @press="onChangeCheckBox"
                                :id="`fmsch${index}`">
                            <label class="custom-control-label d-block" :for="`fmsch${index}`">{{item[textKey]}}</label>
                        </div>
                    </div>
                    <div v-if="filtered_items.length === 0" class="mb-3 pt-3 text-center">
                        <i class="text-black-50"><small>Нет совпадений</small></i>
                    </div>
                </div>
                <div v-else class="multi-select-items-scrollable">

                    <div
                        v-for="item, index in filtered_items">
                        <div
                            @click="onClickListItem(item)"
                            :class="{active: item.active}"
                            class="multi-select-item px-4 py-1">
                            <b>{{ item[textKey] }}</b>
                        </div>
                        <div
                            v-if="item.children"
                            v-for="item2 in filtered_children_items(item)"
                            @click="onClickListItem(item2)"
                            :class="{active: item2.active}"
                            class="multi-select-item py-1 pl-3">
                            <div class="pl-3">
                                {{ item2[textKey] }}
                            </div>
                        </div>
                    </div>

                    <div v-if="filtered_items.length === 0" class="mb-3 pt-3 text-center">
                        <i class="text-black-50"><small>Нет совпадений</small></i>
                    </div>
                </div>

                <div v-if="showBtn" class="px-4 pb-4 pt-2">
                    <button
                        type="button"
                        @click="onClickBtn"
                        class="btn btn-primary btn-sm btn-block">
                        {{ btnTitle }}
                    </button>
                </div>
                <div v-else class="pt-3"></div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .multi-select {
        position: relative;
        display: inline-block;

        &-title {
            overflow: hidden;
            white-space: nowrap;
        }

        &-row {
            cursor: pointer;

            &[disabled] {
                background-color: #F4F6FA;
                border-color: #F4F6FA;
            }
        }

        &-input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #9eacc3;
            color: #9eacc3;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &-items {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 4;
            overflow: hidden;
            min-width: 172px;
            background-color: #fff;
            line-height: 1.7;

            &-scrollable {
                max-height: 302px;
                overflow: auto;
            }
        }

        &-item {
            font-weight: 400;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: #ecf3ff;
            }
        }
    }
</style>

<script>
    import Inputmask from 'inputmask';

    export default {
        props: {
            title: {
                type: String,
                required: true,
                default: 'Select value',
            },
            items: {
                type: Array,
                default: [],
                required: true,
            },
            showBtn: {
                type: Boolean,
                default: false
            },
            size: {
                type: String,
                default: 'md'
            },
            showSearch: {
                type: Boolean,
                default: false
            },
            wide: {
                type: Boolean,
                default: false
            },
            multicheck: {
                type: Boolean,
                default: false
            },
            autoSubmit: {
                type: Boolean,
                default: false
            },
            btnTitle: {
                type: String,
                required: false,
                default: 'Применить'
            },
            textKey: {
                type: String,
                required: false,
                default: 'name'
            },
            searchPlaceholder: {
                type: String,
                required: false,
                default: 'Поиск по названию'
            },
            onChange: {
                type: Function,
                required: false
            },
            inputName: {
                type: String,
                required: false,
                default: null
            },
            inputValue: {
                type: Array,
                required: false,
                default: () => []
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                show_items: false,
                _items: [],
                search_str: "",
                value_text: null,
                _input_value: []
            }
        },
        created() {
            this.updateItems();
            if (this.inputValue) {
                this._input_value = [...this.inputValue];
            }
        },
        mounted() {
            $(this.$el.ownerDocument).click((e) => {
                let is_children = !!$(this.$el).find(e.target).length;
                if (!is_children) {
                    this.show_items = false
                }
            })
        },
        watch: {
            items(to, from) {
                console.log('watch items', to)
                this.updateItems();
                this._input_value = [...this.inputValue];
            },
            inputValue(to, from) {
                console.log('watch inputValue', to)
            }
        },
        computed: {
            current_value(){
                return this._items.filter(item => item.active)
            },
            current_value_title(){
                let text = [];
                let active_items = this._items.filter(item => item.active);
                text = active_items.map(item => item[this.textKey]);
                active_items = active_items
                    .filter(item => !!item.children)
                    .map(item => item.children)
                    .flat()
                    .filter(item => item.active)
                    .map(item => item[this.textKey]);
                text = [...text, ...active_items];
                let text_selected_items = text.join(', ');
                return (text_selected_items.length < 26 ? text_selected_items : 'Выбрано') || this.value_text || this.title;
            },
            filtered_items() {
                this.sortItems();
                if (this.search_str.length === 0) {
                    return this._items
                }
                let textKey = this.textKey;
                let search_str = this.search_str;
                return this._items.filter(item => {
                    if (item.children) {
                        return item.children.find(function (item) {
                            return item[textKey].toLowerCase().indexOf(search_str.toLowerCase()) !== -1;
                        })
                    }
                    return item[textKey].toLowerCase().indexOf(search_str.toLowerCase()) !== -1;
                });
            },
            selected_count() {
                return this._items.filter(i => this._input_value.indexOf(i.name) !== -1).length
            },
            items_x() {
                return this._items
            }
        },
        methods: {
            updateItems() {
                this._items = [...this.items].map(item => {
                    if (typeof item === 'string') {
                        return {
                            name: item,
                            active: !this.inputValue.length ? false : (this.inputValue.indexOf(item)) !== -1 ? true : false
                        }
                    } else {
                        return {...item, active: !!item.active}
                    }
                });
                this.$forceUpdate();
            },
            toggleShowItems(){
                this.show_items = !this.show_items;
            },
            onClickRowTitle(){
                if (this.disabled) {
                    return;
                }
                this.toggleShowItems();
            },
            sortItems() {
                this._items.sort((a, b) => {
                    if (a.active === b.active) {
                        return 0;
                    }
                    return a.active < b.active ? +1 : -1;
                });
            },
            onClickListItem(item) {
                if(!this.showBtn){
                    this.toggleShowItems();
                }
                if (!this.multiple) {
                    for (let item of this._items) {
                        item.active = false
                    }
                    this.$emit('input', item.id || item.name)
                } else {
                    this.$emit('input', this._items.filter(item => item.active).map(item => item.id))
                }
                item.active = true;
                this.value_text = item[this.textKey];
                this.$forceUpdate();
                this.onChange && this.onChange(item);
            },
            onClickBtn(){
                this.toggleShowItems();
                this.sortItems();
                this.$forceUpdate();
                if (this.autoSubmit) {
                    $(this.$el).closest('form').submit()
                }
            },
            onChangeCheckBox(e) {
                console.log(this._items)
                this._input_value = this._items.filter(item => item.active).map(item => item.name);
                console.log(this._input_value)
                this.$forceUpdate();
            },
            filtered_children_items(item) {
                if (this.search_str.length === 0) {
                    return item.children
                }
                if (item.children) {
                    let items = item.children;//.map(item => item.children).flat();
                    return items.filter(item => {
                        return item[this.textKey].toLowerCase().indexOf(this.search_str.toLowerCase()) !== -1;
                    });
                }
                return [];
            },
            removeSelectionOfActiveItem(id) {
                for (let item of this.filtered_items) {
                    if (item.id === id) {
                        item.active = false;
                    }
                    if (item.children) {
                        for (let childItem of item.children) {
                            if (childItem.id === id) {
                                childItem.active = false;
                            }
                        }
                    }
                }
            }
        },
    }
</script>
