<template>
    <div class="multi-select">
        <input
            v-if="name && selected_value"
            :name="name"
            :value="selected_value.value"
            ref="input_el"
            type="hidden">
        <input
            v-if="valueText && name && selected_value"
            :name="name.replace(/\]$/, '_text]')"
            :value="selected_value.text"
            ref="input_el_text"
            type="hidden">
        <div
            @click="onClickRowTitle"
            :class="{'custom-select-sm': size === 'sm'}"
            :disabled="disabled"
            class="multi-select-row custom-select">
            <div class="multi-select-title">
                {{ current_placeholder }}
            </div>
        </div>
        <div
            v-if="show_items"
            class="multi-select-items py-3 shadow rounded">
            <div>
                <div class="px-4 pt-1 pb-3">
                    <input
                        type="text"
                        class="multi-select-input"
                        v-model="search_str"
                        :placeholder="searchPlaceholder"
                        ref="input_item" />
                </div>

                <div class="multi-select-items-scrollable">
                    <div v-for="item, index in shown_values"
                         class="multi-select-item px-4 py-1"
                         :class="{active: item.active}">
                        <div
                            v-if="multiple"
                            class="custom-control custom-checkbox"
                        >
                            <input
                                type="checkbox"
                                class="custom-control-input"
                                @input="onClickListItem(item)"
                                :id="`fmsch${index}`">
                            <label
                                class="custom-control-label d-block"
                                :for="`fmsch${index}`">
                                {{ item.text }}
                            </label>
                        </div>
                        <div v-else>
                            <button
                                v-if="item.active"
                                type="button"
                                class="close"
                                @click="onClickClearValue"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div
                                class="d-block"
                                @click="onClickListItem(item)">
                                {{ item.text }}
                            </div>
                        </div>
                    </div>
                    <div v-if="values.length === 0" class="mb-3 pt-3 text-center">
                        <i class="text-black-50">
                            <small v-if="loading">Поиск...</small>
                            <small v-else-if="search_str">Нет совпадений</small>
                            <small v-else>Введите хотя бы {{ minSearchStrLen }} символа</small>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .multi-select {
        position: relative;
        display: inline-block;

        &-title {
            overflow: hidden;
            white-space: nowrap;
        }

        &-row {
            cursor: pointer;

            &[disabled] {
                background-color: #F4F6FA;
                border-color: #F4F6FA;
            }
        }

        &-input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #9eacc3;
            color: #9eacc3;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &-items {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 4;
            overflow: hidden;
            min-width: 172px;
            background-color: #fff;
            line-height: 1.7;

            &-scrollable {
                max-height: 302px;
                overflow: auto;
            }
        }

        &-item {
            font-weight: 400;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: #ecf3ff;
            }
        }
    }
</style>

<script>
    export default {
        model: {
            prop: 'value',
        },
        props: {
            placeholder: {
                type: String,
                default: 'Выберите',
            },
            size: {
                type: String,
                default: 'md'
            },
            searchPlaceholder: {
                type: String,
                required: false,
                default: 'Поиск'
            },
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                default: null
            },
            valueText: {
                default: null
            },
            name: {
                type: String,
                default: null
            },
            minSearchStrLen: {
                default: 3
            },
            keyupTimeoutMs: {
                default: 500
            },
            searchUrl: {
                type: String,
                required: true,
            },
            searchMethod: {
                type: String,
                default: 'get',
            },
            multiple: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                show_items: false,
                search_str: "",
                values: [],
                loading: false,
                loading_timer: null,
                selected_value: null,
            }
        },
        mounted() {
            if (this.value) {
                this.selected_value = {
                    value: this.value,
                    text: this.valueText ? this.valueText : this.value,
                    active: true
                };
            }
            $(this.$el.ownerDocument).click((e) => {
                let is_children = !!$(this.$el).find(e.target).length;
                if (!is_children) {
                    this.show_items = false
                }
            })
        },
        computed: {
            current_placeholder() {
                if (this.selected_value) {
                    return this.selected_value.text
                }
                return this.placeholder;
            },
            shown_values() {
                let result = this.values.map(item => {
                    if (typeof item !== 'object') {
                        item = {
                            value: item,
                            text: item,
                        };
                    }
                    item.active = this.selected_value && item.value === this.selected_value.value;
                    return item;
                });
                if (this.values.length === 0 && this.selected_value) {
                    result.push(this.selected_value)
                }
                return result;
            }
        },
        watch: {
            search_str(to, from) {
                if (to.length >= this.minSearchStrLen) {
                    if (this.loading_timer) {
                        clearTimeout(this.loading_timer);
                        this.loading_timer = null;
                    }
                    this.loading_timer = setTimeout(() => {
                        this.loadValues(to)
                    }, this.keyupTimeoutMs)
                }
            },
            value(to, from) {
                if (to) {
                    this.selected_value = {
                        value: to.value ?? to,
                        text: to.text ?? to.value ?? to,
                        active: true
                    };
                }
            }
        },
        methods: {
            loadValues(str) {
                this.loading = true;
                this.axios({
                    method: this.searchMethod,
                    url: this.searchUrl,
                    data: {str}
                })
                    .then(res => this.values = res.data)
                    .finally(() => this.loading = false)
            },
            onClickRowTitle() {
                if (this.disabled) {
                    return;
                }
                this.toggleShowItems();
                this.$nextTick(function() {
                    this.$refs.input_item.focus()
                })
            },
            onClickListItem(item) {
                this.selected_value = item;
                this.selected_value.active = true;
                this.toggleShowItems();
                this.$emit('input', item);
                this.$emit('change', item)
            },
            toggleShowItems() {
                this.show_items = !this.show_items;
            },
            onClickClearValue() {
                this.onClickListItem("")
            }
        },
    }
</script>
