<template>
    <div class="multi-select">
        <div
            @click="onClickRowTitle"
            :class="{'custom-select-sm': size === 'sm'}"
            :disabled="disabled"
            class="multi-select-row custom-select">
            <div class="multi-select-title">
                {{ current_placeholder }}
                <span v-if="multi">({{ selected_values_count }})</span>
            </div>
        </div>
        <div
            v-if="show_items"
            class="multi-select-items py-3 shadow rounded">
            <div>
                <div v-if="showSearch" class="px-4 pt-1 pb-3">
                    <input
                        type="text"
                        class="multi-select-input"
                        v-model="search_str"
                        :placeholder="searchPlaceholder"/>
                </div>

                <div class="multi-select-items-scrollable">
                    <div v-for="item, index in filtered_values"
                         class="multi-select-item px-4 py-1"
                         :class="{active: item === value}"
                    >
                        <div
                            v-if="multi"
                            class="custom-control custom-checkbox"
                        >
                            <input
                                type="checkbox"
                                class="custom-control-input"
                                :checked="value.indexOf(item) !== -1"
                                @input="onClickListItem(item)"
                                :id="`fmsch${index}`">
                            <label
                                class="custom-control-label d-block"
                                :for="`fmsch${index}`">{{ item }}</label>
                        </div>
                        <div
                            v-else
                            @click="onClickListItem(item)"
                        >
                            <div
                                class="d-block"
                                :for="`fmsch${index}`">{{ item }}
                            </div>
                        </div>
                    </div>
                    <div v-if="filtered_values.length === 0" class="mb-3 pt-3 text-center">
                        <i class="text-black-50"><small>Нет совпадений</small></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .multi-select {
        position: relative;
        display: inline-block;

        &-title {
            overflow: hidden;
            white-space: nowrap;
        }

        &-row {
            cursor: pointer;

            &[disabled] {
                background-color: #F4F6FA;
                border-color: #F4F6FA;
            }
        }

        &-input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #9eacc3;
            color: #9eacc3;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &-items {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 4;
            overflow: hidden;
            min-width: 172px;
            background-color: #fff;
            line-height: 1.7;

            &-scrollable {
                max-height: 302px;
                overflow: auto;
            }
        }

        &-item {
            font-weight: 400;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: #ecf3ff;
            }
        }
    }
</style>

<script>
    export default {
        model: {
            prop: 'value',
        },
        props: {
            placeholder: {
                type: String,
                default: 'Выберите',
            },
            values: {
                type: Array,
                default: [],
            },
            size: {
                type: String,
                default: 'md'
            },
            showSearch: {
                type: Boolean,
                default: false
            },
            multi: {
                type: Boolean,
                default: false
            },
            searchPlaceholder: {
                type: String,
                required: false,
                default: 'Поиск'
            },
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                default: null
            }
        },
        data() {
            return {
                show_items: false,
                search_str: "",
                //value: null
            }
        },
        created() {
            if (this.multi && !Array.isArray(this.value)) {
                //this.value = [];
                this.$emit('input', [])
            }
        },
        mounted() {
            $(this.$el.ownerDocument).click((e) => {
                let is_children = !!$(this.$el).find(e.target).length;
                if (!is_children) {
                    this.show_items = false
                }
            })
        },
        computed: {
            current_placeholder() {
                let str = this.placeholder;
                if (this.multi) {
                    if (!Array.isArray(this.value)) {
                        return str;
                    }
                    let values_str = this.value.join(', ');
                    if (values_str.length > 20) {
                        values_str = values_str.substr(0, 20) + '...'
                    }
                    str += ': ' + values_str;
                } else {
                    if (this.value) {
                        str += ': ' + this.value;
                    }
                }
                return str;
            },
            selected_values_count() {
                if (Array.isArray(this.value)) {
                    return `${this.value.length}/${this.values.length}`
                }
                return null;
            },
            filtered_values() {
                if (!this.search_str) {
                    return this.values;
                }
                return this.values.filter(item => item.toLowerCase().indexOf(this.search_str.toLowerCase()) !== -1);
            }
        },
        methods: {
            onClickRowTitle() {
                if (this.disabled) {
                    return;
                }
                this.toggleShowItems();
            },
            onClickListItem(item) {
                let new_value;
                if (this.multi) {
                    new_value = [...this.value];
                    let idx = this.value.indexOf(item);
                    if (idx === -1) {
                        new_value.push(item);
                    } else {
                        new_value.splice(idx, 1)
                    }
                } else {
                    new_value = `${item}`;
                    this.toggleShowItems();
                    //this.value = item;
                }
                this.$emit('input', new_value)
                this.$emit('change', new_value)
            },
            toggleShowItems() {
                this.show_items = !this.show_items;
            },
        },
    }
</script>
