<template>
    <form-select
        ref="form_select"
        :multi="multi"
        v-model="value_tmp"
        :placeholder="placeholder"
        :size="size"
        :values="values"
        :show-search="values.length > 20"
        :search-placeholder="searchPlaceholder"
        :disabled="disabled"
    ></form-select>
</template>

<script>
    export default {
        model: {
            prop: 'value',
        },
        props: {
            placeholder: {
                type: String,
                default: 'Выберите',
            },
            vehicleBrands: {
                type: Array,
                default: [],
            },
            size: {
                type: String,
                default: 'md'
            },
            multi: {
                type: Boolean,
                default: false
            },
            searchPlaceholder: {
                type: String,
                required: false,
                default: 'Поиск'
            },
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                default: null
            },
            urlModels: {
                type: String,
                default: '/api/vehicle/models'
            }
        },
        data() {
            return {
                //values: [],
                models_by_brand: [],
                value_tmp: null,
                loading: true
            }
        },
        computed: {
            values() {
                return this.models_by_brand
                    .filter(item => this.vehicleBrands.indexOf(item.brand) !== -1)
                    .map(item => item.models)
                    .flat();
            }
        },
        watch: {
            vehicleBrands(to, from) {
                this.vehicleBrands.forEach(brand => this.loadModelsByBrand(brand))
            },
            value_tmp(to, from) {
                if (!this.loading) {
                    this.$emit('input', to);
                    //this.$emit('change', to)
                }
            }
        },
        created() {
            this.vehicleBrands.forEach(brand => this.loadModelsByBrand(brand))
        },
        mounted() {
            this.$refs.form_select.$on('change', () => {
                this.$emit('change', this.$refs.form_select.value)
            })
        },
        methods: {
            loadModelsByBrand(brand) {
                if (this.models_by_brand.findIndex(item => item.brand === brand) === -1) {
                    this.loading = true;
                    let sep = this.urlModels.indexOf('?') === -1 ? `?` : `&`;
                    this.axios.get(`${this.urlModels}${sep}brand=${brand}`)
                        .then(res => {
                            let brand_models = this.models_by_brand.find(item => item.brand === brand);
                            if (brand_models) {
                                brand_models.models = res.data.models;
                            } else {
                                this.models_by_brand.push({
                                    brand: brand,
                                    models: res.data.models,
                                })
                            }
                        })
                        .then(res => this.loading = false)
                        .then(res => this.value_tmp = this.value)
                }
            },
        },
    }
</script>
