<template>

    <div class="banners" >
        <div v-for="banner in banners" class="banners__image" :class="classes" :styles="styles">
            <a :href="banner.link" target="_blank"><img :src="banner.image.url" class="row"
                                                        :class="'banner-variant--' + banner.variant"/></a>
        </div>
    </div>

</template>

<script>

    import axios from 'axios';

    export default {
        name: "GetBanners",
        props: {
            limit: Number,
            variant: String,
            classes: String,
            styles: String,
            position: String,
            category: String,
        },
        data() {
            return {
                banners: [],
            }
        },
        mounted() {
            this.getBanners()
        },
        methods: {
            getBanners() {
                axios.get('/advertising/get-banners', {
                    params: {
                        variant: this.variant,
                        limit: this.limit,
                        position: this.position,
                        category: this.category ? this.category : 0,
                    }
                }).then(response =>{
                    this.banners = response.data;
                })
            }
        }
    }
</script>

<style lang="scss" scoped>

    .banner-variant {

        &--horizontal {
             max-width: 1110px;
             max-height: 160px;
            margin: 0px auto !important;
        }
        &--vertical {
            max-width: 255px;
            max-height: 510px;
            width: 100%;
            margin: 0px auto !important;
        }
    }

</style>
