<template>
    <gmap-map
        v-bind:center="center"
        v-bind:zoom="zoom"
        v-bind:options="{
           mapTypeControl: false
         }"
        map-type-id="satellite"
        class="general-map"
    >

        <gmap-marker
            :position="marker"
            :clickable="false"
        >

        </gmap-marker>

    </gmap-map>
</template>

<script>
    export default {
        name: "GMap",
        props: {
            coordinates: {
                required: true,
                type: Object
            }
        },
        data() {
            return {
                zoom: 16
            }
        },
        computed: {
            center() {
                return this.coordinates;
            },
            marker() {
                return this.coordinates;
            }
        }
    }
</script>

<style scoped>
    .general-map {
        width: 100%;
        height: 450px;
    }
</style>
