<template>
    <div
        v-if="images.length"
        ref="container"
        class="images-preview">
        <div class="images-preview-imgs rounded">
            <img
                v-for="image, index in images"
                v-if="show_index === index"
                class="images-preview-img w-100"
                :src="image.url"
                :alt="image.alt">
        </div>
        <div
            :href="href"
            v-if="images.length > 1"
            class="images-preview-controls">
            <div
                v-for="image, index in images"
                class="images-preview-control"
                :class="{active: show_index === index}"
                @mouseover="mouseOverControlItem(index)">
            </div>
        </div>
    </div>
    <div
        v-else
        class="d-block"
        ref="container"
        :href="href">
        <l-map
            v-if="map"
            ref="map"
            class="flex-1 rounded w-100"
            :width="width"
            :options="{
                zoomControl: false,
                attributionControl: false,
                dragging:false,
                boxZoom:false,
                doubleClickZoom:false,
                scrollWheelZoom:false,
            }"
            style="min-height: 150px; min-width: 150px"
            :zoom=15
            :center="center"
        >
            <l-tile-layer
                key="base"
                url="http://mt0.google.com/vt/lyrs=s&x={x}&y={y}&z={z}"
                layer-type="base"/>
            <l-marker :lat-lng="center" :icon="icon"></l-marker>
        </l-map>
        <img
            v-else
            class="rounded w-100"
            :width="width"
            :src="noImgUrl"
            alt="No images">
    </div>
</template>

<style scoped lang="scss">
    .images-preview {
        position: relative;
        display: flex;
        min-width: 100px;
        min-height: 100px;

        &-imgs {
            display: flex;
            flex: 1;
            background-color: #444;
            align-items: center;
            flex-direction: row;
            overflow: hidden;
        }

        &-img {
            &-div {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                background-color: #444;
            }
        }

        &-controls {
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            z-index: 3;
            display: flex;
            flex-direction: row;
        }

        &-control {
            flex: 1;
            align-items: flex-end;
            display: flex;

            &:after {
                content: '';
                display: flex;
                height: 3px;
                margin: 2px;
                background-color: #fff6;
                flex: 1;
            }

            &.active {
                &:after {
                    background-color: #f20010;
                }
            }
        }
    }
</style>

<script>
    import L from 'leaflet';
    import {LMap, LTileLayer, LMarker, LControlLayers} from 'vue2-leaflet';
    import 'leaflet/dist/leaflet.css';

    export default {
        components: {
            LMap,
            LTileLayer,
            LMarker,
            LControlLayers,
        },
        model: {
            prop: 'images',
        },
        props: {
            width: {
                type: Number,
                default: null
            },
            height: {
                type: Number,
                default: null
            },
            images: {
                type: Array,
                default: () => []
            },
            href: {
                type: String,
                default: null
            },
            noImgUrl: {
                type: String,
                default: '/img/box-noimg.svg'
            },
            map: {
                type: Object,
                default: null
            }
        },
        data() {
            return {
                show_index: 0,
                map_zoom: 15
            }
        },
        computed: {
            icon() {
                return L.icon({
                    iconUrl: '/img/l-marker.svg',
                    iconSize: [0, 0], // size of the icon [50, 50]
                    iconAnchor: [0, 0], // point of the icon which will correspond to marker's location [25, 25]
                })
            },
            center() {
                if (!this.map) {
                    return [];
                }
                return this.map.coordinates
            }
        },
        mounted() {
            if (this.height) {
                $(this.$refs.container).height(this.height);
            }
            if (this.width) {
                $(this.$refs.container).width(this.width);
            }
            if (this.$refs.map) {
                this.$refs.map.mapObject._onResize();
            }
        },
        methods: {
            mouseOverControlItem(index) {
                this.show_index = index;
            },
        }
    }
</script>
