<template>
    <div class="row mt-4 pt-3">
        <div class="col-lg-10">
            <div class="h2">Общая информация</div>
            <p>
                <Highlighter class="part-highlight" :style="{}"
                             highlightClassName="highlight"
                             :searchWords="keywords"
                             :autoEscape="true"
                             :textToHighlight="text"/>
            </p>
        </div>
    </div>
</template>
<script>
    import Highlighter from 'vue-highlight-words'

    export default {
        name: "LotInfo",
        components: {
            Highlighter
        },
        props: ['html'],
        data() {
            return {
                text: this.html,
                words: ''
            }
        },
        computed: {
            keywords() {
                return this.words.split(' ')
            }
        },
        mounted () {
            if(localStorage.search_phraze) {
                this.words = localStorage.search_phraze
            }
            if(localStorage.search_synonyms) {
                this.words += ' ' + localStorage.search_synonyms
            }
        },
    }
</script>
<style lang="scss" scoped>
    .highlight {
        background: yellow;
    }
</style>
