<template>
    <b-modal
        ref="modal"
        centered hide-footer
        size="lg"
        id="modal-location"
        class="modal-sm-offset"
        :title="modal_title">

        <div class="row">
            <div class="col">
                <autocomplete
                    ref="autocomplete"
                    class="mb-2"
                    :auto-hide="true"
                    :search="search"
                    placeholder="Укажите регион, область или город"
                    aria-label="Укажите регион, область или город"
                    :get-result-value="getResultValue"
                    @submit="handleSubmit"
                ></autocomplete>
            </div>
        </div>
        <div class="regions">
            <ul class="flex-wrap">
                <li class="li m-1" v-for="(item, idx) in post_data.locations" :key="item.key">
                    <span>{{item.name}} </span>
                    <span class="delete-region" @click="onClickRemoveLocation(idx)">
                        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" class="delete_object"><path fill="#ffffff" fill-rule="evenodd" clip-rule="evenodd" d="M1.16206 0.638888C1.36149 0.447892 1.678 0.454735 1.869 0.654172L7 6.01194L12.131 0.654172C12.322 0.454735 12.6385 0.447892 12.8379 0.638888C13.0374 0.829884 13.0442 1.14639 12.8532 1.34583L7.69231 6.73484L13.3611 12.6542C13.5521 12.8536 13.5453 13.1701 13.3458 13.3611C13.1464 13.5521 12.8299 13.5453 12.6389 13.3458L7 7.45774L1.36111 13.3458C1.17012 13.5453 0.853609 13.5521 0.654172 13.3611C0.454735 13.1701 0.447892 12.8536 0.638888 12.6542L6.3077 6.73484L1.14677 1.34583C0.955776 1.14639 0.962619 0.829884 1.16206 0.638888Z"></path></svg>
                    </span>
                </li>
            </ul>
        </div>

        <div class="row mt-4">
            <div class="col text-right">
                <b-button
                    variant="light"
                    class="bg-white"
                    @click="onClickBtnReset">Сбросить
                </b-button>
                <b-button
                    variant="primary"
                    :disabled="loading"
                    @click="onClickBtnOk">
                    <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Применить
                </b-button>
            </div>
        </div>

    </b-modal>
</template>

<style lang="scss">
    .regions{
        margin: 10px 0;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            li{
                box-shadow: 0 0.1rem 0.6rem rgba(0, 102, 255, 0.5);
                background: #06f;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                margin-right: 10px;
                .delete-region{
                    cursor:pointer;
                }
            }
        }
    }
    #modal-location {
        .modal-content {
            padding: .5rem .5rem 2rem .5rem;
            .modal-header {
                padding-top: 1rem !important;
            }
        }
    }
    .checkbox-v-padding .custom-checkbox {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
</style>

<script>
    import Autocomplete from '@trevoreyre/autocomplete-vue';
    import '@trevoreyre/autocomplete-vue/dist/style.css';

    export default {
        data() {
            return {
                query_str: "",
                from_session: null,
                loading: false,
                locations: [], // выбранные местоположения
            }
        },
        mounted() {
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if (modalId === 'modal-location' && !this.from_session) {
                    this.onShowModal()
                }
            });
        },
        computed: {
            post_data(){
                return {
                    locations: this.locations.map(item => ({
                        region_fias_id: item.region_fias_id,
                        region_with_type: item.region_with_type,
                        city_fias_id: item.city_fias_id,
                        city_with_type: item.city_with_type,
                        name: [item.region_with_type, item.city_with_type].reduce((a,b) => ((b && a !== b) ? `${a}, ${b}` : a)),
                        key: `${item.region_fias_id}-${item.city_fias_id}`
                    }))
                }
            },
            modal_title() {
                return 'Укажите регион поиска лотов'
            },
        },
        methods: {
            search(input) {
                const url = `/api/location/regions-get?str=${encodeURI(input)}`;
                return new Promise(resolve => {
                    if (input.length < 3) {
                        return resolve([])
                    }
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data);
                        })
                })
            },

            getResultValue(result) {
                return result.value;
            },

            handleSubmit(result) {
                let resKey = `${result.data.region_fias_id}-${result.data.city_fias_id}`;
                if(this.locations.findIndex(item => `${item.region_fias_id}-${item.city_fias_id}` === resKey) === -1){
                    this.locations.push(result.data);
                    this.$refs.autocomplete.value = '';
                }
            },

            onClickBtnReset() {
                this.locations = [];
            },
            onClickBtnOk() {
                this.loading = true;
                this.axios.post('/api/location/set-session', this.post_data)
                    .then(res => {
                        $(this.$refs.modal).hide();
                        window.location = location.pathname;
                    })
            },
            onShowModal() {
                if (this.locations.length === 0) {
                    this.axios.get('/api/location/get-session')
                        .then(res => res.data)
                        .then(data => this.locations = data.locations);
                }
            },
            onClickRemoveLocation(idx) {
                this.locations.splice(idx, 1);
                this.$forceUpdate()
            },
        }
    }
</script>
