<template>
<div>
  <a id="show-link" @click="$bvModal.show(id)">{{ staff.full_name }}</a>
  <b-modal :id="id" class="modal-user" size="sm" centered hide-footer
            :title="'Контактная информация'"
            ref="modal">

        <b-form v-if="staff">
            <b-row>
                <b-col sm="6">
                    <img class="img-fluid" :src="staff.url_avatar" :class="staff.url_avatar ? `` : `no-image`" />
                </b-col>
                <b-col sm="6" class="d-flex flex-column justify-content-between">
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Фамилия:"
                    >
                        <b-form-input size="sm"
                                      v-model="staff.last_name"
                                      type="text"
                                      readonly
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Имя:"
                    >
                        <b-form-input size="sm"
                                      v-model="staff.name"
                                      readonly
                                      type="text"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Отчество:"
                    >
                        <b-form-input size="sm"
                                      v-model="staff.middle_name"
                                      type="text"
                                      readonly
                        ></b-form-input>
                    </b-form-group>
                    <div class="d-flex justify-content-between">
                        <span>E-mail:</span>
                        <a :href="'mailto:' + staff.email" class="text-dark">{{ staff.email }}</a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Телефон:</span>
                        <a :href="'tel:+' + staff.phone" class="text-dark">{{ staff.phone }}</a>
                    </div>
                </b-col>
            </b-row>
        </b-form>
    </b-modal>
</div>
</template>

<script>
export default {
    name: "ModalStaff",
    props: {
        staff: {
            type: Object,
            require: true,
        },
        id: {
            type: Number,
            require: true,
        },
    },
}
</script>

<style>
    .modal-content {
        padding: 30px;
    }

    #modal-article .modal-body {
        min-height: 210px;
    }

    .modal-dialog.modal-sm {
        max-width: 630px;
    }

    .no-image {
        background-color: gray;
        opacity: 0.4;
        width: 180px;
        height: 170px;
        border-radius: 10%;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin: 1.75rem auto;
        }
    }
</style>