<template>
    <div class="rating" :class="{'rating-editable': editable}">
        <div v-for="star, n in stars" class="dating-star" @click="onClickStar(n)">
            <svg v-if="current_value > n" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4637 18.7181C11.791 18.5101 12.209 18.5101 12.5363 18.7181L16.4569 21.2089C17.2081 21.6862 18.1616 21.0181 17.9696 20.1491L16.8971 15.2949C16.8198 14.9454 16.9353 14.5813 17.1998 14.3402L20.8223 11.0373C21.465 10.4513 21.1051 9.38102 20.239 9.3024L15.5592 8.87762C15.1855 8.8437 14.8623 8.60347 14.7221 8.25546L12.9275 3.80189C12.5911 2.96689 11.4089 2.96688 11.0725 3.80189L9.27793 8.25546C9.1377 8.60347 8.81446 8.8437 8.4408 8.87762L3.76101 9.3024C2.89492 9.38102 2.53502 10.4513 3.17766 11.0373L6.80024 14.3402C7.06471 14.5813 7.18015 14.9454 7.10294 15.2949L6.03041 20.1491C5.83841 21.0181 6.79193 21.6862 7.54311 21.2089L11.4637 18.7181Z" fill="#0066FF"/>
            </svg>
            <svg v-else width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4637 18.7181C11.791 18.5101 12.209 18.5101 12.5363 18.7181L16.4569 21.2089C17.2081 21.6862 18.1616 21.0181 17.9696 20.1491L16.8971 15.2949C16.8198 14.9454 16.9353 14.5813 17.1998 14.3402L20.8223 11.0373C21.465 10.4513 21.1051 9.38102 20.239 9.3024L15.5592 8.87762C15.1855 8.8437 14.8623 8.60347 14.7221 8.25546L12.9275 3.80189C12.5911 2.96689 11.4089 2.96688 11.0725 3.80189L9.27793 8.25546C9.1377 8.60347 8.81446 8.8437 8.4408 8.87762L3.76101 9.3024C2.89492 9.38102 2.53502 10.4513 3.17766 11.0373L6.80024 14.3402C7.06471 14.5813 7.18015 14.9454 7.10294 15.2949L6.03041 20.1491C5.83841 21.0181 6.79193 21.6862 7.54311 21.2089L11.4637 18.7181Z" stroke="#D6DEEB" stroke-width="1.5"/>
            </svg>
        </div>
    </div>
</template>

<style scoped>
    .rating {
        display: inline-block;
    }
    .rating-editable {
        cursor: pointer;
    }
    .dating-star {
        display: inline-block;
    }
</style>

<script>
    export default {
        props: {
            stars: {
                type: Number,
                default: 5
            },
            value: {
                type: Number,
                required: true
            },
            editable: {
                type: Boolean,
                required: false,
                default: false
            },
            onChange: {
                type: Function,
                required: false
            }
        },
        data() {
            return {
                new_value: null,
            }
        },
        computed: {
            current_value() {
                return this.new_value || this.value
            }
        },
        methods: {
            onClickStar(n) {
                if (!this.editable){
                    return;
                }
                this.new_value = n+1;
                if(this.onChange){
                    this.onChange(this.current_value)
                }
            }
        }
    }
</script>
