<template>
    <div class="flex-grow-1 mb-3 mb-md-2">
        <form method="get" :action="action">
            <div class="ml-3 mr-3">
                <div class="row">
                    <div class="col pl-2 pr-1">
                        <b-form-input
                            class="form-control form-control-lg rounded"
                            type="search"
                            name="q"
                            maxlength="120"
                            v-model="search_phraze"
                            :placeholder="placeholder"
                        >

                        </b-form-input>
                    </div>
                    <div class="col flex-grow-0 pl-1">
                        <button class="btn btn-lg btn-primary shadow rounded float-right px-3 px-sm-4">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 style="margin: -3px;"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.25 21L14.8564 15.6834" stroke="white" stroke-width="2"
                                      stroke-linecap="round"/>
                                <path
                                    d="M17 10.5C17 14.0899 14.0899 17 10.5 17C6.91015 17 4 14.0899 4 10.5C4 6.91015 6.91015 4 10.5 4C14.0899 4 17 6.91015 17 10.5Z"
                                    stroke="white" stroke-width="2"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        name: "SearchForm",
        data() {
            return {
                search_phraze: ''
            }
        },
        props: ['placeholder','action','input_str','synonyms_str'],
        mounted () {
            if(this.input_str) {
                this.saveSearchPhraze(this.input_str)
            }
            if(this.synonyms_str) {
                this.saveSearchSynonyms(this.synonyms_str)
            }

            this.search_phraze = localStorage.search_phraze;
        },
        watch: {
            search_phraze:function(newValue, oldValue){
                this.saveSearchPhraze(newValue)
            }
        },
        methods: {
            saveSearchPhraze: function(phraze) {
                localStorage.search_phraze = phraze
            },
            saveSearchSynonyms: function(phraze) {
                localStorage.search_synonyms = phraze
            }
        }
    }
</script>
