<template>
    <div>
        <div class="section-container py-2 table-responsive-md">
            <table class="table table-borderless table-striped table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ответственный</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата конца</th>
                <th scope="col">Услуга</th>
                <th scope="col">Лот</th>
                <th scope="col">Оплата</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>

                <tr v-for="(service, index) in items" :key="service.id" class="table-hover cursor-pointer">
                    <th scope="row">{{ service.id }}</th>
                    <th scope="row"><modal-staff :staff="staff[index]" :id="service.id" v-if="staff[index]"/></th>
                    <th scope="row">{{ getFormatDate(service.service_begin) }}</th>
                    <th scope="row">{{ getFormatDate(service.service_end) }}</th>
                    <th scope="row">{{ service.service_title }}</th>
                    <th scope="row">
                        <span v-if="service.trade_lot_id"><a target="_blank" :href="'/catalog/lot/'+service.trade_lot_id">Лот №{{ service.trade_lot_id }}</a></span>
                        <span v-else>-</span>
                    </th>
                    <th scope="row">
                         <span :class="'text-'+(service.payment.status === 'success' ? 'success' : 'danger')">
                             <span v-if="service.payment.status === 'success'">Оплачено</span>
                                <b-button v-else @click="getPayment(service)" variant="outline-primary">Оплатить</b-button>
                        </span>
                    </th>
                    <th scope="row">
                        <span :class="'text-'+service.status_color">
                            {{ service.status_name }}
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</template>

<script>
    import api from '../../api'
    import axios from 'axios';
    import moment from 'moment';
    import ModalStaff from './ModalStaff.vue';
    export default {
        name: "BannersTable",
        props: {
            services: {
                type: Object,
                default: {},
            }
        },
        components: {
            ModalStaff,
        },
     
        created() {
            this.items = this.services;
            this.items.forEach((it) => {
                this.getStaffUser(it.staff_id);
            });
        },
        data() {
            return {
                show_url: '/advertising/show/',
                items: [],
                staff: [],
            }
        },
        methods: {
            getPayment(service) {
                axios.get('/cabinet/services/' + service.payment_id, {
                    params: {
                        back_url_ok: window.location.href,
                        back_url_no: window.location.href,
                    }
                })
                    .then(resp => {
                        let data = resp.data
                        let form = document.createElement("form");

                        form.action = data.action
                        form.method = data.method

                        console.log(data)

                        for(let key in data.fields) {
                            let elem = document.createElement("input");
                            elem.type = "hidden"
                            elem.name = key
                            elem.value = data.fields[key]

                            form.appendChild(elem);
                        }

                        document.body.appendChild(form);
                        form.submit();
                    })
            },
            getFormatDate(value) {
                return moment.utc(value).local().format('DD.MM.YYYY');
            },
            getStaffUser(id) {
               api.getResources(`users`, {filter: {id: id}})
                .then((res) => {
                    this.staff.push(res.data[0]);
                });
            },
        }
    }
</script>

<style scoped>
    .cursor-pointer:hover {
        cursor: pointer;
    }
</style>
