<template>
    <div>
        <div
            v-if="mailings.length === 0"
            class="col-9 offset-1">
            <div class="text-center my-4">
                <div class="h2">Вы успешно подписались на рассылку интересных лотов!<br>
                    Что дальше?
                </div>
                <p>Выберите интересующую Вас категорию лотов</p>
            </div>

        </div>
        <div v-else>
            <div
                v-for="mailing in mailings"
                class="mb-4"
            >
                <button
                    type="button"
                    class="close float-right"
                    aria-label="Close"
                    @click="onClickMailingRemove(mailing)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="h3">
                    Рассылка лотов из категории: {{ mailing.category.title }}
                </div>
                <div class="mailing-item">
                    <div
                        class="d-inline">
                        <div class="input-group input-group-sm d-inline mb-2">
                            <span class="input-group-prepend d-inline-block">
                                <div class="input-group-text">Цена:</div>
                            </span><input
                            type="text"
                            class="form-control d-inline-block w-min"
                            :class="{'is-invalid': mailing.errors && mailing.errors.price_from}"
                            v-model="mailing.price_from"
                            @change="mailing.isChanged = true"
                            @keyup="mailing.isChanged = true"
                            @keypress="onKeyPressNumericOnly"
                            placeholder="от"><input
                            type="text"
                            class="form-control d-inline-block w-min mr-2"
                            :class="{'is-invalid': mailing.errors && mailing.errors.price_to}"
                            v-model="mailing.price_to"
                            @change="mailing.isChanged = true"
                            @keyup="mailing.isChanged = true"
                            @keypress="onKeyPressNumericOnly"
                            placeholder="до">
                        </div>
                    </div>
                    <div
                        v-for="param in mailing.params"
                        class="d-inline"
                    >
                        <form-select
                            class="mr-2" multi
                            v-if="param.type === 'checkbox'"
                            v-model="mailing.filter_values[param.code]"
                            :values="param.values"
                            :placeholder="param.title"
                            size="sm"
                            @change="mailing.isChanged = true"
                        >
                        </form-select>
                        <form-select-vehicle-brands
                            v-else-if="param.type === 'checkbox-vehicle-brands'"
                            class="mr-2" multi
                            v-model="mailing.filter_values[param.code]"
                            :placeholder="param.title"
                            size="sm"
                            @change="mailing.isChanged = true"
                            :url-brands="`/api/vehicle/${(mailing.category.id === 3 || mailing.category.parent_id === 3)?'spec-brands':'brands'}`"
                        ></form-select-vehicle-brands>
                        <form-select-vehicle-model
                            v-else-if="param.type === 'checkbox-vehicle-models'"
                            class="mr-2" multi
                            v-model="mailing.filter_values[param.code]"
                            :vehicle-brands="mailing.filter_values.car_brand"
                            :placeholder="param.title"
                            size="sm"
                            @change="mailing.isChanged = true"
                            :url-models="`/api/vehicle/${(mailing.category.id === 3 || mailing.category.parent_id === 3)?'spec-models':'models'}`"
                        ></form-select-vehicle-model>
                        <div
                            v-else-if="param.type === 'numeric-range'"
                            class="d-inline">
                            <div class="input-group input-group-sm d-inline mb-2">
                                <span class="input-group-prepend d-inline-block">
                                    <div class="input-group-text">{{ param.title }}:</div>
                                </span><input
                                type="text"
                                class="form-control d-inline-block w-min"
                                v-model="mailing.filter_values[param.code].from"
                                @change="mailing.isChanged = true"
                                @keyup="mailing.isChanged = true"
                                @keypress="onKeyPressNumericOnly"
                                :class="{'is-invalid': mailing.errors && mailing.errors[`filters.${param.code}.from`]}"
                                placeholder="от"><input
                                type="text"
                                class="form-control d-inline-block w-min mr-2"
                                v-model="mailing.filter_values[param.code].to"
                                @change="mailing.isChanged = true"
                                @keyup="mailing.isChanged = true"
                                @keypress="onKeyPressNumericOnly"
                                :class="{'is-invalid': mailing.errors && mailing.errors[`filters.${param.code}.to`]}"
                                placeholder="до">
                            </div>
                        </div>
                        <input
                            v-else
                            type="text"
                            class="form-control form-control-sm"
                            v-model="mailing.filters[param.code]"
                            @change="mailing.isChanged = true"
                            :placeholder="param.title">
                    </div>
                    <button
                        v-if="!mailing.id || mailing.isChanged"
                        class="btn btn-sm btn-warning shadow-none d-inline"
                        @click="onClickMailingSave(mailing)"
                    > <div v-if="saveLoading" class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div><span v-else>Сохранить</span>
                    </button>
                </div>
            </div>
        </div>
        <div
            v-if="loading_params"
            class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else>
            <div class="d-flex justify-content-center">
                <div
                    v-if="mailings.length"
                    class="h4 p-2">
                    Добавить еще
                </div>
                <form-multi-select
                    title="Категории лотов"
                    show-search
                    class="multi-select-categories"
                    text-key="title"
                    :items="categories"
                    :on-change="onChangeAddCategory"
                    ref="multiSelect"
                ></form-multi-select>
                <!--<b-button
                    class="ml-2"
                    size="sm"
                    variant="warning"
                    @click="onClickTest">Refresh
                </b-button>-->
            </div>
        </div>
        <div
            v-if="has_lots"
            class="pt-4 mt-3">
            <div
                class="h3 mb-3">
                Отобрано: {{ show_lots_length_text }}<span v-if="lots_pagination.current_page > 1">,
                страница {{ lots_pagination.current_page }}</span>
            </div>
            <trade-lot
                v-for="lot, index in show_lots"
                :key="index"
                :lot="lot"></trade-lot>

            <b-pagination
                :value="lots_pagination.current_page"
                :total-rows="lots_pagination.total"
                :per-page="lots_pagination.per_page"
                @change="goToPage"
                aria-controls="my-table"
                first-number
                last-number
            ></b-pagination>

        </div>
        <div v-if="loadedUserMailing || saveLoading"
            class="mt-4 d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .btn .spinner-border{
        width: 1rem;
        height: 1rem;
    }
    .multi-select-categories {
        width: 260px;
    }

    input.w-min {
        width: 80px;
    }

    .multi-select {
        top: -1px;
    }

    .input-group-prepend .input-group-text {
        padding-top: 5px;
        padding-bottom: 4px;
    }

    .mailing-item {
        line-height: 3rem;
        margin-bottom: 1rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px dashed #dee2e6;
    }

    .input-group {
        white-space: nowrap;
    }
</style>

<script>
    import FormSelectVehicleModel from "./FormSelectVehicleModel";
    export default {
        components: {FormSelectVehicleModel},
        props: {
            categories: {
                type: Array,
                required: true
            },
            url_user_mailing: {
                default: '/api/cabinet/user_mailings'
            }
        },
        data() {
            return {
                mailings: [],
                user_mailings: [],
                loading_params: false,
                loading_lots: false,
                lots_pagination: [],
                saveLoading: false,
                loadedUserMailing: false,
            }
        },
        mounted() {
            this.loadUserMailing()
        },
        computed: {
            has_lots() {
                return this.lots_pagination && this.lots_pagination.total > 0;
            },
            show_lots() {
                return this.lots_pagination.data;
            },
            show_lots_length_text() {
                return this.lots_pagination.total;
            },
        },
        methods: {
            loadUserMailing() {
                this.loadedUserMailing = true;
                this.axios.get(this.url_user_mailing)
                    .then(res => {
                        this.loadedUserMailing = false;
                        this.user_mailings = res.data.user_mailings;
                        this.mailings = [];
                        for (let item of res.data.user_mailings) {
                            this.mailings.push(this.createMailingItem(item));
                        }
                        this.loadMailingLots()
                    })
            },
            onChangeAddCategory(category) {
                this.loading_params = true;
                this.axios.get(`/cabinet/data_for_lot_adding?step=2&category=${category.id}`)
                    .then(res => {
                        let params = res.data.params;
                        this.mailings.push(this.createMailingItem({category}, params));
                    })
                    .finally(() => {
                        this.loading_params = false;
                    })
            },
            createMailingItem(item, params = null) {
                let filter_values = {};
                if (!params && item.params) {
                    params = item.params;
                }
                // initialization
                if (params) for (let param of params) {
                    switch (param.type) {
                        case 'numeric-range':
                            if (!filter_values[param.code]) {
                                filter_values[param.code] = {
                                    from: null,
                                    to: null,
                                };
                            }
                            break;
                        default:
                            if (!filter_values[param.code]) {
                                filter_values[param.code] = [];
                            }
                            break;
                    }
                }
                // filling
                if (item.filters) for (let item of item.filters) {
                    switch (item.param.type) {
                        case 'numeric-range':
                            filter_values[item.param.code].from = item.value_from;
                            filter_values[item.param.code].to = item.value_to;
                            break;
                        default:
                            filter_values[item.param.code].push(item.value);
                            break;
                    }
                }
                // structure
                return {
                    id: item.id,
                    category: item.category,
                    params: params ? params : item.params,
                    filters: item.filters || [],
                    filter_values,
                    price_from: item.price_from,
                    price_to: item.price_to,
                    isChanged: false,
                    errors: null
                }
            },
            onClickMailingRemove(mailing) {
                // todo: develop
                // console.log(mailing);
                this.$refs.multiSelect.removeSelectionOfActiveItem(mailing.category.id);

                if (mailing.id) { // undefined
                    this.axios.delete(this.url_user_mailing + '?id=' + mailing.id)
                        .then(() => this.loadMailingLots())
                }
                this.mailings = this.mailings.filter(item => {
                    return mailing !== item;
                });
            },
            onClickMailingSave(mailing) {
                // todo: develop
                console.log(mailing);
                this.saveLoading = true;
                this.axios.post(this.url_user_mailing, {
                    id: mailing.id,
                    category: mailing.category.id,
                    filters: mailing.filter_values,
                    price_from: mailing.price_from,
                    price_to: mailing.price_to,
                }).then(res => {
                    mailing.isChanged = false;
                    mailing.id = res.data.mailing.id;
                    mailing.errors = null;
                    this.saveLoading = false;
                    //this.$forceUpdate();
                    this.loadMailingLots();
                }).catch(err => {
                    alert('Ошибка: ' + err.response.data.message);
                    if (err.response.data.errors) {
                        console.log(err.response.data.errors);
                        mailing.errors = err.response.data.errors;
                    }
                })
            },
            onClickTest() {
                this.loadMailingLots()
            },
            loadMailingLots(page = 1) {
                this.loading_lots = true;
                return this.axios.get('/api/cabinet/mailing_lots?page=' + page)
                    .then(res => this.lots_pagination = res.data)
                    .finally(() => this.loading_lots = false)
            },
            goToPage(page) {
                this.loadMailingLots(page)
                    .finally(() => $('html, body').animate({scrollTop: 0}))
            },
            onKeyPressNumericOnly(e) {
                let keyCode = e.which ? e.which : e.keyCode;
                if (keyCode < 48 || keyCode > 57) {
                    e.preventDefault();
                    return false;
                }
            }
        }
    }
</script>
