<template>
    <div class="multi-select">
        <div v-show="old">
            <select
                v-if="name"
                :name="name"
                :multiple="multiple"
                v-model="value"
                :style="{width: '100%'}"
                :disabled="disabled">
                <option v-for="(item, key) in options" :value="Array.isArray(options) ? item : key">{{ item }}</option>
            </select>
        </div>
        <div
            v-show="!old"
            @click="onClickRowTitle"
            :class="{'custom-select-sm': size === 'sm'}"
            :disabled="disabled || options.length === 0"
            class="multi-select-row custom-select">
            <div class="multi-select-title">
                {{ current_placeholder }}
                <span v-if="multiple">({{ selected_values_count }})</span>
            </div>
        </div>
        <div
            v-if="show_items"
            class="multi-select-items py-3 shadow rounded">
            <div>
                <div v-if="showSearch" class="px-4 pt-1 pb-3">
                    <input
                        type="search"
                        class="multi-select-input"
                        v-model="search_str"
                        :placeholder="searchPlaceholder"/>
                </div>

                <div class="multi-select-items-scrollable">
                    <div v-for="(item, key, index) in filtered_values"
                         class="multi-select-item px-4 py-1"
                         :class="{active: value === (Array.isArray(options) ? item : key)}"
                    >
                        <div
                            v-if="multiple"
                            class="custom-control custom-checkbox"
                        >
                            <input
                                type="checkbox"
                                class="custom-control-input"
                                :disabled="disabled"
                                :checked="key === value || (Array.isArray(value) && value.indexOf(Array.isArray(options) ? item : key) !== -1)"
                                @input="onClickListItem(Array.isArray(options) ? item : key)"
                                :id="`fmsch${Array.isArray(options) ? key : index}`">
                            <label
                                class="custom-control-label d-block"
                                :for="`fmsch${Array.isArray(options) ? key : index}`">{{ item }}</label>
                        </div>
                        <div
                            v-else
                            @click="onClickListItem(Array.isArray(options) ? item : key)"
                        >
                            <div
                                class="d-block"
                                :for="`fmsch${Array.isArray(options) ? key : index}`">{{ item }}
                            </div>
                        </div>
                    </div>
                    <div v-if="Object.keys(filtered_values).length === 0" class="mb-3 pt-3 text-center">
                        <i class="text-black-50"><small>Нет совпадений</small></i>
                    </div>
                </div>

                <div v-if="showBtn && multiple" class="px-4 pt-2">
                    <button
                        type="button"
                        @click="onClickBtn"
                        class="btn btn-primary btn-sm btn-block">
                        {{ btnTitle }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        model: {
            prop: 'value',
        },
        props: {
            placeholder: {
                type: String,
                default: 'Выберите',
            },
            options: {
                type: [Array, Object],
                default: [],
            },
            size: {
                type: String,
                default: 'md'
            },
            showSearch: {
                type: Boolean,
                default: false
            },
            multiple: {
                type: Boolean,
                default: false
            },
            searchPlaceholder: {
                type: String,
                required: false,
                default: 'Поиск'
            },
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                default: null
            },
            name: {
                type: String,
                default: null
            },
            showBtn: {
                type: Boolean,
                default: true
            },
            btnTitle: {
                type: String,
                required: false,
                default: 'Применить'
            },
            autoSubmit: {
                type: Boolean,
                default: false
            },
            old: {
                type: Boolean,
                default: false
            },
        },
        data() {
            return {
                show_items: false,
                search_str: "",
            }
        },
        mounted() {
            $(this.$el.ownerDocument).click((e) => {
                let is_children = !!$(this.$el).find(e.target).length;
                if (!is_children) {
                    this.show_items = false
                }
            })
        },
        computed: {
            current_placeholder() {
                let str = this.placeholder;
                if (this.multiple) {
                    if (!Array.isArray(this.value)) {
                        return str;
                    }
                    let values = [];
                    this.value.forEach(key => {
                        values.push(Array.isArray(this.options) ? key : this.options[key]);
                    });
                    let values_str = values.join(', ');
                    if (values_str.length > 20) {
                        values_str = values_str.substr(0, 20) + '...'
                    }
                    str += ': ' + values_str;
                } else {
                    if (this.value) {
                        str += ': ' + (Array.isArray(this.options) ? this.value : this.options[this.value]);
                    }
                }
                return str;
            },
            selected_values_count() {
                if (Array.isArray(this.value)) {
                    let all = Array.isArray(this.options) ? this.options.length : Object.keys(this.options).length;
                    return `${this.value.length}/${all}`
                }
                return null;
            },
            filtered_values() {
                if (!this.search_str) {
                    return this.options;
                }
                let result = {};
                for (let key in this.options) {
                    if (this.options[key].toLowerCase().indexOf(this.search_str.toLowerCase()) !== -1) {
                        result[key] = this.options[key]
                    }
                }
                return result;
            }
        },
        methods: {
            onClickRowTitle() {
                if (this.disabled || this.options.length === 0) {
                    return;
                }
                this.toggleShowItems();
            },
            onClickListItem(item) {
                let new_value;
                if (this.multiple) {
                    new_value = [...this.value];
                    let idx = this.value.indexOf(item);
                    if (idx === -1) {
                        new_value.push(item);
                    } else {
                        new_value.splice(idx, 1)
                    }
                } else {
                    new_value = `${item}`;
                    this.toggleShowItems();
                }
                this.$emit('input', new_value);
                this.$emit('change', new_value)
            },
            toggleShowItems() {
                this.show_items = !this.show_items;
            },
            onClickBtn() {
                this.toggleShowItems();
                if (this.autoSubmit) {
                    //$(this.$el).closest('form').submit()
                }
            },
        },
    }
</script>

<style scoped lang="scss">
    .multi-select {
        position: relative;
        display: inline-block;

        &-title {
            overflow: hidden;
            white-space: nowrap;
        }

        &-row {
            cursor: pointer;

            &[disabled] {
                background-color: #F4F6FA;
                border-color: #F4F6FA;
            }
        }

        &-input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #9eacc3;
            color: #9eacc3;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &-items {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 4;
            overflow: hidden;
            min-width: 172px;
            background-color: #fff;
            line-height: 1.7;

            &-scrollable {
                max-height: 302px;
                overflow: auto;
            }
        }

        &-item {
            font-weight: 400;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: #ecf3ff;
            }
        }
    }
</style>
