<<template>
    <div class="col">
        <table class="tariff-all-table">
            <tr>
                <td class="tariff-all-table-cell-service tariff-all-table-cell-title" colspan="2" rowspan="2">Услуга</td>
                <td class="tariff-all-table-cell-title" colspan="4">Периоды и цены</td>
            </tr>
            <tr>
                <td>7 дней</td>
                <td>1 месяц</td>
                <td>3 месяца</td>
                <td>1 год</td>
            </tr>
            <tr>
                <td class="tariff-all-table-cell-header tariff-all-table-cell-title"  colspan="2">Рассылка лотов</td>
                <td>Нет</td>
                <td>500 Рублей</td>
                <td>750 Рублей</td>
                <td>2000 Рублей</td>
            </tr>
            <tr class="tariff-all-table-cell-empty"><td colspan="6"></td></tr>
            <tr>
                <td class="tariff-all-table-cell-header tariff-all-table-cell-title" colspan="2">Ознакомление с имуществом должника</td>
                <td colspan="4">500 рублей</td>
            </tr>
            <tr class="tariff-all-table-cell-empty"><td colspan="6"></td></tr>
            <tr><td class="tariff-all-table-cell-header tariff-all-table-cell-title" colspan="2">Осмотр имущества должника</td><td colspan="4"></td></tr>
            <tr>
                <td class="tariff-all-table-cell-header" colspan="2">Движимое имущество</td>
                <td colspan="4">5 000 рублей</td>
            </tr>
            <tr>
                <td class="tariff-all-table-cell-header" colspan="2" rowspan="2">Недвижимое имущество</td>
                <td class="tariff-all-table-cell-list" colspan="2">Обычный (по уровню сложности):<br><ul><li>Квартира</li><li>Дом</li><li>Земельный участок</li></ul></td>
                <td colspan="2">5 000 рублей</td>
            </tr>
            <tr>
                <td class="tariff-all-table-cell-list" colspan="2">Сложный:<br>
                    <ul>
                        <li>Производственная база</li>
                        <li>Торговый центр</li>
                        <li>Бизнес-центр</li>
                        <li>Предприятие как единый комплекс</li>
                        <li>Труднодоступное местонахождение имущества</li>
                        <li>Большое количество наименований имущества, включенного в один лот</li>                    
                    </ul>
                </td>
                <td colspan="2">индивидуально<br>(согласовывается с заказчиком по телефону до оплаты услуг)</td>
            </tr>
            <tr class="tariff-all-table-cell-empty"><td colspan="6"></td></tr>
            <tr><td class="tariff-all-table-cell-header tariff-all-table-cell-title" colspan="2">Подача заявки на участие в электронных торгах</td><td colspan="4">1 500 рублей</td></tr>
            <tr class="tariff-all-table-cell-empty"><td colspan="6"></td></tr>
            <tr>
                <td class="tariff-all-table-cell-header tariff-all-table-cell-title" colspan="2">Сопровождение сделки на торгах</td>
                <td colspan="4">5 000 рублей<br>В случае победы + 1% комиссия (по агентскому договору), но не менее 5 000 рублей и не более 30 000 рублей</td>
            </tr>
            <tr class="tariff-all-table-cell-empty"><td colspan="6"></td></tr>
            <tr>
                <td class="tariff-all-table-cell-header" colspan="2">Тариф на доступ к информации по лоту</td>
                <td>Пробный период бесплатно</td>
                <td>1 000 рублей</td>
                <td>2 000 рублей</td>
                <td>6 000 рублей</td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'tariff-all',
        props: {
        },
        methods: {
        },
        components: {            
        }   
    }
</script>

<style lang="scss">
    .tariff-all-table {
        width: 100%;
    }
    .tariff-all-table ul {
        margin-left: 5px; /* Отступ слева в браузере IE и Opera */
        padding-left: 5px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .tariff-all-table li {
        list-style-type: none;
    }
    .tariff-all-table, .tariff-all-table tr, .tariff-all-table td {
        border: 1px solid;
        empty-cells: show;
    }
    .tariff-all-table .tariff-all-table-cell-title {
        text-transform: uppercase;
    }
    .tariff-all-table td {
        text-align: center;
    }
    .tariff-all-table tr.tariff-all-table-cell-empty {
        height: 1.13em;
    }
    .tariff-all-table td.tariff-all-table-cell-service {
        vertical-align: text-top;
    }
    .tariff-all-table td.tariff-all-table-cell-header,
    .tariff-all-table td.tariff-all-table-cell-list {
        text-align  : left!important;
    }
</style>