<template>
    <div class="col">
        <p class="h1 text-center mb-5">Специальные условия подключения для новых зарегистрированных пользователей сайта БАИДС</p>

        <p>Для новых зарегистрированных пользователей сайта БАИДС предусмотрен льготный (Пробный) период — доступ ко всей информации по лотам предоставляется без дополнительной оплаты сроком на 7 календарных дней с момента регистрации Пользователя на сайте. После окончания пробного периода доступ ко всей информации по лотам будет ограничен.</p>

        <p>Для того чтобы иметь полный доступ ко всей информации на сайте по лотам по истечении пробного периода Пользователю необходимо произвести оплату тарифа (Тарифный план), в соответствии с которым ему будет предоставлен полный доступ ко всей информации по лотам, в том числе:</p>

        <ul>
            <li>сайт электронной торговой площадки, на которой проводятся торги;</li>
            <li>информация о должнике (наименование, ИНН);</li>
            <li>информация об организаторе торгов и арбитражном управляющем (наименование, ИНН);</li>
            <li>доступны вкладки по лотам (информация о торгах, документы, этапы изменения цены);</li>
            <li>доступны фотографии лотов;</li>
            <li>возможность добавить лоты в «Избранное», после чего данная информация будет отображаться в личном кабинете Пользователя.</li>
        </ul>

        <div v-if="tariffActive == 0"> 
            <p class="h2 text-center">Тарифный план</p>

            <p class="tariff-button-block">
                <a v-for="tariffItem in tariffs"
                    href="#"
                    class="btn btn-primary mb-4"
                    data-toggle="modal"
                    data-target="#modalService"
                    :data-service="tariffItem.title"
                    :data-description="tariffItem.description"
                    :data-duration="tariffDurations[tariffItem.title]"
                    :data-id="tariffItem.id">
                    {{tariffItem.title.replace('Тарифный план - ','')}}<br>{{tariffItem.price}} рублей
                </a>
            </p>
        </div>
        <div v-else> 
            <p class="h2 text-center">Вы активировали тариф</p>
        </div>

        <!--<button data-toggle="modal" data-target="#modalTariff" class="btn btn-primary mb-4">1 месяц<br>1000 рублей</button>-->
        <!--<button data-toggle="modal" data-target="#modalTariff" class="btn btn-primary mb-4">3 месяца<br>2000 рублей</button>-->
        <!--<button data-toggle="modal" data-target="#modalTariff" class="btn btn-primary mb-4">12 месяцев<br>6000 рублей</button>-->

        <p class="tariff-button-bottom">
            <span>Предложение по тарифам является публичной офертой</span>                                                

            <span class="tariff-button-bottom-link"><a href="/tariff-all">Посмотреть все тарифы</a></span>
        </p>

    </div>
</template>

<script>

    import axios from 'axios';

    export default {
        name: 'tariff',
        props: [
            'tariffActive'
        ],
        data() {
            return {                
                tariffs: [],
                
                tariffDurations: {
                    "Тарифный план - 1 месяц": 1,
                    "Тарифный план - 3 месяца": 3,
                    "Тарифный план - 1 год": 12,
                },
            }
        },
        mounted() {
            this.getTariffs()
        },
        methods: {
            getTariffs() {
                axios.post('/api/site/tariff-get').then(response => {
                    this.tariffs = response.data;
                })
            }
        } 
    }
</script>

<style lang="scss">
    .tariff-button-block, .tariff-button-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .tariff-button-bottom-link{
        text-align: right;
    }

    a.tariff-button {
        margin: 0 auto;
        display: block;
        width: 560px;
        height: 360px;
    }
</style>