<template>
    <div>
        <div class="row">
            <div class="col">
                <label for="disabled">
                    <input type="checkbox" v-model="disabled" id="disabled">
                    disabled
                </label>
                <label for="multiple">
                    <input type="checkbox" v-model="multiple" id="multiple">
                    multiple
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="?">
                    <select
                        :name="select_name"
                        v-model="model_select1"
                        :multiple="multiple"
                        :disabled="disabled"
                        id="select1">
                        <option
                            v-for="(text, key) in optionsList"
                            :value="key">{{ text }}
                        </option>
                    </select>
                </form>
            </div>
            <div class="col">
                <form action="?">
                    <super-select
                        :name="select_name"
                        v-model="model_select1"
                        :multiple="multiple"
                        :disabled="disabled"
                        :options="optionsList"
                        id="select3"
                        show-search
                    ></super-select>
                </form>
            </div>
            <div class="col">
                <form action="?">
                    <super-select
                        :name="select_name"
                        v-model="model_select1"
                        :multiple="multiple"
                        :disabled="disabled"
                        :options="optionsListAsArray"
                        id="select3"
                        show-search
                    ></super-select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ model_select1 }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'TestComponent',
        data() {
            return {
                select_name: 'select_name',
                placeholder: 'Placeholder',
                multiple: true,
                disabled: false,
                options: {
                    //'': null,
                    key1: 'Option 1',
                    key2: 'Option 2',
                    key3: 'Option 3',
                    key4: 'New option 1',
                    key5: 'New option 2',
                    key6: 'New option 3',
                },
                model_select1: ['key2']
            }
        },
        computed: {
            optionsList() {
                return this.options
            },
            optionsListAsArray() {
                return Object.keys(this.options)
            },
        }
    }
</script>
