<template>
    <div class="lot-preview rounded shadow p-3">
        <div class="media align-items-stretch m-1">

            <images-preview
                class="mr-4"
                :width="150"
                :height="150"
                :images="lot.images"
                :no-img-url="lot.last_category_lot_img"
            ></images-preview>

            <div class="lot-preview-body">

                <div class="mb-3">
                    <span class="mr-3">№{{ lot.id }}</span>

                    <a
                        v-if="lot.categories.length === 1"
                        class="mr-3 text-dark"
                        :href="lot.categories[0].url">{{ lot.categories[0].title }}</a>
                    <span
                        v-else-if="lot.categories.length > 1"
                        v-b-tooltip.hover
                        :id="`tooltip-button-${lot.id}`"
                        class="mr-3 text-dark d-none d-sm-inline">в {{ lot.categories.length }} категориях</span>

                    <b-tooltip
                        :delay='{ "show": 100, "hide": 800 }'
                        :target="`tooltip-button-${lot.id}`"
                        placement="top">
                        <div v-for="cat in lot.categories" :key="`cassd${cat.id}`">
                            <a :href="cat.url">• {{ cat.title }}</a>
                        </div>
                    </b-tooltip>

                    <a class="mr-3 text-dark lot-item-place">{{ lot.region_with_type }}</a>
                </div>

                <a :href="page_url" target="_blank">
                    <h3 class="h3 text-dark lot-text-nowrap lot-title-nowrap text-break-all">{{ lot.title || 'Не указано' }}</h3>
                </a>
                <p class="m-0 mb-5 lot-text-nowrap lot-desc-nowrap text-break-all">{{ lot.short_description || lot.description || 'Не указано' }}</p>

                <div class="lot-preview-bottom-row d-none d-sm-block position-absolute">
                    <div class="lot-preview-price">
                        <b>{{ current_price }} ₽</b>

                        <img
                            v-if="trade.AuctionType === 'OpenAuction'"
                            data-toggle="tooltip" data-placement="top" title="Аукцион"
                            class="lot-preview-price__type"
                            src="/img/icons/16px/circle-arr-up.svg"
                            alt="Аукцион">
                        <img
                            v-if="trade.AuctionType === 'PublicOffer'"
                            data-toggle="tooltip" data-placement="top" title="Публичное предложение"
                            class="lot-preview-price__type"
                            src="/img/icons/16px/circle-arr-down.svg"
                            alt="Публичное предложение">

                    </div>

                </div>

            </div>
        </div>
        <div class="lot-preview-bottom-row d-sm-none m-1 mt-3">
            <div class="lot-preview-price">
                <b>{{ current_price }} ₽</b>

                <img
                    v-if="trade.AuctionType === 'OpenAuction'"
                    data-toggle="tooltip" data-placement="top" title="Аукцион"
                    class="lot-preview-price__type"
                    src="/img/icons/16px/circle-arr-up.svg"
                    alt="Аукцион">
                <img
                    v-if="trade.AuctionType === 'PublicOffer'"
                    data-toggle="tooltip" data-placement="top" title="Публичное предложение"
                    class="lot-preview-price__type"
                    src="/img/icons/16px/circle-arr-down.svg"
                    alt="Публичное предложение">

            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: {
            lot: {
                required: true
            }
        },
        computed: {
            current_price() {
                const price = this.lot.current_price || this.lot.start_price;
                if(!price){
                    return 0;
                }
                return Number(Number(price).toFixed(2)).toLocaleString()
            },
            page_url() {
                return `/catalog/lot/${this.lot.id}`
            },
            trade() {
                return this.lot.trade || {};
            }
        }
    }
</script>
