<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="light" class="app-nav-bar px-5">
      <router-link to="/panel">
        <b-navbar-brand class="mr-5">
          <svg
            width="152"
            height="40"
            viewBox="0 0 152 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M47.9089 31.8952H38.2783V9.20204H54.4425V13.3949H42.8603V17.0258H47.9089C50.4969 17.0258 52.5333 17.6741 54.0607 19.1006C55.588 20.4838 56.3516 22.2992 56.3516 24.4605C56.3516 26.6217 55.588 28.4372 54.0607 29.8636C52.5758 31.2036 50.4969 31.8952 47.9089 31.8952ZM42.8603 20.916V27.7888H47.5695C48.8847 27.7888 49.9029 27.4862 50.6242 26.8811C51.3878 26.3192 51.7272 25.4546 51.7272 24.374C51.7272 23.2502 51.3878 22.4289 50.6242 21.8237C49.9029 21.1754 48.8423 20.916 47.5695 20.916H42.8603ZM63.0125 31.8952H58.2184L67.7641 9.07236H72.134L81.6797 31.8952H76.8432L74.6371 26.6217H65.2186L63.0125 31.8952ZM69.9278 14.9077L66.6611 22.7747H73.1522L69.9278 14.9077ZM88.5103 31.8952H84.6495V9.20204H89.2315V23.985L100.008 9.20204H103.953V31.8952H99.4137V17.0258L88.5103 31.8952ZM111.335 36.5203H107.008V27.7024H109.214C110.19 26.1463 110.953 24.2011 111.463 21.867C111.929 19.6193 112.141 16.5935 112.141 12.7897V9.20204H127.796V27.7024H130.851V36.5203H126.566V31.8952H111.335V36.5203ZM114.263 27.7024H123.214V13.3949H116.681C116.681 16.5071 116.554 19.2302 116.172 21.4347C115.832 23.6824 115.196 25.8005 114.263 27.7024ZM145.488 32.3274C142.051 32.3274 139.166 31.2468 136.875 29.0423C134.585 26.7946 133.439 23.9418 133.439 20.527C133.439 17.069 134.585 14.2594 136.833 12.0549C139.124 9.85041 142.051 8.72656 145.488 8.72656C147.652 8.72656 149.646 9.20204 151.385 10.153V14.8645C149.688 13.6974 147.736 13.1355 145.53 13.1355C143.451 13.1355 141.67 13.8271 140.227 15.2103C138.827 16.6367 138.106 18.3657 138.106 20.527C138.106 22.7315 138.869 24.5037 140.27 25.8869C141.712 27.2701 143.536 27.9617 145.742 27.9617C148.161 27.9617 150.197 27.3133 151.852 25.9734V30.6849C150.027 31.8087 147.906 32.3274 145.488 32.3274Z"
              fill="#39475F"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.36113 25.7682L0.0397139 13.1032C-0.0451373 12.8439 -0.00271171 12.5845 0.251842 12.4116C0.46397 12.282 0.76095 12.282 0.973078 12.4116L20.8283 25.5088C20.998 25.6385 21.0828 25.7682 21.0828 25.9411C21.0828 26.1572 20.998 26.2869 20.8283 26.4166L0.973078 39.9028C0.76095 40.0325 0.46397 40.0325 0.251842 39.9028C-0.00271171 39.7299 -0.0451373 39.4705 0.0397139 39.2544L6.36113 26.2004C6.44598 26.0708 6.44598 25.9411 6.36113 25.7682Z"
              fill="#F20010"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.36113 13.449L0.0397139 0.784035C-0.0451373 0.524684 -0.00271171 0.265334 0.251842 0.135659C0.46397 -0.037241 0.76095 -0.037241 0.973078 0.0924341L20.8283 13.1896C20.998 13.3193 21.0828 13.4922 21.0828 13.6651C21.0828 13.838 20.998 13.9677 20.8283 14.0973L0.973078 27.5836C0.76095 27.7565 0.46397 27.7565 0.251842 27.5836C-0.00271171 27.4539 -0.0451373 27.1513 0.0397139 26.9352L6.36113 13.9244C6.44598 13.7515 6.44598 13.6219 6.36113 13.449Z"
              fill="#0066FF"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.3007 19.8895L5.68234 24.4282L3.43378 19.9328L5.59749 15.4806L12.3007 19.8895Z"
              fill="#6E02A8"
            />
          </svg>
        </b-navbar-brand>
      </router-link>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <li class="nav-item" v-if="$root.iAmAdmin()">
            <router-link to="/panel/users" class="nav-link">{{ ('Пользователи') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmContentMen()">
            <router-link to="/panel/questions" class="nav-link">{{ ('Вопрос-ответ') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmContentMen()">
              <router-link to="/panel/consulting" class="nav-link">{{ ('Консультация') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmContentMen()">
            <router-link to="/panel/services" class="nav-link">{{ ('Услуги') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmAdmin()">
            <router-link to="/panel/messages" class="nav-link">{{ ('Рассылка') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmAdmin()">
            <router-link to="/panel/sliders" class="nav-link">{{ ('Слайдеры') }}</router-link>
          </li>
            <b-nav-item-dropdown v-if="$root.iAmAdmin()">
                <template slot="button-content">{{ ('Модерация') }}</template>
                <router-link to="/panel/moderation/user-org-trade" class="nav-link">{{ ('Организаторы торгов') }}</router-link>
                <router-link to="/panel/moderation/advertising" class="nav-link">{{ ('Реклама') }}</router-link>

            </b-nav-item-dropdown>


          <li class="nav-item" v-if="$root.iAmAdmin()">
              <router-link to="/panel/seo-configurations" class="nav-link">{{ ('SEO') }}</router-link>
            </li>
          <b-nav-item-dropdown v-if="$root.iAmStaff() && $root.iAmAdmin()">
            <template slot="button-content">{{ ('Каталог') }}</template>

            <router-link to="/panel/catalog-lots" class="dropdown-item">{{ ('Список лотов') }}</router-link>
            <router-link
              to="/panel/catalog-categories"
              class="dropdown-item"
            >{{ ('Категории лотов') }}</router-link>
            <router-link to="/panel/catalog-params" class="dropdown-item">{{ ('Параметры лотов') }}</router-link>
            <b-dropdown-divider></b-dropdown-divider>
            <router-link
              to="/panel/model/VehicleMaker"
              class="dropdown-item"
            >{{ ('Справочник автомобилей') }}</router-link>
              <router-link
                  to="/panel/model/VehicleSpecialMaker"
                  class="dropdown-item"
              >{{ ('Справочник спецтехники') }}
              </router-link>
            <b-dropdown-divider></b-dropdown-divider>
            <router-link to="/panel/model/Trade" class="dropdown-item">{{ ('Торги') }}</router-link>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown v-if="$root.iAmStaff() && $root.iAmAdmin()">
            <template slot="button-content">{{ ('CRM') }} </template>

            <router-link to="/panel/staff" class="dropdown-item" v-if="ipAdmin()">{{ ('Сотрудники') }}</router-link>
            <router-link to="/panel/orders" class="dropdown-item">{{ ('Заказы') }}</router-link>
            <router-link to="/panel/payments" class="dropdown-item">{{ ('Оплаты') }}</router-link>
          </b-nav-item-dropdown>
          <li class="nav-item" v-if="$root.iAmStaff() && !$root.iAmAdmin()">
            <router-link to="/panel/staff" class="nav-link">{{ ('Сотрудники') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmStaff() && !$root.iAmAdmin()">
            <router-link to="/panel/orders" class="nav-link">{{ ('Заказы') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmStaff() && !$root.iAmAdmin()">
            <router-link to="/panel/payments" class="nav-link">{{ ('Оплаты') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmStaff() && !$root.iAmAdmin()">
            <router-link to="/panel/catalog-lots" class="nav-link">{{ ('Список лотов') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmAdmin()">
              <router-link to="/panel/options" class="nav-link">{{ ('Настройки сайта') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmAdmin()">
              <router-link to="/panel/news" class="nav-link">{{ ('Новости') }}</router-link>
          </li>
          <li class="nav-item" v-if="$root.iAmAdmin()">
              <router-link to="/panel/about-project" class="nav-link">{{ ('О проекте') }}</router-link>
          </li>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <li class="nav-item">
            <b-link href="/" class="nav-link">{{ ('На сайт') }}</b-link>
          </li>

          <b-nav-item-dropdown right v-if="$root.profile">
            <!-- Using 'button-content' slot -->
            <template slot="button-content">{{ $root.profile.name }}</template>
            <li>
              <router-link to="/panel/profile" class="dropdown-item">{{ ('Профиль') }}</router-link>
            </li>
            <li>
              <router-link to="/panel/settings" class="dropdown-item">{{ ('Настройки') }}</router-link>
            </li>
            <b-dropdown-item href="javascript:" @click="logout">{{('Выход')}}</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<style scoped>
.app-nav-bar {
  box-shadow: 0 0 3px 1px #0003;
  z-index: 1001;
}
</style>

<script>
import api from "../../api";
import axios from 'axios';
export default {
    data() {
        return {
            ip: '',
        }
    },
    mounted(){
        axios.post('/panel/api/ip-check', {

        }).then(response => {
            this.ip = response.data
            //return date != new Date("2020-10-10");
        });
    },
  methods: {
    logout() {
      api
        .logout()
        .then(res => {
          this.$root.currentRoute = "/";
          window.history.pushState(null, "HomeScreen", "/");
          this.$root.profile = null;
          location.reload();
        })
        .catch(console.log);
    },
      ipAdmin(){
          var ips = ['188.186.186.6', '127.0.0.1', '192.168.0.1'];
          for(var i=0; i<ips.length; i++) {
              if(this.ip === ips[i]) {
                  return true;
              }
          }
      },
  }
};
</script>
