<template>
    <span>
        <span v-for="role in $props.roles">
            <b-badge :variant="role | variant">{{ role | name }}</b-badge>
        </span>
    </span>
</template>

<script>
    const codes = {
        ROLE_ADMIN: {
            variant: 'danger',
            name: 'Админ'
        },
        ROLE_MANAGEMENT: {
            variant: 'success',
            name: 'Management'
        },
        ROLE_FINANCE: {
            variant: 'warning',
            name: 'Finance'
        },
        ROLE_ACCOUNT_MANAGER: {
            variant: 'info',
            name: 'Account'
        },
        ROLE_SUPPORT: {
            variant: 'secondary',
            name: 'Support'
        },
        ROLE_CONTENT: {
            variant: 'info',
            name: 'Контент менеджер'
        },
        ROLE_STAFF: {
            variant: 'success',
            name: 'Сотрудник'
        },
    };

    export default {
        props: {
            roles: {
                type: Array,
                required: true
            }
        },
        filters: {
            name: (code) => {
                if (codes[code]) {
                    return codes[code].name;
                }
                return '?'
            },
            variant: (code) => {
                if (codes[code]) {
                    return codes[code].variant;
                }
                return 'light'
            }
        },
    }
</script>
