<template>
    <b-button type="button" variant="outline-danger" :disabled="disabled" @click="onClick" :size="$attrs.size">
        {{(currentText)}}
    </b-button>
</template>

<script>
    export default {
        data() {
            return {
                text: 'Удалить',
                textConfirm: 'Подтверите удаление?',
                textDisabled: 'Удаление...',
                pressed: false,
                disabled: false,
            }
        },
        props: {
            confirm: {
                type: Function,
                required: true
            }
        },
        created() {
        },
        computed: {
            currentText() {
                if (this.disabled) {
                    return this.textDisabled;
                }
                return this.pressed ? this.textConfirm : this.text
            }
        },
        methods: {
            onClick() {
                if (this.pressed) {
                    return this.onConfirm();
                }

                this.pressed = true;
                setTimeout(() => {
                    this.pressed = false;
                }, 2e3);
            },
            onConfirm() {
                this.disabled = true;
                setTimeout(() => {
                    this.disabled = false;
                    this.pressed = false;
                }, 2e3);
                return this.$props.confirm();
            }
        }
    }
</script>
