<template>
    <div class="bg-white rounded p-4 widget-stat" title="Catalog parser">
        <div class="mb-4">
            <b-progress
                :value="progress"
                :max="100"
                :show-progress="started"
                :precision="1"
                :variant="variant"
                :animated="started"/>
            <pre>{{ status }}</pre>
        </div>
        <b-button
            size="sm"
            variant="warning"
            :disabled="started"
            @click="onClickRun">
            {{ ('Run parser') }}
        </b-button>
        <!--<b-button
            size="sm"
            variant="danger"
            :disabled="!started"
            @click="onClickStop">
            {{ ('Stop parser') }}
        </b-button>-->
    </div>
</template>

<style scoped>
    pre {
        color: gray;
        height: 1.25rem;
    }
</style>

<script>
    import api from "../../api";

    const API_URL = 'panel/api/parser/command';

    export default {
        data() {
            return {
                started: false,
                progress: 0,
                status: null
            }
        },
        created() {
            Echo.private('parser')
                .listen('ParserCommandEvent', event => console.log(event))
                .listen('ParserEvent', event => {
                    switch (event.name) {
                        case 'progress':
                            this.started = true;
                            //this.progress = (event.data.all-event.data.left) / event.data.all * 100;
                            this.progress = event.data.progress;
                            break;
                        case 'started':
                            this.started = true;
                            break;
                        case 'ended':
                            this.started = false;
                            this.status = event.data;
                            break;
                        case 'status':
                            this.status = event.data;
                            break;
                        case 'fail':
                            console.log(event.data.message);
                            this.started = false;
                            break;
                    }
                })
        },
        computed: {
            variant() {
                return this.started ? 'success' : 'secondary'
            }
        },
        methods: {
            onClickRun() {
                console.log('onClickRun');
                this.status = null;
                api.fetchPost(API_URL, {command: 'run'})
                    .then(res => console.log({res}))
            },
            onClickStop() {
                console.log('onClickStop');
                api.fetchPost(API_URL, {command: 'stop'})
                    .then(res => console.log({res}))
            }
        }
    }
</script>
