<template>
    <div>
        <div
            ref="cnt"
            class="fly-buttons"
            :class="container_classes">
            <slot></slot>
        </div>
        <div ref="offset" class="fly-buttons-offset"></div>
    </div>
</template>

<style scoped lang="scss">
    .fly-buttons {
        position: fixed;
        z-index: 1000;
        background-color: #ffffffd6;
        border-radius: 7px;
        right: 0;
        bottom: 0;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 0 6px 0 #999;

        &.to-left {
            right: auto;
            left: 0;
        }

        &.to-top {
            bottom: auto;
            top: 67px;
        }

        &-offset {
            opacity: 0;
        }
    }
</style>

<script>
    export default {
        props: {
            left: {
                type: Boolean,
                required: false
            },
            top: {
                type: Boolean,
                required: false
            },
        },
        computed: {
            container_classes() {
                return {
                    'to-left': this.left,
                    'to-top': this.top,
                }
            }
        },
        mounted() {
            $(this.$refs.offset).height($(this.$refs.cnt).height());
        }
    }
</script>
