<template>
    <b-modal id="modal-question" centered hide-footer
             :title="modal_title"
             ref="modal">

        <b-form v-if="form">
            <b-row>
                <b-col sm="12">

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Автор:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.author"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="E-mail автора:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.email"
                                      type="email"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Вопрос:"
                    >
                        <b-form-textarea
                            size="sm"
                            v-model="form.question"
                            rows="4"
                            max-rows="6"
                        ></b-form-textarea>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Ответ:"
                    >
                        <b-form-textarea
                            size="sm"
                            v-model="form.answer"
                            rows="4"
                            max-rows="6"
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Приоритет:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.priority"
                                      type="number"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label=""
                    >
                        <b-form-checkbox
                            id="checkbox-1"
                            v-model="form.published"
                            name="checkbox-1"
                            :value="true"
                            :unchecked-value="false"
                        >
                            {{ ("Опубликовать на сайте") }}
                        </b-form-checkbox>
                    </b-form-group>
                </b-col>
            </b-row>

            <b-row v-if="!isDeleted">
                <b-col>
                    <div class="float-left pt-2" v-if="form.updated_at">
                        <small :title="form.updated_at | localDateTime">
                            Обновлен:
                            {{ form.updated_at | localCalendar }}
                        </small>
                    </div>
                    <div class="float-right" v-if="id">
                        <b-button type="button" variant="light" @click="onReload" size="sm">{{('Обновить')}}</b-button>
                        <b-button type="button" variant="primary" @click="onSave" size="sm">{{('Сохранить')}}</b-button>
                        <btn-delete :confirm="onDelete" size="sm"></btn-delete>
                    </div>
                    <div class="float-right" v-if="!id">
                        <b-button type="button" variant="warning" @click="onCreate" size="sm">{{('Создать')}}
                        </b-button>
                    </div>
                </b-col>
            </b-row>

        </b-form>

        <loader v-if="loading"></loader>

    </b-modal>
</template>

<style>
    #modal-article .modal-body {
        min-height: 210px;
    }

    #modal-user .modal-sm {
        max-width: 540px;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin: 1.75rem auto;
        }
    }
</style>

<script>
    import api from '../../api';

    export default {
        data() {
            return {
                id: null,
                data: null,
                form: null,
                loading: false,
            }
        },
        props: {},
        mounted() {
            this.$root.$on('question-open', (id) => {
                this.loadData(id);
                this.$refs.modal.show();
            });
            this.$root.$on('question-blank', () => {
                this.blankData();
                this.$refs.modal.show();
            });
        },
        beforeDestroy() {
            //do something before destroying vue instance
            this.$root.$off('question-open');
            this.$root.$off('question-blank');
        },
        computed: {
            modal_title() {
                if (this.id === null) {
                    return `${('Добавление вопроса')}`;
                }
                if (this.data && !!this.data.deleted_at) {
                    return `${('Уделенный вопрос')} #${this.id} (${this.$moment.utc(this.data.deleted_at).local().format('L LT')})`;
                }
                if (this.data) {
                    return `${('Воспрос')} #${this.id} от ${this.$moment.utc(this.data.created_at).local().format('L LT')}`;
                }
                return `${('Воспрос')} #${this.id}`;
            },
            isDeleted() {
                return !!this.id && !!this.form.deleted_at
            },
        },
        methods: {
            loadData(id, with_reset = true) {
                if (with_reset) this.resetModal();
                this.id = id;
                this.loading = true;
                api.getResource('questions', id)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                    })
                    .catch(err => console.log({err}))
                    .finally(() => this.loading = false)
            },
            resetModal() {
                this.data = this.form = this.id = null;
            },
            onSave() {
                this.loading = true;
                api.updateResource('questions', this.form)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.$root.$emit('questions-table-reload');
                        this.$refs.modal.hide();
                    })
                    .finally(() => {
                        this.loading = false;
                    })

            },
            onReload() {
                this.loadData(this.data.id, false)
            },
            blankData() {
                this.data = this.form = {};
                this.id = null;
            },
            onCreate() {
                api.createResource('questions', this.form)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.id = res.id;
                        this.$root.$emit('questions-table-reload');
                    })

            },
            onDelete() {
                api.deleteResource('questions', this.form.id)
                    .then(res => {
                        this.blankData();
                        this.$refs.modal.hide();
                        this.$root.$emit('questions-table-reload');
                    })
            },
        }
    }
</script>
