<template>
    <b-modal id="modal-question" centered hide-footer
             :title="modal_title"
             ref="modal">

        <b-form>
            <b-row>
                <b-col sm="12">

                    <b-list-group class="mb-4">
                        <b-list-group-item
                            v-for="item in questions_categories"
                            :key="item.id"
                            class="p-1 pr-2 pl-2 hover-item">
                            <b-row>
                                <b-col sm="10" class="pr-1">
                                    <span v-if="editable_id === item.id">
                                        <b-form-input
                                            ref="input_edit_title"
                                            :value="item.title"
                                            size="sm"
                                            type="text"
                                        ></b-form-input>
                                    </span>
                                    <span v-else>{{item.id}}: {{item.title}}</span>
                                </b-col>
                                <b-col sm="2" class="pl-1">
                                    <span v-if="editable_id === item.id">
                                        <b-button size="sm" block variant="success"
                                                  @click="onSave(item.id)">Сохр.</b-button>
                                    </span>
                                    <span v-else>
                                        <div class="float-right">
                                            <a href="javascript:" @click="onClickEdit(item.id)" class="hover-link">
                                                <b-icon icon="pencil" variant="primary" class="h5 m-0"></b-icon>
                                            </a>
                                            <a href="javascript:" @click="onDelete(item.id)" class="hover-link">
                                                <b-icon icon="trash-fill" variant="danger" class="h5 m-0"></b-icon>
                                            </a>
                                        </div>
                                    </span>
                                </b-col>
                            </b-row>
                        </b-list-group-item>
                    </b-list-group>

                    <b-row>
                        <b-col class="pr-1 flex-grow-1">
                            <b-form-input
                                v-model="input_title"
                                placeholder="Новая категория:"
                                size="sm"
                                type="text"
                            ></b-form-input>
                        </b-col>
                        <b-col class="pl-1 flex-grow-0">
                            <b-button size="sm" block variant="success" @click="onCreate">Добавить</b-button>
                        </b-col>
                    </b-row>

                </b-col>
            </b-row>

        </b-form>

        <loader v-if="loading"></loader>

    </b-modal>
</template>

<style scoped>
    .hover-item .hover-link {
        display: none;
    }

    .hover-item:hover {
        background-color: #e2e3e5;
    }

    .hover-item:hover .hover-link {
        display: inline-block;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin: 1.75rem auto;
        }
    }
</style>

<script>
    import api from '../../api';

    export default {
        data() {
            return {
                input_title: null,
                editable_id: null,
                loading: false,
            }
        },
        props: {},
        mounted() {
            this.$root.$on('consulting_categories-open', (id) => {
                this.loadData();
                this.$refs.modal.show();
            });
        },
        beforeDestroy() {
            //do something before destroying vue instance
            this.$root.$off('consulting_categories-open');
        },
        computed: {
            modal_title() {
                return `Категории вопроса`;
            },
            questions_categories() {
                return this.$root.questions_categories;
            },
        },
        methods: {
            loadData() {
                //this.loading = true;

                /*api.getResources('consulting_categories')
                    .then(res => {
                        //this.questions_categories = res.data;
                        this.$root.questions_categories = res.data;
                        this.loading = false;
                    })
                    .catch(err => console.log({err}))*/
                this.$root.loadQuestionCategories()
            },
            onCreate() {
                this.loading = true;
                let form = {
                    title: this.input_title
                };
                api.createResource('consulting_categories', form)
                    .then(res => {
                        this.input_title = '';
                        this.loading = false;
                        this.loadData();
                    })

            },
            onDelete(id) {
                if (!confirm('Удалить категорию №' + id + ' ?')) {
                    return;
                }
                api.deleteResource('consulting_categories', id)
                    .then(res => {
                        this.loadData();
                        this.$root.$emit('consulting_messages-table-reload');
                    })
            },
            onClickEdit(id) {
                this.editable_id = id;
            },
            onSave(id) {
                console.log(this.$refs.input_edit_title);
                let form = {id, title: this.$refs.input_edit_title[0].$el.value};
                this.loading = true;
                api.updateResource('consulting_categories', form)
                    .then(res => {
                        this.editable_id = null;
                        this.loadData();
                        this.$root.$emit('consulting_messages-table-reload');
                    })
                    .finally(() => {
                        this.loading = false;
                    })

            },
        }
    }
</script>
