<template>
    <b-modal id="modal-news" centered hide-footer
             :title="modal_title"
             ref="modal">

        <b-form v-if="form">
            <b-row>
                <b-col sm="12">

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Заголовок:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.title"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        v-if="data.id"
                        label-cols="4"
                        label-size="sm"
                        label="Баннер:"
                    >
                        <picture-input
                            ref="imageInput2"
                            accept="image/jpeg,image/png,image/svg"
                            :removable="true"
                            :hideChangeButton="true"
                            :alertOnError="false"
                            :prefill="data.url_image || data.image"
                            width="290"
                            height="100"
                            :custom-strings="{
                            drag: 'Перенесите сюда',
                            remove: ('Удалить изображение')
                        }"
                            @change="onChangeImage"
                            @remove="onRemoveImage"
                        >
                        </picture-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Текст статьи:"
                    >
                        <b-form-textarea
                            size="sm"
                            v-model="form.description"
                            rows="5"
                            max-rows="8"
                        ></b-form-textarea>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label=""
                        v-if="!isDeleted"
                    >
                        <b-form-checkbox
                            id="checkbox-1"
                            v-model="form.published"
                            name="checkbox-1"
                            :value="1"
                            :unchecked-value="0"
                        >
                            {{ ("Опубликовать на сайте") }}
                        </b-form-checkbox>
                    </b-form-group>
                </b-col>
            </b-row>

            <b-row v-if="!isDeleted">
                <b-col>
                    <div class="float-left pt-2" v-if="form.updated_at">
                        <small :title="form.updated_at | localDateTime">
                            Обновлен:
                            {{ form.updated_at | localCalendar }}
                        </small>
                    </div>
                    <div class="float-right" v-if="id">
                        <b-button type="button" variant="light" @click="onReload" size="sm">{{('Обновить')}}</b-button>
                        <b-button type="button" variant="primary" @click="onSave" size="sm">{{('Сохранить')}}</b-button>
                        <btn-delete :confirm="onDelete" size="sm"></btn-delete>
                    </div>
                    <div class="float-right" v-if="!id">
                        <b-button type="button" variant="warning" @click="onCreate" size="sm">{{('Создать')}}
                        </b-button>
                    </div>
                </b-col>
            </b-row>

        </b-form>

        <loader v-if="loading"></loader>

    </b-modal>
</template>

<style>
    #modal-article .modal-body {
        min-height: 210px;
    }

    #modal-user .modal-sm {
        max-width: 540px;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin: 1.75rem auto;
        }
    }
</style>

<script>
    import api from '../../api';
    import PictureInput from 'vue-picture-input';

    export default {
        components: {
            PictureInput
        },
        data() {
            return {
                id: null,
                data: null,
                form: null,
                loading: false,
            }
        },
        props: {},
        mounted() {
            this.$root.$on('new-open', (id) => {
                this.loadData(id);
                this.$refs.modal.show();
            });
            this.$root.$on('news-blank', () => {
                this.blankData();
                this.$refs.modal.show();
            });
        },
        beforeDestroy() {
            //do something before destroying vue instance
            this.$root.$off('new-open');
            this.$root.$off('news-blank');
        },
        computed: {
            modal_title() {
                if (this.id === null) {
                    return `${('Добавление новости')}`;
                }
                if (this.data && !!this.data.deleted_at) {
                    return `${('Уделенная новость')} #${this.id} (${this.$moment.utc(this.data.deleted_at).local().format('L LT')})`;
                }
                if (this.data) {
                    return `${('Новость')} #${this.id} от ${this.$moment.utc(this.data.created_at).local().format('L LT')}`;
                }
                return `${('Новость')} #${this.id}`;
            },
            isDeleted() {
                return !!this.id && !!this.form.deleted_at
            },
        },
        methods: {
            loadData(id, with_reset = true) {
                if (with_reset) this.resetModal();
                this.id = id;
                this.loading = true;
                api.getResource('news', id)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                    })
                    .catch(err => console.log({err}))
                    .finally(() => this.loading = false)
            },
            resetModal() {
                this.data = this.form = this.id = null;
            },
            onSave() {
                this.loading = true;
                api.updateResource('news', this.form)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.$root.$emit('news-table-reload');
                        this.$refs.modal.hide();
                    })
                    .finally(() => {
                        this.loading = false;
                    })

            },
            onReload() {
                this.loadData(this.data.id, false)
            },
            blankData() {
                this.data = this.form = {};
                this.id = null;
            },
            onCreate() {
                api.createResource('news', this.form)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.id = res.id;
                        this.$root.$emit('news-table-reload');
                    })

            },
            onDelete() {
                api.deleteResource('news', this.form.id)
                    .then(res => {
                        this.blankData();
                        this.$refs.modal.hide();
                        this.$root.$emit('news-table-reload');
                    });
            },
            onChangeImage(img) {
                let form = new FormData();
                form.append('id', this.id);
                form.append('image', this.$refs.imageInput2.file);
                api.updateResourceByFormData('news-image', form);
            },
            onRemoveImage() {
                api.deleteResource('news-image', this.id);
            },
        }
    }
</script>
