<template>
    <b-modal id="modal-about" centered hide-footer
             :title="modal_title"
             ref="modal"
             size="xl">

        <b-form v-if="form">
            <b-row>
                <b-col sm="12">

                     <b-form-group
                        label-cols="2"
                        label-size="sm"
                        label="Порядок:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.order"
                                      type="number"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="2"
                        label-size="sm"
                        label="Заголовок:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.title"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="2"
                        label-size="sm"
                        label="Контент:">
                        <editor v-model="form.description" lang="html" theme="chrome" class="html-editor" ></editor>
                    </b-form-group>

                     <b-form-group
                        label-cols="2"
                        label-size="sm"
                        label="Ссылка на видео:"
                    >
                        <b-form-textarea
                            size="sm"
                            v-model="form.link"
                            rows="1"
                        ></b-form-textarea>
                    </b-form-group>

                    <b-form-group
                        label-cols="2"
                        label-size="sm"
                        label=""
                        v-if="!isDeleted"
                    >
                        <b-form-checkbox
                            id="checkbox-1"
                            v-model="form.published"
                            name="checkbox-1"
                            :value="1"
                            :unchecked-value="0"
                        >
                            {{ ("Опубликовать на сайте") }}
                        </b-form-checkbox>
                    </b-form-group>
                </b-col>
            </b-row>

            <b-row v-if="!isDeleted">
                <b-col>
                    <div class="float-left pt-2" v-if="form.updated_at">
                        <small :title="form.updated_at | localDateTime">
                            Обновлен:
                            {{ form.updated_at | localCalendar }}
                        </small>
                    </div>
                    <div class="float-right" v-if="id">
                        <b-button type="button" variant="primary" @click="onSave" size="sm">{{('Сохранить')}}</b-button>
                        <btn-delete :confirm="onDelete" size="sm"></btn-delete>
                    </div>
                    <div class="float-right" v-if="!id">
                        <b-button type="button" variant="warning" @click="onCreate" size="sm">{{('Создать')}}
                        </b-button>
                    </div>
                </b-col>
            </b-row>

        </b-form>

        <loader v-if="loading"></loader>

    </b-modal>
</template>

<style>
    #modal-article .modal-body {
        min-height: 210px;
    }

    #modal-user .modal-sm {
        max-width: 540px;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin: 1.75rem auto;
        }
    }
</style>

<script>
    import api from '../../api';


    export default {
        components: {
            editor: require('vue2-ace-editor'),
        },
        data() {
            return {
                id: null,
                data: null,
                form: null,
                loading: false,
            }
        },
        props: {},
        mounted() {
            this.$root.$on('about_project_section-open', (id) => {
                this.loadData(id);
                this.$refs.modal.show();
            });
            this.$root.$on('about_project_section-blank', () => {
                this.blankData();
                this.$refs.modal.show();
            });

            this.editorInit();
        },
        beforeDestroy() {
            //do something before destroying vue instance
            this.$root.$off('about_project_section-open');
            this.$root.$off('about_project_section-blank');
        },
        computed: {
            modal_title() {
                if (this.id === null) {
                    return `${('Добавление блока')}`;
                }
                if (this.data && !!this.data.deleted_at) {
                    return `${('Уделенный блок')} #${this.id} (${this.$moment.utc(this.data.deleted_at).local().format('L LT')})`;
                }
                if (this.data) {
                    return `${('Блок')} #${this.id} от ${this.$moment.utc(this.data.created_at).local().format('L LT')}`;
                }
                return `${('Блок')} #${this.id}`;
            },
            isDeleted() {
                return !!this.id && !!this.form.deleted_at
            },
        },
        methods: {
            loadData(id, with_reset = true) {
                if (with_reset) this.resetModal();
                this.id = id;
                this.loading = true;
                api.getResource('about_project_section', id)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                    })
                    .catch(err => console.log({err}))
                    .finally(() => this.loading = false)
            },
            resetModal() {
                this.data = this.form = this.id = null;
            },
            onSave() {
                this.loading = true;
                api.updateResource('about_project_section', this.form)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.$root.$emit('about_project_section-table-reload');
                        this.$refs.modal.hide();
                    })
                    .finally(() => {
                        this.loading = false;
                    })

            },
            blankData() {
                this.data = this.form = {};
                this.id = null;
            },
            onCreate() {
                api.createResource('about_project_section', this.form)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.id = res.id;
                        this.$root.$emit('about_project_section-table-reload');
                    })

            },
            onDelete() {
                api.deleteResource('about_project_section', this.form.id)
                    .then(res => {
                        this.blankData();
                        this.$refs.modal.hide();
                        this.$root.$emit('about_project_section-table-reload');
                        
                    });
            },
            editorInit() {
                require('brace/ext/language_tools'); 
                require('brace/mode/html');
                require('brace/theme/chrome');
            }
        }
    }
</script>
<style scoped>
.html-editor {
    width: 50%;
    height: 100%;
    min-height: 150px;
}
input, .html-editor {
    border: 0.5px solid rgb(232, 232, 232);
}
.modal-dialog {
    min-width: 700px;
}
</style>
