<template>
    <b-modal id="modal-user" size="sm" centered hide-footer
             :title="modal_title + ' ' + (isOnline ? '- Online' : '')"
             ref="modal">

        <b-form v-if="form">
            <b-row>
                <b-col sm="6" v-if="id">
                    <picture-input
                        ref="avatarInput"
                        accept="image/jpeg,image/png"
                        :prefill="avatar_prefill"
                        :removable="true"
                        :hideChangeButton="true"
                        :alertOnError="false"
                        :custom-strings="{
                            drag: 'Перенесите сюда фото, либо кликните для выбора',
                            remove: ('Удалить фото')
                        }"
                        @change="onChangeAvatar"
                        @remove="onRemoveAvatar"
                    >
                    </picture-input>
                </b-col>
                <b-col sm="6">
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Фамилия:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.last_name"
                                      type="text"
                                      required
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Имя:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.name"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Отчество:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.middle_name"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="E-mail:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.email"
                                      type="email"
                                      required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Телефон:"
                    >
                        <b-form-input size="sm"
                                      v-model="form.phone"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Пароль:"
                    >
                        <b-form-input size="sm"
                                      autocomplete="new-password"
                                      v-model="form.password"
                                      type="password"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        v-if="haveRight('create')"
                        label-cols="4"
                        label-size="sm"
                        label="Роли:">
                        <b-form-checkbox-group
                            size="sm"
                            v-model="form.roles"
                            :options="roles"
                            name="roles"
                            stacked
                            :disabled="!iCanChangeRoles"
                        ></b-form-checkbox-group>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Должность:"
                        v-if="data.roles && (data.roles.indexOf('ROLE_STAFF') !== -1 || data.roles.indexOf('ROLE_CONTENT') !== -1)"
                    >
                        <b-form-input size="sm"
                                      v-model="form.appointment"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Отдел:"
                        v-if="data.roles && (data.roles.indexOf('ROLE_STAFF') !== -1 || data.roles.indexOf('ROLE_CONTENT') !== -1)"
                    >
                        <b-form-input size="sm"
                                      v-model="form.department"
                                      type="text"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>

            <b-row v-if="!isDeleted" class="mt-3">
                <b-col>
                    <div class="float-left pt-2" v-if="form.updated_at">
                        <small :title="form.updated_at | localDateTime">
                            Обновлен:
                            {{ form.updated_at | localCalendar }}
                        </small>
                    </div>
                    <div class="float-right" v-if="id">
                        <b-button type="button" variant="light" @click="onReload" size="sm">{{('Обновить')}}</b-button>
                        <b-button
                            v-if="haveRight('update')"
                            type="button" variant="primary"
                            @click="onSave" size="sm"
                        >{{('Сохранить')}}
                        </b-button>
                        <btn-delete
                            v-if="haveRight('delete')"
                            :confirm="onDelete" size="sm"
                        ></btn-delete>
                    </div>
                    <div class="float-right" v-if="!id">
                        <b-button type="button" variant="warning" @click="onCreate" size="sm">{{('Создать')}}
                        </b-button>
                    </div>
                </b-col>
            </b-row>

        </b-form>

        <loader v-if="loading"></loader>

    </b-modal>
</template>

<style>
    #modal-article .modal-body {
        min-height: 210px;
    }

    #modal-user .modal-sm {
        max-width: 630px;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin: 1.75rem auto;
        }
    }
</style>

<script>
    import api from '../../api';
    import PictureInput from 'vue-picture-input';
    import {ROLE} from "../../helper";

    export default {
        components: {
            PictureInput
        },
        data() {
            return {
                id: null,
                data: null,
                form: null,
                loading: false,
                roles: [
                    {text: 'Админ', value: 'ROLE_ADMIN'},
                    /*{text: 'Management', value: 'ROLE_MANAGEMENT'},
                    {text: 'Finance', value: 'ROLE_FINANCE'},
                    {text: 'Account', value: 'ROLE_ACCOUNT_MANAGER'},
                    {text: 'Support', value: 'ROLE_SUPPORT'},*/

                    {text: 'Контент менеджер', value: 'ROLE_CONTENT'},
                    {text: 'Сотрудник', value: 'ROLE_STAFF'},
                ],
                gender_list: [
                    {value: 1, text: ('Female')},
                    {value: 2, text: ('Male')},
                    {value: 3, text: ('Other')},
                ],
                avatarChanged: false,
            }
        },
        props: {},
        mounted() {
            this.$root.$on('user-open', (id) => {
                this.loadData(id);
                this.$refs.modal.show();
            });
            this.$root.$on('staff-open', (id) => {
                this.loadData(id);
                this.$refs.modal.show();
            });
            this.$root.$on('user-blank', () => {
                this.blankData();
                this.$refs.modal.show();
            });
        },
        beforeDestroy() {
            //do something before destroying vue instance
            this.$root.$off('user-open');
            this.$root.$off('staff-open');
            this.$root.$off('user-blank');
        },
        computed: {
            modal_title() {
                if (this.id === null) {
                    return `${('Создание пользователя')}`;
                }
                if (this.data && !!this.data.deleted_at) {
                    return `${('Уделенный пользователь')} #${this.id} (${this.$moment.utc(this.data.deleted_at).local().format('L LT')})`;
                }
                if (this.data) {
                    return `${('Пользователь')} #${this.id} от ${this.$moment.utc(this.data.created_at).local().format('L LT')}`;
                }
                return `${('Пользователь')} #${this.id}`;
            },
            isOnline() {
                return this.id && !!this.$root.members.find(item => item.id === this.id);
            },
            isDeleted() {
                return !!this.id && !!this.form.deleted_at
            },
            avatar_prefill() {
                return this.data.url_avatar || null;
            },
            iCanChangeRoles() {
                return this.$root.iHaveRole(ROLE.ADMIN)
            }
        },
        methods: {
            loadData(id, with_reset = true) {
                if (with_reset) this.resetModal();
                this.id = id;
                this.loading = true;
                api.getResource('users', id)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                    })
                    .catch(err => console.log({err}))
                    .finally(() => this.loading = false)
            },
            resetModal() {
                this.data = this.form = this.id = null;
            },
            onSave() {
                this.loading = true;
                let req_data = new FormData();
                if (this.avatarChanged) {
                    if (this.$refs.avatarInput.file) {
                        req_data.append('image', this.$refs.avatarInput.file);
                    } else {
                        req_data.append('image_clear', 'clear');
                    }
                }
                for (let key in this.form) {
                    req_data.append(key, this.form[key] || '');
                }
                api.updateResourceByFormData('users', req_data)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.avatarChanged = false;
                        this.$root.$emit('users-table-reload');
                    })
                    .finally(() => {
                        this.loading = false;
                    })

            },
            onReload() {
                this.loadData(this.data.id, false)
            },
            blankData() {
                this.data = this.form = {};
                this.id = null;
            },
            onCreate() {
                api.createResource('users', this.form)
                    .then(res => {
                        this.data = res;
                        this.form = res;
                        this.id = res.id;
                        this.$root.$emit('users-table-reload');
                    })

            },
            onDelete() {
                api.deleteResource('users', this.form.id)
                    .then(res => {
                        this.blankData();
                        this.$refs.modal.hide();
                        this.$root.$emit('users-table-reload');
                    })
            },
            onChangeAvatar(img_base64) {
                console.log('onChangeAvatar');
                this.avatarChanged = true;
            },
            onRemoveAvatar() {
                console.log('onRemoveAvatar');
                this.avatarChanged = true;
            },
            haveRight(right) {
                return !!this.data.panel_rights && !!this.data.panel_rights[right]
            }
        }
    }
</script>
