<template>
    <div class="filter-container p-2 rounded">
        <h5 class="mb-0">
            {{ (`Фильтр`) }}
            <a class="text-monospace text-decoration-none" href="#" @click="show = !show">
                [{{ show ? '-' : '+'}}]
            </a>
        </h5>
        <div v-if="show">
            <b-row class="mv-2 pv-2">
                <b-col v-for="field, idx in fields" v-bind:key="`idx_${idx}`">
                    <b-form-group :label="field.label" v-if="field.type === 'text'">
                        <b-form-input
                            @keyup.enter.prevent="false"
                            @change="(val) => { values[field.key] = val; onChangeForm()}"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group :label="field.label" v-if="field.type === 'select'">
                        <b-form-select
                            @change="(val) => { values[field.key] = val; onChangeForm()}"
                            :options="[{value: null, text: '---'}, ...field.options]"></b-form-select>
                    </b-form-group>
                    <b-form-group :label="field.label" v-if="field.type === 'date-interval'">
                        <v-md-date-range-picker
                            :showActivatorLabel="false"
                            start-date="2019-01-01"
                            end-date="2022-12-31"
                            @change="(dates, str_dates) => { values[field.key] = str_dates; onChangeForm()}"
                        ></v-md-date-range-picker>
                    </b-form-group>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<style>
    .filter-container {
        background-color: #ebedef;
    }

    .mdrp-root input.text-field.text-field__filled {
        display: inline-block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .date-empty .mdrp-root input.text-field.text-field__filled {
        color: #bdbdbd;
    }
</style>

<script>
    export default {
        props: {
            fields: {
                type: Array,
                required: true
            },
            onChangeFilter: {
                type: Function,
                required: true
            },
        },
        data() {
            return {
                show: false,
                values: {},
            }
        },
        created() {
            let key = `table-filter-${this.$route.path}`;
            this.show = !!(localStorage.getItem(key) === '1');
        },
        watch: {
            show(to, from) {
                let key = `table-filter-${this.$route.path}`;
                localStorage.setItem(key, to ? 1 : 0);
            }
        },
        methods: {
            onChangeForm(val) {
                console.log(val)
                this.onChangeFilter(this.values);
            },
        }
    }
</script>
