<template>
    <b-button
        v-if="onlyBtn"
        variant="outline-danger"
        size="sm"
        :disabled="parser_progress_animation"
        @click="onClickBtnRun">
        {{ btnText }}
    </b-button>
    <div v-else>
        <div v-if="!hideProgress">
            <div v-if="title" class="font-italic">{{ title }}</div>
            <div class="row mb-2">
                <div
                    v-if="runUrl"
                    class="col pr-0 flex-grow-0">
                    <b-button
                        variant="primary"
                        size="sm"
                        :disabled="parser_progress_animation"
                        @click="onClickBtnRun"
                        class="flex-grow-0 flex-column">Применить
                    </b-button>
                </div>
                <div class="col flex-grow-1">
                    <b-progress
                        class="mt-2"
                        show-progress
                        :value="parser_progress"
                        :animated="parser_progress_animation"
                        :variant="parser_variant"
                        striped></b-progress>
                    <small class="text-danger">{{ parser_error }}</small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            eventModel: {
                type: String,
                required: true
            },
            runUrl: {
                type: String,
                required: false
            },
            onlyBtn: {
                type: Boolean,
                default: false
            },
            hideIfEmpty: {
                type: Boolean,
                default: false
            },
            btnText: {
                type: String,
                default: 'Запустить обработку'
            },
            title: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                parser_variant: 'success',
                parser_error: null,
                parser_progress: 0,
                parser_progress_animation: false,
            }
        },
        computed: {
            hideProgress() {
                if (!this.hideIfEmpty) {
                    return false;
                }
                return !this.parser_progress_animation && !this.parser_error;
            }
        },
        mounted() {
            this.$root.$on(`panel-event-${this.eventModel}`, ({event, model, obj}) => {
                switch (event) {
                    case "parsing-start":
                        this.parser_variant = 'success';
                        this.parser_progress = 0;
                        this.parser_progress_animation = true;
                        this.error_message = null;
                        break;
                    case "parsing-progress":
                        this.parser_progress = Math.round(+obj['n'] / +obj['count'] * 100);
                        this.parser_progress_animation = true;
                        break;
                    case "parsing-complete":
                        this.parser_progress = 100;
                        this.parser_progress_animation = false;
                        break;
                    case "parsing-error":
                        this.parser_variant = 'danger';
                        this.parser_progress_animation = false;
                        this.parser_error = obj['message'];
                        if (this.parser_progress === 0) {
                            this.parser_progress = 100
                        }
                        break;

                }
            })
        },
        methods: {
            onClickBtnRun() {
                this.parser_progress_animation = true;
                this.axios.post(this.runUrl, {command: 'run'})
                    .then(console.log)
                    .catch(err => {
                        this.parser_progress_animation = false;
                        this.$root.$emit('toast', 'Error', err.message, 'warning')
                    })
            },
        }
    }
</script>
