<template>
            <div>
                <b-alert v-model="error_action" variant="danger" dismissible>
                    Ошибка попробуйте еще раз!
                </b-alert>
                <b-alert v-model="success_action.status" variant="success" dismissible>
                     {{ success_action.message }}
                </b-alert>
                <form :key="editItem.id" @submit.prevent="saveElement">

                    <b-form-group label="Сео тайтл" :invalid-feedback="getErrors('title')" :state="checkState('title')" label-for="seo_title">
                        <b-form-input
                            id="seo_title"
                            v-model="editItem.title"
                            :state="checkState('title')"
                            aria-describedby="input-title"
                            trim
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group label="Сео описание" :invalid-feedback="getErrors('description')" :state="checkState('description')" label-for="seo_description">
                        <b-form-textarea
                            id="seo_description"
                            :state="checkState('description')"
                            v-model="editItem.description"
                            rows="3"
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group label="Ключевые слова" :invalid-feedback="getErrors('keywords')" :state="checkState('keywords')" label-for="keywords">
                        <b-form-textarea
                            id="keywords"
                            :state="checkState('keywords')"
                            v-model="editItem.keywords"
                            rows="3"
                        ></b-form-textarea>
                    </b-form-group>
                    <div class="form-group d-flex justify-content-end">
                        <button v-if="editItem.id" @click="deleteElement" type="button" class="btn btn-outline-danger btn-sm mb-2">Удалить</button>
                        <button type="submit" class="btn btn-outline-success btn-sm mb-2 ml-2">{{ !editItem.id ? 'Добавить' : 'Сохранить' }}</button>
                    </div>
                </form>
            </div>
</template>


<script>



    export default {

        props: {
            objectId: Number,
            className: String
            },

        data: function() {
            return {
                editItem: {},
                error_action: false,
                errors: [],
                success_action: {
                    status: false,
                    message: ''
                },
                get_url: '/panel/api/seo-get-element',
                other_url: '/panel/api/seo-configurations'
            }
        },

        computed: {
        },

        mounted() {
            this.getElement()
        },
        methods: {
            getElement() {

                axios.get(this.get_url, {
                    params: {
                        id: this.objectId,
                        class_name: this.className
                    }
                })
                    .then(response => {

                        this.editItem = response.data
                        if(!this.editItem) {
                            this.setNewData()
                        }
                    })
                    .catch(error => this.error_action = error)
            },
            deleteElement() {
                let url = this.other_url + '/' + this.editItem.id;
                axios.delete(url).then(response => {
                    this.clearErrors()
                    this.setNewData()
                    this.success_action = {
                        status: true,
                        message: 'Данные успешно удалены!'
                    }
                }).catch(error => this.setError(error.response.data.errors))
            },
            saveElement() {
                axios.post(this.other_url, this.editItem)
                    .then(response => {
                        this.clearErrors()
                        this.success_action = {
                            status: true,
                            message: 'Данные добавлены!'
                        }
                        this.getElement()
                    }).catch(error => {
                        this.setError(error.response.data.errors)
                })
            },
            setSuccessAction() {
                this.success_action = true
            },
            setNewData() {
                this.editItem = {}
                this.editItem.object_id = this.objectId;
                this.editItem.class_name = this.className;
            },
            setError(errors) {
                this.error_action = true
                this.errors = errors
            },
            getErrors(field) {
                let result = '';
                if(this.errors && this.errors[field]) {
                    result = this.errors[field].join(', ');
                }
                return result;
            },
            checkState(key) {
                if(this.errors.hasOwnProperty(key) && this.errors) {
                    return false;
                }
            },
            clearErrors() {
                this.errors = []
            }

        }

    }


</script>
