<template>

    <b-row>
        <b-col v-if="error" cols="12">
            <div v-if="error" class="error text-danger">
                <p>{{ error }}</p>
            </div>
        </b-col>
        <b-col>
            <b-row class="mb-3">
                <b-col cols="12" sm="8">
                    <button :disabled="!firstPage" @click.prevent="goToFirst"
                            class="btn btn-light btn-sm">
                        <<
                    </button>
                    <button :disabled="! prevPage" @click.prevent="goToPrev"
                            class="btn btn-light btn-sm">
                        <
                    </button>
                    <span class="pl-3 pr-3">{{ paginatonCount }}</span>
                    <button :disabled="! nextPage" @click.prevent="goToNext"
                            class="btn btn-light btn-sm">
                        >
                    </button>
                    <button :disabled="!lastPage" @click.prevent="goToLast"
                            class="btn btn-light btn-sm">
                        >>
                    </button>

                    <b-form-select
                        v-model="selected_sorting"
                        :options="options_sorting"
                        @change="onChangeSorting"
                        size="sm" class="filter-select mr-3"
                    ></b-form-select>

                    <slot></slot>

                    <a href="javascript:" @click="onClearSearch" v-if="search" class="ml-3">
                        {{ ('Filter')}}: <b>{{search}}</b> [×]
                    </a>
                </b-col>
                <b-col cols="12" sm="4" class="text-right">
                    <b-button variant="outline-info" size="sm" @click="reload">{{('Обновить')}}</b-button>
                </b-col>
            </b-row>

            <slot name="filter"></slot>

            <b-table
                striped small responsive borderless
                class="page-table"
                :items="items"
                :busy="!hidden_reload && loading"
                :fields="fields">

                <!-- cells -->
                <template slot="cell(id)" slot-scope="data">
                    <a href="javascript:" @click="onClickID(data.item.id)">
                        <s v-if="isDeleted(data.item)" class="text-black-50">{{ data.item.id }}</s>
                        <span v-else>{{ data.item.id }}</span>
                    </a>
                </template>
                <template slot="cell(name)" slot-scope="data">
                    <a href="javascript:" @click="onClickID(data.item.id)">{{ data.item.name }}</a>
                </template>
                <template slot="cell(user)" slot-scope="data">
                    <user-link :user="data.item.user" v-if="data.item.user"/>
                    <span v-else>-</span>
                </template>
                <template slot="cell(title)" slot-scope="data">
                    <a href="javascript:" @click="onClickID(data.item.id)">
                        <s v-if="isDeleted(data.item)" class="text-black-50">{{ data.item.title }}</s>
                        <span v-else>{{ data.item.title }}</span>
                    </a>
                </template>
                <template slot="cell(created_at)" slot-scope="data">
                    <a href="javascript:" @click="onClickID(data.item.id)">
                        <span :title="data.item.created_at | localCalendar">
                            <s v-if="isDeleted(data.item)" class="text-black-50">
                                {{ data.item.created_at | localDateTime }}
                            </s>
                            <span v-else>
                                {{ data.item.created_at | localDateTime }}
                            </span>
                        </span>
                    </a>
                </template>
                <template slot="cell(published)" slot-scope="data">
                    <b-badge
                        :variant="data.item.published | publishedVariant">
                        {{ data.item.published | publishedName }}
                    </b-badge>
                </template>

                <template slot="cell(order_link)" slot-scope="data">
                    <a
                        v-if="data.item.order"
                        href="javascript:"
                        @click="onClickID(data.item.order.id, 'Order')">
                        Заказ: {{ data.item.order.id }}
                    </a>
                </template>
            </b-table>
        </b-col>
    </b-row>
</template>

<style scoped>
    .page-table table .btn {
        line-height: 1.1;
        padding: .25rem .35rem;
    }

    .filter-select {
        width: 120px;
    }
</style>

<script>
    import api from '../../api'

    export default {
        props: {
            model: {
                type: String,
                required: true
            },
            fields: {
                type: Array,
                required: true
            },
            sorting: {
                type: Array,
                required: false
            },
            filters: {
                type: Array,
                required: false
            },
            with: {
                type: String,
                default: null
            },
        },
        data() {
            return {
                items: [],
                loading: true,
                hidden_reload: false,
                search: null,

                page: 1,
                meta: null,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
                error: null,
                filter: {},

                selected_sorting: null,
                options_sorting: [],

                filter_attributes: [],
                filter_data: [],
            }
        },
        filters: {
            publishedVariant(published) {
                return published ? 'success' : 'light';
            },
            publishedName(published) {
                return published ? 'Опубликовано' : 'Скрыто';
            }
        },
        created() {
            this.$root.$on(`table-items-${this.model}-reload`, () => {
                this.loadTable(this.$route.params.page || 1)
            });

            this.$root.$on('search_bar.query', this.onSearch);

            if (this.sorting) {
                this.options_sorting = this.sorting.map(item => {
                    if (item.selected) {
                        this.selected_sorting = item.key;
                    }
                    return {value: item.key, text: item.label}
                });
            }

            this.$root.$on('panel-event-' + this.model, ({model, event, obj}) => {
                console.log(model + ':' + event, obj.id);
                switch (event) {
                    case 'created':
                        this.reload();
                        break;
                    case 'updated':
                    case 'deleted':
                    case 'restored':
                        if (this.getItemById(obj.id)) {
                            this.reload();
                        }
                        break;
                }
            })
        },
        computed: {
            nextPage() {
                if (!this.meta || this.meta.current_page === this.meta.last_page) {
                    return;
                }
                return this.meta.current_page + 1;
            },
            prevPage() {
                if (!this.meta || this.meta.current_page === 1) {
                    return;
                }
                return this.meta.current_page - 1;
            },
            firstPage() {
                if (!this.meta || this.meta.current_page === 1) {
                    return;
                }
                return 1;
            },
            lastPage() {
                if (!this.meta || this.meta.current_page === this.meta.last_page) {
                    return;
                }
                return this.meta.last_page;
            },
            paginatonCount() {
                if (!this.meta) {
                    return;
                }
                const {current_page, last_page} = this.meta;
                return `${current_page} из ${last_page}`;
            },
        },
        beforeDestroy() {
            this.$root.$off(`table-items-${this.model}-reload`);
            this.$root.$off('search_bar.query', this.onSearch);
        },
        mounted() {
            this.loadTable(this.$route.params.page || 1)
        },
        watch: {
            '$route'(to, from) {
                if (from.params.page !== to.params.page) {
                    this.loadTable(to.params.page)
                }
            }
        },
        methods: {
            localDateTime: (value) => {
                if (!value) {
                    return '-';
                }
                return this.$moment.utc(value).local().format('L LT');
            },
            urlPushState(page) {
                this.$router.push(`/panel/model/${this.model}-page-${page}`);
            },
            loadTable(page = 1) {
                this.loading = true;
                let query = {page};
                query.model = this.model;
                if (this.with) {
                    query.with = this.with;
                }
                if (this.selected_sorting) {
                    query.sort = this.selected_sorting;
                }
                if (this.search) {
                    query.search = this.search;
                }
                if (this.filter) {
                    query.filter = Object.assign({}, this.filter);
                }
                api.getResources(`model`, query)
                    .then(res => this.setData(null, res))
                    .catch(err => console.log({err}))
                    .finally(() => {
                        setTimeout(() => {
                            this.loading = false
                        }, 100)
                    })
            },
            reload() {
                if (this.loading) {
                    return;
                }
                this.loadTable(this.meta.current_page)
            },
            onChangeFilter(values) {
                this.filter = Object.assign({}, values);
                this.loadTable()
            },
            goToLast() {
                this.urlPushState(this.meta.last_page);
            },
            goToNext() {
                this.urlPushState(this.nextPage);
            },
            goToPrev() {
                this.urlPushState(this.prevPage);
            },
            goToFirst() {
                this.urlPushState(1);
            },
            setData(err, {data: items, links, meta}) {
                if (err) {
                    this.error = err.toString();
                } else {
                    this.error = null;
                    this.items = items;
                    this.links = links;
                    this.meta = meta;
                }
            },
            onSearch(query) {
                this.search = query;
                this.loadTable()
            },
            onChangeSorting() {
                this.loadTable()
            },
            onClearSearch() {
                this.search = null;
                this.$root.$emit('search_bar.clear');
                this.loadTable()
            },
            onClickID(id, model = null) {
                if (!model) {
                    model = this.model;
                }
                this.$root.$emit(`model-${model}-open`, id)
            },
            isDeleted(item) {
                return !!item.deleted_at
            },
            getItemById(id) {
                return this.items.find(item => item.id === id)
            }
        }
    }
</script>
