<template>
    <a href="javascript:" @click="onClick()">
        <span class="text-success">{{ onlineDot }}</span>
        <s v-if="isDeleted()" class="text-black-50">{{ user.full_name }} {{ role }}</s>
        <span v-else>{{ user.full_name }} {{ role }}</span>
    </a>
</template>

<script>
    import {ROLE} from "../../helper";

    export default {
        props: {
            user: {
                type: Object,
                required: true
            },
            showRole: {
                type: Boolean,
                required: false
            }
        },
        computed: {
            onlineDot() {
                return this.isOnline() ? '●' : ''
            },
            role() {
                if (!this.showRole || !this.user || !this.user.roles) {
                    return '';
                }
                if (this.user.roles.indexOf(ROLE.ADMIN) !== -1) {
                    return '(Админ)'
                } else if (this.user.roles.indexOf(ROLE.STAFF) !== -1) {
                    return '(Сотрудник)'
                } else if (this.user.roles.indexOf(ROLE.CONTENT) !== -1) {
                    return '(Контент менеджер)'
                }
                return ''
            }
        },
        methods: {
            onClick() {
                this.$root.$emit(`user-open`, this.user.id)
            },
            isOnline() {
                return !!this.$root.members.find(member => member.id === this.user.id)
            },
            isDeleted() {
                return !!this.user.deleted_at
            }
        }
    }
</script>
