@import './site';

html, body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
