// Fonts
//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
// Variables
@import 'variables';
@import '../../node_modules/geometria-font/style.css';
@import '../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

// Body
$body-bg: #F4F6FA;
$body-color: #39475F;

// Typography
// Roboto Condensed
// PT Sans
//$font-family-sans-serif: 'Roboto Condensed', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
//$font-family-sans-serif: 'Geometria', sans-serif;


// Forms
$input-btn-padding-y: .275rem;
$input-btn-padding-x: .75rem;
$label-margin-bottom: .3rem;
$input-bg: #fff;
$input-border-color: #F4F6FA;
$form-group-margin-bottom: .75rem;


$line-height-base: 1.6 !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-font-family: 'Geometria';
$headings-font-weight: 600;

$modal-content-border-width: 0;
$modal-inner-padding: 1.7rem;
$modal-header-padding-y: $modal-inner-padding;
$modal-header-padding-x: $modal-inner-padding;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;

// navbar
.navbar.bg-light {
    background-color: #ffffff !important;
}


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.min.css';

legend:focus, ul:focus, [tabindex]:focus {
    outline: none;
}

.widget-col {
    min-width: 280px;
}

.widget-stat {
    position: relative;
    min-height: 152px;
}

.widget-stat .title {
    line-height: 1.4;
}

.widget-stat .big-number {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Geometria', serif;
    line-height: 1
}

.widget-stat .bg-icon {
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.spinner-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop {
    opacity: 0.5;
}

.modal-header {
    border-bottom: 0;
    padding-bottom: 0;
}

.modal-title {
    font-weight: 300;
    font-size: 1.1rem;
}

.modal button {
    font-weight: 300;
}

.toast {
    opacity: 1 !important;
}

#b-toaster-top-right {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 100000;
    margin: 16px;
}

.breadcrumb {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^=top] {
    opacity: 1;
}
