// Fonts
// 1rem = 15.666667px

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
//@import '../../node_modules/geometria-font/style.css';
@import '../fonts/Geometria/stylesheet.css';

// Body
$body-bg: #ffffff;
$body-color: #39475F;
$link-color: #3a89ff;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.875rem; // 0.75rem;
$line-height-base: 1.6;

$headings-font-family: 'Geometria', sans-serif;
$headings-font-weight: 600 !default;
$spacer: 1rem !default;
$headings-margin-bottom: $spacer / .9;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.285;
$h3-font-size: $font-size-base * 1;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 1;
h3, .h3 {
    margin-bottom: .5rem !important;
}
.h2 {
    margin-bottom: 1.5rem !important;
}

// Colors
$blue: #0066FF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray-100: #F4F6FA !default;

// Forms
//$input-btn-font-size: $font-size-base;
$font-size-lg: $font-size-base;
$input-btn-padding-y: .5rem;
$input-btn-padding-y-sm: .275rem;
$btn-padding-x: 1.5rem;
$btn-padding-x-sm: 1rem;
$input-btn-padding-y-lg: .75rem;
$btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: $font-size-lg !default;
$label-margin-bottom: .3rem;
//$input-bg: #F4F6FA;
$input-bg: #ECF3FF;
$input-focus-bg: #ffffff;
//$input-border-color: #F4F6FA;
$input-border-color: #ECF3FF;
$form-group-margin-bottom: .9rem;
$input-placeholder-color: #9EACC3;
$input-btn-focus-box-shadow:  none;
$input-focus-border-color:  #D6DEEB;
$small-font-size: 85%;

body {
    min-width: 420px;
}

input.form-control:placeholder-shown {
    background-color: #F4F6FA;
    border-color: #F4F6FA;
}
input.was-validated .form-control:invalid,
input.form-control.is-invalid {
    background-color: #FCF1F2;
    border-color: #FCF1F2;
}
input.was-validated .form-control:invalid,
input.form-control.is-invalid {
    background-color: #FCF1F2;
    border-color: #FCF1F2;
}
input.was-validated .form-control:invalid:focus,
input.form-control.is-invalid:focus {
    box-shadow: none !important;
}

//$btn-padding-y-sm: .3rem; //, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm

// radio
$custom-control-indicator-checked-color: $blue;
$custom-radio-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='-4 -4 8 8'><circle r='4' fill='#{$custom-control-indicator-checked-color}'/></svg>");

$text-grey: #9EACC4;
.text-grey {
    color: $text-grey !important;
}

// modals
$modal-content-border-width: 0;
$modal-content-border-radius: .5rem;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
.modal-content {
    padding: 2rem 5rem;
    button:focus {
        outline: 0 !important;
    }
}
button[aria-label="Close"]:focus,
a[aria-label="Close"]:focus {
    outline: 0 !important;
}

#modalLogin .modal-content {
    padding: 2rem; // fix tabs in auth modal form
}
.modal-sm-offset .modal-content {
    padding: 2rem 2rem;
}

.modal-content .close-rt {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 1rem !important;
}

.modal-content .modal-header {
    padding-top: 0 !important;
}

.modal-content .modal-footer {
    padding-bottom: 0 !important;
}

// nav-tabs
$nav-tabs-border-color: #D6DEEB;
$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-active-border-color: none;
$nav-link-padding-x: 0;
.nav-tabs .nav-link {
    border: 0 !important;
    font-weight: bold;
    color: #9EACC4 !important;
}

.modal-header .nav-tabs {
    overflow-x: unset;
    overflow-y: unset;
}

.nav-tabs .nav-link.active {
    color: #39475F !important;
}

.nav-tabs .nav-item + .nav-item {
    margin-left: 2rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-bottom: 2px solid #F20010 !important;
}


$border-width: 1px !default;
//$border-color:                $gray-300 !default;


$border-radius: .45rem;
$border-radius-lg: .75rem;
$border-radius-sm: .3rem;

$shadow-color: rgb(0, 59, 148);
$box-shadow-sm: 0 .05rem .25rem rgba($shadow-color, .15);
$box-shadow: 0 .1rem .6rem rgba($shadow-color, .15);
$box-shadow-lg: 0 .125rem 1.2rem rgba($shadow-color, .15);

$shadow-color-primary: rgb(0, 102, 255);
$box-shadow-sm-primary: 0 .05rem .25rem rgba($shadow-color-primary, .5);
$box-shadow-primary: 0 .1rem .6rem rgba($shadow-color-primary, .5);
$box-shadow-lg-primary: 0 .125rem 1.2rem rgba($shadow-color-primary, .5);

.bg-primary.shadow-sm { box-shadow: $box-shadow-sm-primary !important; }
.bg-primary.shadow { box-shadow: $box-shadow-primary !important; }
.bg-primary.shadow-lg { box-shadow: $box-shadow-lg-primary !important; }

.bg-light2 {
    background-color: #ECF3FF;
}

// .lot-preview
.lot-preview {
    position: relative;
    margin-bottom: 30px !important;
    &-price {
        display: inline-block;

        > * {
            vertical-align: middle;
        }

        &__type {
            margin-left: .25rem;
        }
    }

    &-link {
        font-size: .75rem;
        color: $text-grey;

        &:hover {
            color: $text-grey;
            text-decoration: none;

            > svg {
                path {
                    fill: $link-color !important;
                }

                + span {
                    color: $link-color;
                }
            }
        }

        &.in-favorite {
            color: $red;

            &:hover {
                color: $red;
            }
        }

        > * {
            vertical-align: middle;
        }

        > svg {
            path {
                fill: $text-grey;
            }
        }

        &.in-favorite {
            > svg {
                path {
                    fill: $red;
                    fill-rule: evenodd;
                }
            }
        }

        & + & {
            margin-left: 1rem;
        }
    }

    &-body {
        flex: 1;
        align-items: stretch !important;
        position: relative;
        //padding-bottom: 2rem; // fix price of lot
    }

    &-bottom-row {
        //position: absolute; // fix price of lot
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.lot-social-share {
    padding-bottom: 3px;
}
.lot-social-share .ya-share2__container {
    margin-right: 3px;
}

.lot-social-share span,
.lot-report a,
.lot-report a span,
.lot-report a svg g {
    color: #9EACC4;
    fill: #9EACC4;
}
.lot-report a:hover {
    text-decoration: none;
}

a.ya-share2__link_more:hover {
    background-color: #3a89ff!important;
}
.lot-social-share span:hover,
.lot-report a:hover span {
    color: #3a89ff
}
.lot-report a:hover svg g {
    margin-right: 3px;
    fill: #3a89ff
}

// question-item
.question-item {
    &-answer {
        background-color: #ECF3FF;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 8px;
            background-color: $blue;
        }

        &-container {
            display: none;
        }
    }

    &-btn {
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .5rem;
        cursor: pointer;
    }

    svg {
        circle, line {
            stroke: $blue;
        }

        > g {
            transform-origin: center;
            transition: .2s;
            transform: rotate(0deg);
        }
    }

    &.opened {
        svg {
            circle, line {
                stroke: $input-placeholder-color;
            }

            > g {
                transform: rotate(45deg);
            }
        }
    }
}

.btn {
    box-shadow: $box-shadow;
    &-primary {
        box-shadow: $box-shadow-primary;
        &.disabled,
        &:disabled {
            opacity: 1 !important;
            color: white !important;
            border-color: #9eacc3 !important;
            background-color: #9eacc3 !important;
            box-shadow: $box-shadow !important;
        }
    }

    + .btn {
        margin-left: .5rem;
    }
}

// Custom checkbox sizes
$custom-control-indicator-checked-bg: $blue;
$custom-checkbox-indicator-border-radius: .2rem;
$custom-control-indicator-bg: #ffffff;
$custom-control-indicator-checked-bg: #ffffff;
$custom-control-indicator-checked-color: $blue;
$custom-control-indicator-checked-border-color: $blue;
$custom-control-indicator-size: 1.15rem;
$custom-checkbox-indicator-indeterminate-bg: #ffffff;
$custom-checkbox-indicator-indeterminate-border-color: $blue;

// Breadcrumbs
$breadcrumb-font-size: .8rem;
$breadcrumb-padding-y: .2rem;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 1rem !default;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: #9EACC3;
$breadcrumb-active-color: #9EACC3;
$breadcrumb-divider: quote(">");
$breadcrumb-border-radius: 0;

$navbar-light-color: #39475F;

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
        (
            "100": $gray-100,
            "200": $gray-200,
            "300": $gray-300,
            "400": $gray-400,
            "500": $gray-500,
            "600": $gray-600,
            "700": $gray-700,
            "800": $gray-800,
            "900": $gray-900
        ),
        $grays
);

$blue: #0066FF !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #F20010 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;


$primary: $blue !default;
//$secondary: #F20010;
$secondary: #39475f;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;


// Dropdown menu container and contents.
$dropdown-padding-y: .175rem;
$dropdown-padding-x: 1rem;

$table-hover-color: #0066ff;
$table-hover-bg: null;
$table-accent-bg: #ECF3FF;




.breadcrumb {
    font-weight: 600;
}

.breadcrumb-item {
    color: #9EACC3;

    a {
        color: #9EACC3;
    }
}

#navbarCabinet {
    align-items: normal;

    .list-group-cabinet .list-group-item {
        padding: 0.70rem 1.35rem;
    }
}

.list-group-cabinet {
    .list-group-item {
        border: 0;
        color: #39475F;
        padding: 0.70rem 1.75rem;

        &:first-child,
        &:last-child {
            border-radius: 0;
        }

        &.active,
        &:hover,
        &:focus {
            background-color: #F4F6FA;
            color: #39475F;
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }

        &:hover,
        &:focus {
            background-color: #fafafa;
        }

        > svg {
            margin-right: 0.4rem;
            margin-bottom: -1px;
            margin-top: -4px;
        }
    }
}

.navbar-nav .nav-link {
    padding: 0.25rem 0;
}

.nav-pills.nav-pills-cabinet {
    font-weight: 700;
    border-bottom: 1px solid #D6DEEB;
    .nav-link {
        border-radius: 0;
        padding: 0.5rem 0;
        color: #9EACC3;
        + .nav-link {
            margin-left: 2rem;
        }
    }
    .nav-link.active,
    .show > .nav-link {
        background-color: transparent;
        color: #39475F;
        border-bottom: 2px solid #F20010;
    }
}

.form-group {
    font-weight: 600;
    font-size: 0.8rem;
}

// Pagination

$pagination-color: $body-color;
$pagination-border-width: 0;

$pagination-focus-box-shadow: $input-btn-focus-box-shadow !default;
$pagination-focus-outline: 0 !default;

$pagination-active-color: $body-color;
$pagination-active-bg: #ECF3FF;

.pagination {
    .page-item {
        box-shadow: 0 .1rem .6rem rgba($shadow-color, .15);
        border-radius: $border-radius !important;

        .page-link {
            border-radius: $border-radius !important;
        }

        &.active {
            font-weight: bolder;
            box-shadow: none;
        }

        + .page-item {
            margin-left: .8rem;
        }
    }
}


@import './slick-theme.scss';


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.min.css';

.logo {
    /*max-height: 50px;*/
}

footer {
    background-color: #39475F;
    color: #F4F6FA;
    line-height: 2;
    a {
        color: #F4F6FA;
        &:hover {
            color: #ffffff;
        }
    }
    .h4 {
        margin-bottom: 12px;
    }
    .footer-nav {
        margin-bottom: 0;
    }
}

.dev-section {
    outline: 1px dashed $danger;
    padding: $table-cell-padding;
    box-sizing: border-box;
    color: $danger;

    &.primary {
        outline-color: $primary;
        color: $primary;
    }

    &.success {
        outline-color: $success;
        color: $success;
    }

    &.secondary {
        outline-color: $secondary;
        color: $secondary;
    }
}

.header-categories {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1050;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    display: none;

    &.open {
        display: block;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 59, 148, 0.15);

        &::before {
            display: block;
            content: "";
            background-color: #ffffff;
            height: 1rem;
            margin-top: -1.5rem;
        }
    }

    &-image-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        zoom: 2;
    }

    .subcategory {
        .list-group-item {
            background-color: transparent;

            &:hover {
                background-color: rgba(250, 250, 250, .5);
            }
        }
    }
}

.display-5 {
    font-size: 2rem;
}


.org_profile-type__1, .org_profile-type__2 {
    display: none;
}

.slider-item {
    position: relative;
    height: 250px;
    width: auto;

}

.slider-content {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    right: 0;
    bottom: 0;
}

.slider-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 3;
}

.wrapper-info {
    width: 100%;
}

// lk/profile
.description-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #D6DEEB;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;
        background-color: $blue;
    }
}

// lot-item view
.lot-text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.lot-title-nowrap {
    line-clamp: 5;
    -webkit-line-clamp: 5;
}

.lot-desc-nowrap {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    
    min-height: 100px;
}

@include media-breakpoint-down(xs) {
    .lot-preview-item-small {
        min-width: 310px !important;
    }

    .lot-preview-body {
        width: 45%;
    }

    .lot-item-place {
        //white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        //display: inline-block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .lot-preview-img {
        max-width: 150px !important;
        max-height: 150px !important;
    }

    .lot-desc-nowrap {
        display: none;
    }

    #service-btn {
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .bg-light-nav {
        background-color: #fff !important;
    }

    .banner-for-lot-price {
        font-size: 1.4rem !important;
    }

    .banner-for-lot {
        width: 280px !important;
        min-height: 380px !important;
    }
}

@include media-breakpoint-down(md) {
    .logo {
        max-height: 50px !important;
    }
}

@include media-breakpoint-up(sm) {
    .lot-title-nowrap {
        line-clamp: 2;
        -webkit-line-clamp: 2;
    }

    .lot-desc-nowrap {
        line-clamp: 3;
        -webkit-line-clamp: 3;
    }

    .btn-seemore {
        margin-top: 0 !important;
    }
}

@include media-breakpoint-up(md) {
    .lot-title-nowrap {
        line-clamp: 1;
        -webkit-line-clamp: 1;
    }
    .lot-desc-nowrap {
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }

    #favorites .lot-desc-nowrap {
        line-clamp: 3;
        -webkit-line-clamp: 3;
    }

    .rating-area {
        width: 150px;
    }
    .rating-area:not(:checked) > label {
        width: 30px;
        font-size: 35px;
        line-height: 35px;
    }

    #payTab {
        flex-wrap: wrap;
        border-bottom: 0;

        .nav-item {
            margin-left: 0;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .description-item {
        border: 0;
        border-left: 1px solid #D6DEEB;
        border-radius: 0 !important;

        &:before {
            width: 0;
        }
    }

    .border-lg-left {
        border-left: 1px solid #D6DEEB;
    }

    .lot-title-nowrap {
        -webkit-line-clamp: 2;
    }

    .slick-prev, .slick-next {
        display: inline-block !important;
    }
}


@include media-breakpoint-only(xs) {
    // #navbarCabinet for sm
    .pagination {
        width: 100%;
        overflow-x: auto;
        padding: .5rem;
    }
    #navbarCabinet {
        padding-left: 0 !important;

        .list-group-cabinet {
            .list-group-item {
                border-top: 1px solid #F4F6FA;
                border-radius: 0;

                &.active {
                    background-color: #fff !important;
                }

                &:last-child {
                    border-bottom: 1px solid #F4F6FA;
                }

                &:after {
                    content: "";
                    background: url("img/back.svg") no-repeat;
                    position: absolute;
                    right: 10px;
                    top: 13px;
                    width: 16px;
                    height: 16px;
                    -moz-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    opacity: 0.15;
                }
            }
        }
    }

    .lot-preview {
        margin-bottom: 12px !important;
    }

    // categories
    .general-categories-section a {
        font-size: 12px;
    }
}

@include media-breakpoint-only(md) {
    .general-categories-section .position-absolute.fixed-top {
        padding: 12px !important;
        font-size: 10px !important;
    }
}

.property-name {
    overflow: hidden;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        margin: 0 -99% 0 3px;
        vertical-align: baseline;
        border-bottom: 1.5px dotted #9EACC3;
    }
}

// tab scrolling
.nav-tabs, .nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.cabinet-header {
    line-height: 1.5rem;
}

// navbar
#main-navbar {
    .dropdown-toggle::before {
        display: inline-block;
        margin-top: 0.655em;
        margin-left: 1em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        margin-right: 0.255em;
    }

    .dropdown-toggle::after {
        border: 0 !important;
    }

    .dropdown-menu {
        left: -120px;
    }
}

.text-break-all {
    word-break: break-word;
}

.footer-nav {
    padding-left: 20px;
}

.logo-sm {
    max-width: 205px;
}

// Service evaluation
#modalEvalPopup .modal-content {
    padding: 2rem;
}

.rating-area {
    overflow: hidden;
    width: 220px;
    margin: 0 auto;
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
    content: '★';
}

.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
    position: relative;
}

.general-categories-section {
    .h4 {
        font-size: .9em;
    }
}

// other
.category-item {
    right: -1px;
}

.btn-login {
    font-size: .875rem;
}

.category-svg {
    vertical-align: sub;
    padding-bottom: 1px;
}

.btn-seemore {
    margin-top: 12px;
}

#carouselExampleIndicators .slider-content a.btn {
    bottom: 5px !important;
}

.navbar-login .nav-item .nav-link {
    padding-right: 0;
}

.navbar-light .nav-link {
    color: #39475F;
}

.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
}

.modal-body__more-text {
    white-space: break-spaces;
    height: 385px;
    overflow-y: scroll;
    margin-bottom:10px;
}

.agreement {
    display: inline-block;
    margin-right: 10px;
}


.tooltip-inner {
    background-color: #f3f3f3 !important;
    color: #222222;
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^=right] .arrow::before {
    border-right-color: #f3f3f3 !important;
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^=left] .arrow::before {
    border-left-color: #f3f3f3 !important;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^=top] .arrow::before {
    border-top-color: #f3f3f3 !important;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^=bottom] .arrow::before {
    border-bottom-color: #f3f3f3 !important;
}

#authLoginForm {
    label, button, a {
        font-size: 12px;
    }
}

.payment-icons {
    height: 40px;

    > * {
        margin-right: 1rem;
    }

    img {
        height: 40px;
    }
}

.contacts-items, .requisites-items {
    p {
        margin-bottom: 0.3rem;
    }
}

.dropdown-doc-list {
    .dropdown-doc-chapter {
        position: relative;
        border-top: 1px solid #e8e8e8;

        div.h2 {

            &:hover {
                cursor: pointer;
            }
            &:after {
                content: '';
                display: block;
                width: 12px;
                height: 8px;
                position: absolute;
                right: 20px;
                top: 28px;
                margin-top: -4px;
                background: url('img/dropdown-arrow.png') no-repeat center;
                -webkit-transform: rotate(0);
                transform: rotate(0);
                -webkit-transition: all .3s ease 0s;
                transition: all .3s ease 0s;
            }

            &[aria-expanded="true"] {
                &:after {
                    transform: rotate(180deg) !important;
                }
            }
        }

        &-content {
            ul {
                li {
                    margin-bottom: 0.8rem;
                }
            }
        }

        &:last-child {
            border-bottom: 1px solid #e8e8e8;
        }
    }
}

.link {
    margin-right: 10px;
    display: inline-block;
}

.link:hover #vk {
    fill: #4b729f;
}

.link:hover #youtube {
    fill: red;
}

.link:hover #telegram {
    fill: #039ae5;
}

.link:hover #instagram {
    fill: #e9486b;
}

input[type="file"] {
    display: none;
}

.flex-1 {
    flex: 1;
}

.flex-2{
    flex: 2;
}

.multiselect__tags {
    background: #ebf3ff !important;
    border: 1px solid $input-bg !important;
    border-radius: 0.45rem !important;
}

.multiselect__placeholder {
    color: $gray-700 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
}

.multiselect__spinner {
    background: #ebf3ff !important;
}

.multiselect__tag {
    background: $blue !important;
    padding-left: 0.75rem !important;
}

.multiselect__option--highlight {
    background-color: $blue !important;
}

.multiselect__tag-icon:after {
    color: $body-bg !important;
}

.multiselect__tag-icon:hover {
    background: red !important;
}

.multiselect__select {
    width: 34px !important;
}

.multiselect__select:before {
    color: $black !important;
    border-color: $black transparent !important;
}

.multiselect__input, .multiselect__single {
    background: transparent !important;
    font-size: 0.875rem !important;
}

.multiselect__option {
    white-space: normal !important;
}

.mailing-item .multi-select-row.custom-select {
    min-width: 280px
}

.content_toggle {
    width: 180px;
}

.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 250px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}

.list-reset {
    list-style-type: none;
    padding: 0;
}
