<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{('О проекте')}}</h1>
                </b-col>
            </b-row>
            <page-table
                ref="page_table"
                route="about_project_section"
                :fields="fields"
                :sorting="sorting"
            
            >
                <b-button
                    size="sm"
                    variant="warning"
                    @click="onClickAdd">
                    {{ ('Добавить') }}
                </b-button>
            </page-table>
        </b-container>
    </main-layout>
</template>

<script>
export default {
    data() {
        return {
            fields: [
                {key: 'id', label: ('ID')},
                {key: 'created_at', label: ('Создан')},
                {key: 'order', label: ('Порядок')},
                {key: 'title', label: ('Заголовок')},
                {key: 'published', label: ('Публикация')},
            ],
            sorting: [
                {key: 'order', label: 'По порядку'},
                {key: '-order', label: 'Сначала новые', selected: true},
                {key: '-published', label: 'Сначало опубликован'},
                {key: 'published', label: 'Сначало не опубликован'},
            ],
            breadcrumb: [
                {
                    text: 'Статистика',
                    to: {path: '/panel'}
                },
                {
                    text: 'О проекте',
                    active: true
                }
            ]
        }
    },
    methods: {
        onClickAdd() {
            this.$root.$emit('about_project_section-blank');
        }
    }
}

</script>