<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">Лот654 ID: {{ id }}</h1>
                </b-col>
            </b-row>

            <b-tabs content-class="mt-3">
                <b-tab title="Основное" active>
                    <b-row v-if="form">
                        <b-col md="6">
                            <div class="h5">Фотографии</div>
                            <file-uploader
                                class="mb-4"
                                url-load="/panel/api/resource/catalog-lot-images-load"
                                url-delete="/panel/api/resource/catalog-lot-images-delete"
                                :id="form.id"
                                v-model="images"
                            ></file-uploader>

                            <div class="h5">Конфигуратор параметра</div>
                            <div>
                                <b-row>
                                    <b-col sm="12">

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Название:"
                                        >
                                            <b-form-input
                                                v-model="form.title"
                                                placeholder="Если не указано, то выводить из Описания лота"
                                                size="sm"
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="ИНН площадки:"
                                        >
                                            <b-form-input
                                                v-model="form.TradePlaceINN"
                                                size="sm"
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Идентификатор торгов:"
                                        >
                                            <b-form-input
                                                v-model="form.TradeId"
                                                size="sm"
                                                disabled
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Номер лота:"
                                        >
                                            <b-form-input
                                                v-model="form.LotNumber"
                                                size="sm"
                                                disabled
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Начальная цена:"
                                        >
                                            <b-form-input
                                                v-model="form.StartPrice"
                                                size="sm"
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Шаг аукциона:"
                                        >
                                            <b-form-input
                                                v-model="form.StepPrice"
                                                size="sm"
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Видимость"
                                        >
                                            <b-form-checkbox
                                                v-model="form.published"
                                                :value="true"
                                                :unchecked-value="false"
                                                name="check-button"
                                                switch>
                                                {{ ("Показать в каталоге") }}
                                            </b-form-checkbox>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Классификаторы"
                                        >
                                            <b-list-group>
                                                <b-list-group-item
                                                    class="py-1 px-3"
                                                    v-for="item in form.classificators"
                                                    :key="item.id">
                                                    <b class="d-inline-block" style="width: 70px;">{{ item.code }} </b>{{
                                                    item.text }}
                                                </b-list-group-item>
                                            </b-list-group>
                                        </b-form-group>

                                    </b-col>
                                </b-row>
                            </div>
                        </b-col>

                        <b-col>
                            <b-form-group
                                label-size="sm"
                                label="Описание лота:"
                            >
                                <b-form-textarea
                                    size="sm"
                                    v-model="form.TradeObjectHtml"
                                    rows="6"
                                    max-rows="12"
                                ></b-form-textarea>
                            </b-form-group>
                            <b-form-group
                                label-size="sm"
                                label="Информация об оплате:"
                            >
                                <b-form-textarea
                                    size="sm"
                                    v-model="form.info.PaymentInfo"
                                    rows="6"
                                    max-rows="12"
                                ></b-form-textarea>
                            </b-form-group>
                            <b-form-group
                                label-size="sm"
                                label="Порядок и срок заключения договора купли-продажи:"
                            >
                                <b-form-textarea
                                    size="sm"
                                    v-model="form.info.SaleAgreement"
                                    rows="6"
                                    max-rows="12"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-tab>
                <b-tab title="Категории" v-if="form">

                    <b-row>
                        <b-col lg="6" md="9" sm="12">

                            <div class="h3">Категории лота</div>

                            <b-list-group>
                                <b-list-group-item
                                    class="py-1 px-3"
                                    v-for="item in form.categories"
                                    :key="item.id"
                                >
                                    <a href="#" @click="onClickDeleteCategory(item.id)" class="float-right text-danger">Удалить</a>
                                    <span class="d-inline-block" style="min-width: 50px;">ID {{ item.id }}:</span>
                                    {{ item.title }}
                                    <a target="_blank" :href="`/panel/catalog-category-${item.id}`">
                                        <svg class="bi bi-box-arrow-up-right" width="1em" height="1em"
                                             viewBox="0 0 16 16"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                                            <path fill-rule="evenodd"
                                                  d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
                                        </svg>
                                    </a>
                                </b-list-group-item>
                            </b-list-group>

                            <b-row class="mt-2">
                                <b-col class="flex-grow-0 text-nowrap pt-1">
                                    <span>Добавить категорию</span>
                                </b-col>
                                <b-col class="flex-grow-1 pr-0">
                                    <b-form-select
                                        ref="select_addition_category"
                                        :options="select_add_categories"
                                    >
                                    </b-form-select>
                                </b-col>
                                <b-col class="flex-grow-0">
                                    <b-button
                                        variant="primary"
                                        @click="onClickAddCategory">Добавить
                                    </b-button>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>

                </b-tab>
                <b-tab title="Параметры" v-if="form">
                    <b-table
                        :items="form.params"
                        :fields="param_fields">
                        <template v-slot:cell(value)="data">
                            <span v-if="data.item.field.code === 'kad_number'">
                                <a target="_blank" :href="`https://egrp365.ru/p_map/?kadnum=${data.item.value}&ref=bt`">{{data.item.value}}</a>
                            </span>
                            <span v-else>{{ data.item.value }}</span>
                        </template>
                    </b-table>
                </b-tab>
                <b-tab title="Местоположение" v-if="form" @click="onClickTabMap">

                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Индекс:"
                        disabled="disabled"
                    >
                        <b-form-input
                            v-model="form.postal_code"
                            size="sm"
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Федеральный округ:"
                        disabled="disabled"
                    >
                        <b-form-input
                            v-model="form.federal_district"
                            size="sm"
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Регион:"
                        disabled="disabled"
                    >
                        <b-form-input
                            v-model="form.region_with_type"
                            size="sm"
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="Населенный пункт:"
                        disabled="disabled"
                    >
                        <b-form-input
                            v-model="form.city_with_type"
                            size="sm"
                            type="text"></b-form-input>
                    </b-form-group>


                    <div v-if="form && form.dadata_suggest && form.dadata_suggest.data.geo_lat && form.params.findIndex(item => item.trade_lot_param_id === 1) !== -1">
                        <div class="h4">Карта</div>
                        <l-map
                            ref="map"
                            class="flex-1 w-100"
                            style="min-height: 510px; min-width: 200px"
                            :zoom=16
                            :center="[form.dadata_suggest.data.geo_lat, form.dadata_suggest.data.geo_lon]"
                        >
                            <l-control-layers></l-control-layers>
                            <l-tile-layer
                                v-for="tileProvider in tileProviders"
                                :key="tileProvider.id"
                                :name="tileProvider.name"
                                :url="tileProvider.url"
                                layer-type="base"/>
                            <l-marker
                                :icon="icon"
                                :lat-lng="[form.dadata_suggest.data.geo_lat, form.dadata_suggest.data.geo_lon]"
                            ></l-marker>
                        </l-map>
                    </div>
                </b-tab>
                <b-tab title="Сео" v-if="id">
                    <seo-form
                        :object-id="+id"
                        class-name="lot"
                    ></seo-form>
                </b-tab>
            </b-tabs>

            <fly-buttons left>
                <b-button type="button" variant="outline-info" @click="onReload" size="sm">
                    {{('Сбросить')}}
                </b-button>
                <b-button type="button" variant="outline-success" @click="onSave" size="sm">
                    {{('Сохранить')}}
                </b-button>
                <btn-delete :confirm="onDelete" size="sm"></btn-delete>
            </fly-buttons>

        </b-container>
    </main-layout>
</template>

<script>
    import L from 'leaflet';
    import {LMap, LTileLayer, LMarker, LControlLayers} from 'vue2-leaflet';
    import 'leaflet/dist/leaflet.css';

    import api from "../api";

    export default {
        components: {
            LMap,
            LTileLayer,
            LMarker,
            LControlLayers,
        },
        data() {
            return {
                loading: false,
                id: null,
                form: null,
                param_fields: [
                    {key: 'field.title', label: 'Параметр'},
                    //{key: 'field.type', label: 'Тип'},
                    {key: 'value', label: 'Значение'},
                ],
                categories: [],
                tileProviders: [
                    {
                        id: 1,
                        name: 'Carto',
                        url: 'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
                    },
                    {
                        id: 3,
                        name: 'OpenStreetMap',
                        url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    },
                    /*{
                        id: 5,
                        name: 'Yandex',
                        url: 'https://vec01.maps.yandex.net/tiles?l=map&x={x}&y={y}&z={z}',
                    },*/
                    {
                        id: 4,
                        name: 'Google',
                        url: 'http://mt0.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',
                    }
                ],
                breadcrumb_prepend: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Список лотов',
                        to: {path: '/panel/catalog-lots'}
                    }
                ],
            }
        },
        mounted() {
            this.onClickTabMap();
        },
        computed: {
            breadcrumb() {
                return [...this.breadcrumb_prepend, {
                    text: this.form ? `Лот: ${this.form.id}` : '...',
                    active: true
                }];
            },
            images() {
                return this.form.images.map(item => {
                    return {
                        id: item.id,
                        url: `/storage/${item.file}`
                    };
                })
            },
            icon() {
                return L.icon({
                    iconUrl: '/img/l-marker.svg',
                    iconSize: [50, 50], // size of the icon
                    iconAnchor: [25, 25], // point of the icon which will correspond to marker's location
                })
            },
            select_add_categories() {
                let options = [];

                this.categories.forEach(item => {
                    if (!item.parent_id) {
                        options.push({value: item.id, text: item.title, options: [
                                {value: item.id, text: item.title}
                            ]})
                    }
                })

                this.categories.forEach(item => {
                    if (item.parent_id) {
                        let parent_option = options.find(option => option.value === item.parent_id);
                        parent_option.options.push({value: item.id, text: item.title});
                    }
                })
                return options;
            }
        },
        created() {
            if (this.$route.path === '/panel/catalog-param-create') {
                this.form = {
                    title: '',
                    published: true,
                };
            } else {
                this.id = this.$route.params.id;
            }
            this.loadLists();
        },
        watch: {
            id(to, from) {
                if (to) {
                    this.loadModel();
                }
            },
        },
        methods: {
            loadLists() {
                return api.getResources('catalog/lists')
                    .then(res => {
                        this.categories = res.categories;
                    })
            },
            loadModel() {
                return api.getResources(`catalog-lots/${this.id}`)
                    .then(res => {
                        if (res.options === null) {
                            res.options = [];
                        }
                        this.form = res;
                    })
            },
            onSave() {
                this.loading = true;
                if (this.form.id) {
                    api.updateResource('catalog-lots', this.form)
                        .then(res => {
                            this.form = res;
                        })
                        .finally(() => {
                            this.loading = false;
                            //this.$router.push(`/panel/catalog-lots`)
                            //this.$router.back();
                        })
                } else {
                    api.createResource('catalog-lots', this.form)
                        .then(res => {
                            this.$router.push(`/panel/catalog-lot-${res.id}`);
                            this.id = res.id;
                            this.form = res;
                            this.loadModel();
                        })
                        .finally(() => {
                            this.loading = false;
                        })
                }
            },
            onReload() {
                this.loadModel()
            },
            onDelete() {
                api.deleteResource('catalog-lots', this.form.id)
                    .then(res => {
                        //this.$router.push(`/panel/catalog-lots`)
                        this.$router.back();
                    })
            },
            onClickDeleteTextarea(index) {
                this.form.regulars.splice(index, 1)
            },
            onClickTabMap() {
                this.$refs.map && this.$refs.map.mapObject._onResize();
            },
            onClickAddCategory() {
                let select = this.$refs.select_addition_category.$el;
                if (!select.value) {
                    return;
                }
                this.form.categories.push({
                    id: +select.value,
                    title: select.options[select.selectedIndex].text
                });
                select.value = null;
            },
            onClickDeleteCategory(id) {
                this.form.categories = this.form.categories.filter(item => item.id !== id)
            }
        }
    }
</script>
