<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{('Лоты')}}</h1>
                </b-col>
            </b-row>

            <page-table
                ref="page_table"
                route="catalog-lots"
                events="Lot"
                :fields="fields"
                :sorting="sorting"
            >
                <page-table-filter
                    v-if="filters.length > 0"
                    slot="filter"
                    :fields="filters"
                    :on-change-filter="onChangeFilter"/>
            </page-table>

        </b-container>

    </main-layout>
</template>

<script>

    import {ROLE} from "../helper";

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {
                        key: 'TradeId',
                        label: 'ID торгов'
                    },
                    {
                        key: 'TradeObjectHtml',
                        label: 'Содержимое',
                        formatter: (value, key, item) => {
                            return item.TradeObjectHtml.substr(0, 52)
                        },
                    },
                    {
                        key: 'categories',
                        label: 'Категории',
                        class: 'text-right',
                        tdClass: (value, key, item) => {
                            if (item.categories.length === 0) {
                                return 'table-danger text-danger'
                            }
                            return null;
                        },
                        formatter: (value, key, item) => {
                            return item.categories.length
                        },
                    },
                    {
                        key: 'params_filling',
                        label: 'Параметров',
                        class: 'text-right',
                        tdClass: (value, key, item) => {
                            if (item.params_filling) {
                                let diff = item.params_filling.count - item.params_filling.fill;
                                if (diff > 1) {
                                    return 'table-danger text-danger'
                                } else if (diff === 1) {
                                    return 'table-warning text-danger'
                                }
                            }
                            return null;
                        },
                        formatter: (value, key, item) => {
                            if (item.params_filling) {
                                return `${item.params_filling.fill}/${item.params_filling.count}`
                            }
                            return '-'
                        },
                    },
                    //{key: 'LotNumber', label: ('LotNumber')},
                    {
                        key: 'status',
                        label: 'Статус'
                    },
                    {
                        key: 'StartPrice',
                        label: 'Начальная цена',
                        class: 'text-right',
                        formatter: (value, key, item) => {
                            return value ? value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') : '-'
                        }
                    },
                ],
                sorting: [
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые', selected: true},
                ],
                filters: [
                    {
                        key: 'id',
                        label: 'ID',
                        type: 'text'
                    },
                    {
                        key: 'TradeId',
                        label: 'ID торгов',
                        type: 'text'
                    },
                    {
                        key: 'TradeObjectHtml',
                        label: 'Содержимое',
                        type: 'text'
                    }
                ],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Список лотов',
                        active: true
                    }
                ]
            }
        },
        methods: {
            onChangeFilter(values) {
                this.$refs.page_table.onChangeFilter(values);
            }
        }
    }
</script>
