<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">Параметр ID: {{ id }}</h1>
                </b-col>
            </b-row>

            <b-row>
                <b-col md="6" order-md="1" order-sm="2">
                    <div class="h5">Конфигуратор параметра</div>
                    <div v-if="form">
                        <b-row>
                            <b-col sm="12">

                                <b-form-group
                                    label-cols="4"
                                    label-size="sm"
                                    label="Тип параметра:"
                                >
                                    <b-form-select
                                        v-model="form.type"
                                        :options="types_select"
                                    ></b-form-select>
                                </b-form-group>

                                <b-form-group
                                    label-cols="4"
                                    label-size="lg"
                                    label="Название:"
                                >
                                    <b-form-input
                                        v-model="form.title"
                                        size="lg"
                                        type="text"></b-form-input>
                                </b-form-group>

                                <b-form-group
                                    label-cols="4"
                                    label-size="sm"
                                    label="Спец символ:"
                                    id="tooltip-target-1"
                                >
                                    <b-form-input
                                        v-model="form.code"
                                        :disabled="!mode_creation && !!form.code"
                                        size="sm"
                                        class="text-monospace"
                                        type="text"></b-form-input>
                                </b-form-group>

                                <b-form-group
                                    label-cols="4"
                                    label-size="sm"
                                    label="Валидатор:"
                                    id="tooltip-validator-1"
                                >
                                    <b-form-input
                                        v-model="form.validator"
                                        size="sm"
                                        class="text-monospace"
                                        type="text"></b-form-input>
                                </b-form-group>
                                <b-tooltip target="tooltip-target-1" triggers="hover">
                                    Используется в выражениях <br>
                                    <span class="text-monospace">(?P<<span class="text-warning">{{ form.code }}</span>>.*)</span>
                                </b-tooltip>

                                <b-form-group
                                    label-cols="4"
                                    label-size="sm"
                                    label="Позиция:"
                                >
                                    <b-form-input
                                        v-model="form.sort"
                                        size="sm"
                                        type="number"></b-form-input>
                                </b-form-group>

                                <b-form-group
                                    label-cols="4"
                                    label-size="sm"
                                    label="Видимость"
                                >
                                    <b-form-checkbox
                                        id="checkbox-1"
                                        v-model="form.published"
                                        name="checkbox-1"
                                        :value="true"
                                        :unchecked-value="false"
                                        switch>
                                        {{ ("Показывать в фильтрах") }}
                                    </b-form-checkbox>
                                </b-form-group>

                                <b-form-group
                                    label-cols="4"
                                    label-size="sm"
                                    label="Опции"
                                >
                                    <b-form-checkbox-group
                                        v-model="form.options"
                                        :options="options"
                                        value-field="val"
                                        stacked
                                        switches
                                    ></b-form-checkbox-group>
                                    <div
                                        v-if="form.options && form.options.findIndex(val => val === 'replace_table') !== -1"
                                        class="mt-2">
                                        <b>Таблица замены значений параметра</b>
                                        <p class="mb-1" style="line-height: 1;">Пример:<br>
                                            <code>один=1<br>двушка=2</code></p>
                                        <b-form-textarea
                                            size="sm"
                                            placeholder="Введите `исходное=итоговое` значение в каждой новой строке"
                                            rows="4"
                                            v-model="form.replace_table"
                                            class="text-monospace"
                                        ></b-form-textarea>
                                    </div>
                                </b-form-group>


                                <div class="h5">Категории для лотов которых добавить параметр</div>
                                <multiselect
                                    :multiple="true"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :preserve-search="true"
                                    placeholder="Выберите категории"
                                    label="title"
                                    track-by="title"
                                    :preselect-first="true"
                                    v-model="form.categories"
                                    :options="categories"></multiselect>

                            </b-col>
                        </b-row>
                    </div>
                </b-col>
                <b-col md="6" order-md="2" order-sm="1" v-if="form">


                    <div>
                        <div class="h5">Регулярные выражения для поиска по тексту</div>
                        <p>Для составления выражений можно использовать сервис <a target="_blank"
                                                                                  href="https://regex101.com/">regex101.com</a>
                        </p>
                        <ul class="list-unstyled" ref="sortable">
                            <li
                                class="pb-3"
                                v-for="item, index of form.regulars">
                                <label>Регулярное выражение ID: {{ item.id || 'Добавление' }}</label>
                                <a
                                    href="#"
                                    class="float-right text-danger"
                                    @click="onClickDeleteTextarea(index)">Удалить</a>
                                <b-form-textarea
                                    size="sm"
                                    placeholder="Enter Regex code"
                                    rows="4"
                                    v-model="item.regex"
                                    class="text-monospace"
                                ></b-form-textarea>
                            </li>
                            <li class="text-center">
                                <b-button @click="onClickAddTextarea">Добавить</b-button>
                            </li>
                        </ul>
                    </div>

                </b-col>
            </b-row>

            <fly-buttons left>
                <b-button type="button" variant="outline-info" @click="onReload" size="sm">
                    {{('Обновить')}}
                </b-button>
                <b-button type="button" variant="outline-success" @click="onSave" size="sm">
                    {{('Сохранить')}}
                </b-button>
                <btn-delete :confirm="onDelete" size="sm"></btn-delete>
            </fly-buttons>

        </b-container>

    </main-layout>
</template>

<script>

    import api from "../api";
    import Sortable from 'sortablejs'

    export default {
        data() {
            return {
                mode_creation: false,
                loading: false,
                id: null,
                form: null,
                types_select: [
                    {value: 'string', text: 'Строка'},
                    {value: 'checkbox', text: 'Выбор нескольких значений'},
                    {value: 'numeric-range', text: 'Диапазон чисел'},
                    {value: 'checkbox-vehicle-brands', text: 'Марка'},
                    {value: 'checkbox-vehicle-models', text: 'Модель'},
                ],
                categories: [],
                options: [
                    {val: 'mb_strtoupper', text: 'Перевести значение в верхний регистр'},
                    {val: 'mb_strtolower', text: 'Перевести значение в нижний регистр'},
                    {val: 'methodVehicleMaker', html: 'Определить список марок авто <code>*brands*</code>'},
                    {val: 'methodVehicleModel', html: 'Определить список моделей авто <code>*models*</code>'},
                    {val: 'clear_quota', html: 'Убирать кавычки <code>" \'</code>'},
                    {val: 'replace_table', html: 'Заменить найденное значение по таблице'},
                ],
                breadcrumb_prepend: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Параметры лотов',
                        to: {path: '/panel/catalog-params'}
                    }
                ],
            }
        },
        mounted() {
            console.log(this.$refs.sortable)
            //let sortable = Sortable.create(this.$refs.sortable.$el);
        },
        computed: {
            breadcrumb() {
                return [...this.breadcrumb_prepend, {
                    text: this.form ? this.form.title : '...',
                    active: true
                }];
            }
        },
        created() {
            if (this.$route.path === '/panel/catalog-param-create') {
                this.mode_creation = true;
                this.form = {
                    categories: [],
                    regulars: [],
                    type: 'checkbox',
                    title: '',
                    code: '',
                    options: null,
                    replace_table: null,
                    published: true,
                    sort: 200,
                };
            } else {
                this.id = this.$route.params.id;
            }
            this.loadLists();
        },
        watch: {
            id(to, from) {
                if (to) {
                    this.loadModel();
                }
            },
        },
        methods: {
            loadLists() {
                return api.getResources('catalog/lists')
                    .then(res => {
                        this.categories = res.categories;
                    })
            },
            loadModel() {
                return api.getResources(`catalog-params/${this.id}`)
                    .then(res => {
                        if (res.options === null) {
                            res.options = [];
                        }
                        this.form = res;
                        if (this.form.regulars.length === 0) {
                            this.onClickAddTextarea()
                        }
                    })
            },
            onSave() {
                this.loading = true;
                if (this.form.id) {
                    api.updateResource('catalog-params', this.form)
                        .then(res => {
                            this.form = res;
                        })
                        .finally(() => {
                            this.loading = false;
                            //this.$router.push(`/panel/catalog-params`)
                            this.$router.back();
                        })
                } else {
                    api.createResource('catalog-params', this.form)
                        .then(res => {
                            this.$router.push(`/panel/catalog-param-${res.id}`);
                            this.id = res.id;
                            this.form = res;
                            this.loadModel();
                        })
                        .finally(() => {
                            this.loading = false;
                        })
                }
            },
            onReload() {
                this.loadModel()
            },
            onDelete() {
                api.deleteResource('catalog-params', this.form.id)
                    .then(res => {
                        //this.$router.push(`/panel/catalog-params`)
                        this.$router.back();
                    })
            },
            onClickDeleteTextarea(index) {
                this.form.regulars.splice(index, 1)
            },
            onClickAddTextarea() {
                this.form.regulars.push({regex: ''})
            },
        }
    }
</script>
