<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{('Каталог')}}</h1>
                </b-col>
            </b-row>

            <div class="row">
                <div
                    v-for="item in menu"
                    class="col">
                    <b-card
                        :title="item.title"
                        tag="article"
                        style="max-width: 20rem;"
                        class="mb-2 d-flex flex-column"
                    >
                        <!--<b-card-text>
                            {{ item.description }}
                        </b-card-text>-->
                        <router-link :to="item.route" class="btn btn-primary">{{ ('Перейти') }}</router-link>
                    </b-card>
                </div>
            </div>

        </b-container>

    </main-layout>
</template>

<script>
    export default {
        data() {
            return {
                menu: [
                    {
                        title: 'Категории',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content',
                        route: '/panel/catalog-categories'
                    },
                    {
                        title: 'Свойства лота',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content',
                        route: '/panel/catalog-params'
                    },
                    {
                        title: 'Лоты',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content',
                        route: '/panel/catalog-lots'
                    },
                    {
                        title: 'Автомобили',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content',
                        route: '/panel/model/VehicleMaker'
                    },
                ],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        active: true
                    }
                ]
            }
        },
    }
</script>
