<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <h1 class="display-5 mb">{{('Параметры лотов')}}</h1>

            <page-table
                ref="page_table"
                route="catalog-params"
                :fields="fields"
                :sorting="sorting"
            >
                <b-button
                    size="sm"
                    variant="outline-primary"
                    @click="onClickAdd">
                    {{ ('Добавить') }}
                </b-button>

                <progress-parsing-params
                    event-model="TradeLotParam"
                    only-btn
                    btn-text="Запустить сбор параметров"
                    run-url="/panel/api/command/run-parsing-params"
                ></progress-parsing-params>

            </page-table>

        </b-container>

    </main-layout>
</template>

<script>

    import {ROLE} from "../helper";

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'title', label: ('title')},
                    {key: 'sort', label: ('sort')},
                    {key: 'published', label: ('published')},
                ],
                sorting: [
                    {key: 'id', label: 'По порядку', selected: true},
                    {key: '-id', label: 'Сначала новые'},
                ],
                filters: [],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Параметры лотов',
                        active: true
                    }
                ],
            }
        },
        methods: {
            onChangeFilter(values) {
                console.log('onChangeFilter', Object.assign({}, values));
                this.$refs.page_table.onChangeFilter(values);
            },
            onClickAdd() {
                this.$router.push(`/panel/catalog-param-create`)
            }
        }
    }
</script>
