<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <h1 class="display-5 mb">{{('Категории')}}</h1>

            <page-table
                ref="page_table"
                route="catalog-categories"
                events="Catalog/Category"
                :fields="fields"
                :sorting="sorting"
            >
                <page-table-filter
                    v-if="filters.length > 0"
                    slot="filter"
                    :fields="filters"
                    :on-change-filter="onChangeFilter"/>

                <b-button
                    size="sm"
                    variant="outline-primary"
                    @click="onClickAdd">
                    {{ ('Добавить') }}
                </b-button>

                <progress-parsing-params
                    event-model="TradeLotParam"
                    only-btn
                    run-url="/panel/api/command/run-parsing-params"
                ></progress-parsing-params>

            </page-table>

        </b-container>

    </main-layout>
</template>

<script>
    import api from "../api";

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {
                        key: 'parent.title',
                        label: ('parent'),
                        formatter: (value, key, item) => {
                            return value || 'Главный'
                        }
                    },
                    {key: 'title', label: ('title')},
                    {key: 'slug', label: ('slug')},
                    {key: 'index', label: ('index')},
                    {key: 'published', label: ('published')},
                ],
                sorting: [
                    {key: 'parent_id', label: 'По категории', selected: true},
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые'},
                ],
                filters: [],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Категории',
                        active: true
                    }
                ],
            }
        },
        mounted() {
            this.loadFilterData()
        },
        methods: {
            onChangeFilter(values) {
                console.log('onChangeFilter', Object.assign({}, values));
                this.$refs.page_table.onChangeFilter(values);
            },
            onClickAdd() {
                this.$router.push(`/panel/catalog-category-create`)
            },
            loadFilterData() {
                api.getResources('catalog/lists')
                    .then(res => {
                        this.filters = [{
                            key: 'parent_id',
                            label: 'Категория',
                            type: 'select',
                            options: res.categories.map(item => {
                                return {text: item.title, value: item.id}
                            })
                        }];
                    });

            }
        }
    }
</script>
