<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>

            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{ page_title }}</h1>
                </b-col>
            </b-row>
            <b-tabs>
                <b-tab title="Основное">
                    <b-row>
                        <b-col md="6" order-md="1" order-sm="2">
                            <b-form v-if="form" ref="form">
                                <b-row>
                                    <b-col sm="12">
                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Родительская категория:"
                                        >
                                            <b-form-select
                                                v-model="form.parent_id"
                                                :options="categories_select"
                                                :disabled="deleted"
                                                value-field="id"
                                                name="categories"
                                            >
                                                <template v-slot:first>
                                                    <b-form-select-option :value="null">-- Главный --</b-form-select-option>
                                                </template>
                                            </b-form-select>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="lg"
                                            label="Название:"
                                        >
                                            <b-form-input
                                                v-model="form.title"
                                                :disabled="deleted"
                                                size="lg"
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Адрес каталога:"
                                        >
                                            <b-form-input
                                                v-model="form.slug"
                                                :disabled="deleted"
                                                size="sm"
                                                class="text-monospace"
                                                type="text"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Позиция:"
                                        >
                                            <b-form-input
                                                v-model="form.index"
                                                :disabled="deleted"
                                                size="sm"
                                                type="number"></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                            v-if="form.id"
                                            label="Изображение категории"
                                            label-cols="4"
                                            label-size="sm">
                                            <file-uploader
                                                single-file
                                                input-name="image"
                                                url-load="/panel/api/resource/catalog-category-images-load"
                                                url-delete="/panel/api/resource/catalog-category-images-delete"
                                                :id="form.id"
                                                v-model="image"
                                                class="mb-4"
                                                title-btn="Выбрать"
                                                title="Это изображение будет показано в плитке категории на главной странице"
                                            ></file-uploader>
                                        </b-form-group>

                                        <b-form-group
                                            v-if="form.id"
                                            label="Изображение лота без фото"
                                            label-cols="4"
                                            label-size="sm">
                                            <file-uploader
                                                single-file
                                                input-name="lot_image"
                                                url-load="/panel/api/resource/catalog-category-images-load"
                                                url-delete="/panel/api/resource/catalog-category-images-delete"
                                                :id="form.id"
                                                v-model="lot_image"
                                                class="mb-4"
                                                title-btn="Выбрать"
                                                title="Это изображение будет показано в каталоге у лотов, у которых нет загруженной фотографии"
                                            ></file-uploader>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Опции"
                                        >
                                            <b-form-checkbox-group
                                                v-model="form.options"
                                                :options="enabled_options"
                                                value-field="val"
                                                stacked
                                                switches
                                            ></b-form-checkbox-group>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label=""
                                        >
                                            <b-form-checkbox
                                                id="checkbox-1"
                                                v-model="form.published"
                                                :disabled="deleted"
                                                name="checkbox-1"
                                                :value="true"
                                                :unchecked-value="false"
                                                switch
                                            >
                                                {{ ("Показывать на сайте") }}
                                            </b-form-checkbox>
                                        </b-form-group>

                                    </b-col>
                                </b-row>
                            </b-form>
                        </b-col>
                        <b-col md="6" order-md="2" order-sm="1" v-if="form">
                            <div class="h2">Классификаторы</div>

                            <multiselect
                                ref="multiselect"
                                :multiple="true"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :preserve-search="true"
                                :disabled="deleted"
                                placeholder="Выберите категории"
                                label="text"
                                track-by="text"
                                v-model="form.classifications"
                                :options="classifications"></multiselect>
                            <b-button
                                @click="onClickAddClassificator"
                                size="sm"
                                class="mt-2"
                                variant="warning">Добавить классификатор
                            </b-button>

                            <div class="mt-4">
                                <div class="h5">Регулярные выражения для поиска по тексту</div>
                                <p>
                                    Если указаны выражения то лоты попадут в эту категорию только если выражение выполнится.
                                    Для составления выражений можно использовать сервис
                                    <a target="_blank" href="https://regex101.com/">regex101.com</a>
                                </p>
                                <ul class="list-unstyled">
                                    <li
                                        class="pb-3"
                                        v-for="(item, index) of form.regulars">
                                        <label>Регулярное выражение ID: {{ item.id || 'Добавление' }}</label>
                                        <a
                                            href="#"
                                            class="float-right text-danger"
                                            @click="onClickDeleteTextarea(index)">Удалить</a>
                                        <b-form-textarea
                                            size="sm"
                                            placeholder="Enter Regex code"
                                            rows="4"
                                            v-model="item.regex"
                                            class="text-monospace"
                                        ></b-form-textarea>
                                    </li>
                                    <li class="text-center">
                                        <b-button @click="onClickAddTextarea" :disabled="!form || !form.id">Добавить</b-button>
                                    </li>
                                </ul>
                            </div>

                        </b-col>
                    </b-row>

                    <fly-buttons left>
                        <b-button
                            type="button"
                            variant="outline-success"
                            v-if="!deleted"
                            @click="clickBtnSave">
                            Сохранить
                        </b-button>
                        <btn-delete
                            v-if="!deleted"
                            :confirm="onDelete"></btn-delete>
                        <b-button
                            v-if="deleted"
                            type="button"
                            variant="outline-danger"
                            @click="clickBtnRestore">
                            Восстановить
                        </b-button>
                    </fly-buttons>
                </b-tab>

                    <b-tab title="Сео">
                        <seo-form
                            :object-id="+id"
                            class-name="category"
                        ></seo-form>

                    </b-tab>
                </b-tabs>




        </b-container>

    </main-layout>
</template>

<script>

    import api from "../api";


    export default {
        data() {
            return {
                loading: false,
                id: null,
                form: null,
                classifications: [],
                categories: [],
                options: [
                    {val: 'only_self_lot', text: 'Убирать лот из других категорий'},
                    {val: 'view_map', text: 'Показывать карту'},
                ],
                breadcrumb_prepend: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Категории',
                        to: {path: '/panel/catalog-categories'}
                    }
                ],
            }
        },
        created() {
            if (this.$route.path === '/panel/catalog-category-create') {
                this.form = {
                    classifications: [],
                    title: '',
                    slug: '',
                    parent_id: null,
                    published: true,
                    index: 200,
                    deleted_at: null,
                };
            } else {
                this.id = this.$route.params.id;
            }
            this.loadLists();
        },
        mounted() {
            //$(this.$refs.multiselect)
        },
        computed: {
            page_title() {
                if (!this.id || !this.form) {
                    return `Новая категория`
                }
                return `Категория ID ${this.id}: ${this.form.title}`
            },
            categories_select() {
                let options = [];
                for (let key in this.categories) {
                    let item = this.categories[key];
                    if (!item.parent_id) {
                        options.push({value: item.id, text: item.title})
                    } else {
                        let parent_option = options.find(option => option.value === item.parent_id);
                        if (parent_option) {
                            if (!parent_option.options) {
                                parent_option.options = [parent_option];
                            }
                            parent_option.options.push({value: item.id, text: item.title});
                        }
                    }
                }
                return options;
            },
            deleted() {
                return this.form && this.form.id && this.form.deleted_at !== null;
            },
            breadcrumb() {
                return [...this.breadcrumb_prepend, {
                    text: this.form ? this.form.title : '...',
                    active: true
                }];
            },
            lot_image() {
                if (this.form.lot_image) {
                    return [{
                        url: `/storage/${this.form.lot_image}`
                    }]
                }
                return [];
            },
            image() {
                if (this.form.image) {
                    return [{
                        url: `/storage/${this.form.image}`
                    }]
                }
                return [];
            },
            enabled_options() {
                return this.options.map(item => {
                    if (item.val === 'only_self_lot') {
                        item.disabled = !this.form.regulars || !this.form.regulars.length
                    }
                    return item;
                });
            }
        },
        watch: {
            id(to, from) {
                if (to) {
                    this.loadModel();
                }
            },
        },
        methods: {
            onClickAddClassificator() {
                $(this.$refs.multiselect.$el).focus()
            },
            loadLists() {
                return api.getResources('catalog/lists')
                    .then(res => {
                        this.categories = res.categories;
                        this.classifications = res.classifications;
                    })
            },
            loadModel() {
                return api.getResources(`catalog-categories/${this.id}`)
                    .then(res => {
                        //res.classifications = res.classifications.map(item => item.id);
                        this.form = res
                    })
            },
            clickBtnSave() {
                this.loading = true;
                if (this.form.id) {
                    api.updateResource('catalog-categories', this.form)
                        .then(res => {
                            //res.classifications = res.classifications.map(item => item.id);
                            this.form = res;
                            //this.$router.push(`/panel/catalog-categories`)
                            //this.$router.back();
                            this.$root.$emit('toast', 'Сохранено', 'Категория сохранена', 'success')
                        })
                        .finally(() => {
                            this.loading = false;
                        })
                } else {
                    api.createResource('catalog-categories', this.form)
                        .then(res => {
                            this.$router.push(`/panel/catalog-category-${res.id}`);
                            this.id = res.id;
                            this.form = res;
                            this.loadModel();
                            this.$root.$emit('toast', 'Добавлено', 'Категория сохранена', 'success')
                        })
                        .finally(() => {
                            this.loading = false;
                        })
                }
            },
            onDelete() {
                api.deleteResource('catalog-categories', this.form.id)
                    .then(res => {
                        //this.$router.push(`/panel/catalog-categories`)
                        //this.$router.back();
                        this.loadModel();
                        this.$root.$emit('toast', 'Удаление', 'Категория удалена', 'success')
                    })
            },
            clickBtnRestore() {
                api.updateResource('catalog-categories', {...this.form, restore: true})
                    .then(res => {
                        this.loadModel();
                        this.$root.$emit('toast', 'Восстановлено', 'Категория восстановлена', 'success')
                    })
            },
            onClickDeleteTextarea(index) {
                this.form.regulars.splice(index, 1)
            },
            onClickAddTextarea() {
                this.form.regulars.push({regex: ''})
            },
        }
    }
</script>
