<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{('Онлайн консультация')}}</h1>
                </b-col>
            </b-row>

            <page-table
                ref="page_table"
                route="consulting_messages"
                events="ConsultingMessage"
                :fields="fields"
                :sorting="sorting"
                :filters="filters"
            >
                <!--<b-button
                    v-if="$root.iHaveRole('ROLE_ADMIN')"
                    size="sm"
                    variant="warning"
                    @click="onClickAdd">
                    {{ ('Добавить вопрос') }}
                </b-button>-->
                <b-button
                    size="sm"
                    variant="primary"
                    @click="onClickBtnCategories">
                    {{ ('Категории вопросов') }}
                </b-button>

                <page-table-filter
                    v-if="filters.length > 0"
                    slot="filter"
                    :fields="filters"
                    :on-change-filter="onChangeFilter"/>
            </page-table>

        </b-container>

    </main-layout>
</template>

<script>

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {key: 'full_name', label: ('ФИО')},
                    {key: 'email', label: ('E-mail')},
                    {key: 'phone', label: ('Телефон')},
                    {key: 'consulting_category_name', label: ('Категория')},
                ],
                sorting: [
                    {key: '-id', label: 'Сначала новые', selected: true},
                    {key: 'id', label: 'По порядку'},
                    {key: 'full_name', label: 'По имени'},
                ],
                filters: [],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Онлайн консультация',
                        active: true
                    }
                ]
            }
        },
        mounted() {
            this.filters = [];
            this.$root.loadQuestionCategories()
        },
        computed: {
            questions_categories() {
                return this.$root.questions_categories.map(item => ({value: item.id, text: item.title}));
            },
        },
        methods: {
            onClickAdd() {
                this.$root.$emit('consulting_message-blank');
            },
            onClickBtnCategories() {
                this.$root.$emit('consulting_categories-open');
            },
            onChangeFilter(values) {
                console.log('onChangeFilter', Object.assign({}, values));
                this.$refs.page_table.onChangeFilter(values);
            }
        },
        watch: {
            '$root.questions_categories'(new_state, old_state) {
                this.filters = [
                    {
                        key: 'category_id',
                        label: 'Категория вопроса',
                        type: 'select',
                        options: this.questions_categories
                    }
                ]
            }
        }
    }
</script>
