<template>
    <main-layout>
        <b-container fluid>

            <b-row>
                <b-col md="12" lg="8">
                    <b-row>
                        <b-col md="12">
                            <h2 class="mt-4">Статистика</h2>
                            <b-row>

                                <b-col class="mb-4 widget-col">
                                    <div class="bg-white rounded p-4 widget-stat">
                                        <div class="mb-3 title">
                                            Зарегистрированных <br>
                                            пользователей сайта
                                        </div>
                                        <div class="big-number">256</div>
                                        <div class="bg-icon">
                                            <svg width="72" height="52" viewBox="0 0 72 52" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.5 42.2325C1.5 39.6034 3.04428 37.2767 5.39078 36.478C12.6332 34.0125 17.8977 34.0902 24.9058 36.4776C27.2635 37.2808 28.8158 39.6151 28.8158 42.2516V53C28.8158 56.5899 25.9056 59.5 22.3158 59.5H8C4.41015 59.5 1.5 56.5899 1.5 53V42.2325Z"
                                                    stroke="#39475F" stroke-width="3"/>
                                                <circle cx="15.1579" cy="21.7895" r="6.07895" stroke="#39475F"
                                                        stroke-width="3"/>
                                                <path
                                                    d="M43.1842 42.2326C43.1842 39.6034 44.7285 37.2767 47.075 36.478C54.3174 34.0125 59.582 34.0902 66.59 36.4776C68.9477 37.2808 70.5 39.6151 70.5 42.2516V52C70.5 55.5898 67.5898 58.5 64 58.5H49.6842C46.0944 58.5 43.1842 55.5898 43.1842 52V42.2326Z"
                                                    stroke="#39475F" stroke-width="3"/>
                                                <circle cx="56.8421" cy="21.7895" r="6.07895" stroke="#39475F"
                                                        stroke-width="3"/>
                                                <line x1="36.5526" y1="1.5" x2="36.5526" y2="15.5526" stroke="#0066FF"
                                                      stroke-width="3" stroke-linecap="round"/>
                                                <line x1="28.9736" y1="7.97369" x2="43.0263" y2="7.97369"
                                                      stroke="#0066FF" stroke-width="3" stroke-linecap="round"/>
                                            </svg>
                                        </div>
                                    </div>
                                </b-col>

                                <b-col class="mb-4 widget-col">
                                    <div class="bg-white rounded p-4 widget-stat">
                                        <div class="mb-3 title">
                                            Посещаемость сайта <br>
                                            (за сутки)
                                        </div>
                                        <div class="big-number">104</div>
                                        <div class="bg-icon pb-3">
                                            <svg width="72" height="40" viewBox="0 0 72 40" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2.7875 21.3003C2.19977 20.5306 2.19977 19.4694 2.78751 18.6996C10.8568 8.13149 22.7654 1.5 36 1.5C49.2346 1.5 61.1432 8.13152 69.2125 18.6997C69.8002 19.4695 69.8002 20.5306 69.2125 21.3004C61.1432 31.8685 49.2347 38.5 36 38.5C22.7654 38.5 10.8568 31.8685 2.7875 21.3003Z"
                                                    stroke="#39475F" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round"/>
                                                <circle cx="35.8393" cy="14.7857" r="13.2857" stroke="#39475F"
                                                        stroke-width="3"/>
                                                <circle cx="36" cy="15" r="4" fill="#0066FF"/>
                                            </svg>
                                        </div>
                                    </div>
                                </b-col>

                                <b-col class="mb-4 widget-col">
                                    <div class="bg-white rounded p-4 widget-stat">
                                        <div class="mb-3 title">
                                            Новых заявок <br>
                                            (за сутки)
                                        </div>
                                        <div class="big-number">4</div>
                                        <div class="bg-icon">
                                            <svg width="52" height="52" viewBox="0 0 52 52" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <mask id="path-1-inside-1" fill="white">
                                                    <path
                                                        d="M0 4C0 1.79086 1.79086 0 4 0L48 0C50.2091 0 52 1.79086 52 4L52 78C52 80.2091 50.2091 82 48 82H4C1.79086 82 0 80.2091 0 78L0 4Z"/>
                                                </mask>
                                                <path
                                                    d="M4 3L48 3V-3L4 -3V3ZM49 4L49 78H55L55 4L49 4ZM48 79H4L4 85H48V79ZM3 78L3 4H-3L-3 78H3ZM4 79C3.44772 79 3 78.5523 3 78H-3C-3 81.866 0.134007 85 4 85L4 79ZM49 78C49 78.5523 48.5523 79 48 79V85C51.866 85 55 81.866 55 78H49ZM48 3C48.5523 3 49 3.44772 49 4L55 4C55 0.134007 51.866 -3 48 -3V3ZM4 -3C0.134006 -3 -3 0.134009 -3 4H3C3 3.44772 3.44772 3 4 3V-3Z"
                                                    fill="#39475F" mask="url(#path-1-inside-1)"/>
                                                <path d="M11.5 16.5H25" stroke="#0066FF" stroke-width="3"
                                                      stroke-linecap="round"/>
                                                <line x1="11.5" y1="28.5" x2="40.5" y2="28.5" stroke="#0066FF"
                                                      stroke-width="3" stroke-linecap="round"/>
                                                <line x1="11.5" y1="40.5" x2="40.5" y2="40.5" stroke="#0066FF"
                                                      stroke-width="3" stroke-linecap="round"/>
                                            </svg>
                                        </div>
                                    </div>
                                </b-col>

                                <b-col class="mb-4 widget-col">
                                    <div class="bg-white rounded p-4 widget-stat">
                                        <div class="mb-3 title">
                                            Лоты <br>
                                            пользователей
                                        </div>
                                        <div class="big-number">24</div>
                                        <div class="bg-icon">
                                            <svg width="67" height="61" viewBox="0 0 67 61" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <rect y="2.12589" width="34.5304" height="16.97" rx="2.5"
                                                      transform="matrix(0.705581 0.708629 -0.705581 0.708629 30.3113 1.36832)"
                                                      stroke="#39475F" stroke-width="3"/>
                                                <rect x="32.8042" y="46.3156" width="28.7296" height="8.94999" rx="2.5"
                                                      stroke="#0066FF" stroke-width="3"/>
                                                <mask id="path-3-inside-1" fill="white">
                                                    <rect x="27.3381" y="51.7864" width="39.662" height="8.96249"
                                                          rx="2"/>
                                                </mask>
                                                <rect x="27.3381" y="51.7864" width="39.662" height="8.96249" rx="2"
                                                      fill="white" stroke="#39475F" stroke-width="6"
                                                      mask="url(#path-3-inside-1)"/>
                                                <mask id="path-4-inside-2" fill="white">
                                                    <rect width="8.31812" height="38.0834" rx="1"
                                                          transform="matrix(-0.705581 -0.708629 0.705581 -0.708629 5.86914 55.7887)"/>
                                                </mask>
                                                <rect width="8.31812" height="38.0834" rx="1"
                                                      transform="matrix(-0.705581 -0.708629 0.705581 -0.708629 5.86914 55.7887)"
                                                      stroke="#39475F" stroke-width="6" mask="url(#path-1-inside-1)"/>
                                            </svg>
                                        </div>
                                    </div>
                                </b-col>

                            </b-row>
                        </b-col>
                        <b-col md="12" lg="6">
                            <h2 class="mt-4">Заявки</h2>
                            <b-row>
                                <b-col md="12">
                                    <div class="bg-white rounded p-3 widget-stat"></div>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col md="12" lg="6">
                            <h2 class="mt-4">Динамика заявок</h2>
                            <b-row>
                                <b-col md="12">
                                    <div class="bg-white rounded p-3 widget-stat"></div>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col md="12" lg="4">

                    <!--<h2 class="mt-4">Процессы</h2>
                    <b-row>
                        <b-col md="12">
                            <div class="bg-white rounded p-4 widget-stat">
                                <div class="pb-3">
                                    <div class="font-italic">Parsing parameters</div>
                                    <progress-parsing-params
                                        event-model="TradeLotParam"
                                    ></progress-parsing-params>
                                </div>
                                <div>
                                    <div class="font-italic">Parsing lots</div>
                                    <progress-parsing-params
                                        event-model="TradeLot"
                                    ></progress-parsing-params>
                                </div>
                            </div>
                        </b-col>
                    </b-row>-->

                    <h2 class="mt-5">Сотрудники</h2>
                    <b-row>
                        <b-col md="12">
                            <div class="bg-white rounded p-4 widget-stat">
                                <ul class="list-unstyled">
                                    <li v-for="member in $root.members">
                                        <user-link :user="member"/>
                                    </li>
                                </ul>
                            </div>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>

        </b-container>
    </main-layout>
</template>

<script>
</script>
