<template>
  <main-layout>
    <b-container fluid>
      <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
      <b-row>
        <b-col>
          <h1 class="display-5 mb-md-3">{{('Сообщения')}}</h1>
        </b-col>
      </b-row>

      <div class="d-flex justify-content-between align-items-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li
              :class="{ disabled: !pagination.prev_page_url }"
              @click.prevent="getMessages(pagination.prev_page_url)"
              class="page-item"
            >
              <a class="page-link" href="#">Назад</a>
            </li>
            <li class="page-item disabled">
              <a
                class="page-link"
                href="#"
              >Страница {{ pagination.current_page }} из {{ pagination.last_page }}</a>
            </li>
            <li
              :class="{ disabled: !pagination.next_page_url }"
              @click.prevent="getMessages(pagination.next_page_url)"
              class="page-item"
            >
              <a class="page-link" href="#">Вперед</a>
            </li>
          </ul>
        </nav>

        <button
          @click.prevent="getMessages()"
          class="btn btn-primary btn-sm ml-auto custom-btn"
        >Обновить</button>

        <button
          @click.prevent="showSendMessageModal"
          class="btn btn-success btn-sm ml-auto custom-btn"
        >
          <span class="fa fa-plus"></span>
          Написать сообщение
        </button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Тема</th>
            <th scope="col">Сообщение</th>
            <th scope="col">Создатель</th>
            <th scope="col">Дата создания</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="msg in messages" @click="showOldMessage(msg)" class="tr-hover">
            <th>{{ msg.id }}</th>
            <td>{{ msg.title }}</td>
            <td>{{ msg.body.length > 70 ? msg.body.slice(0, 70) + '...' : msg.body }}</td>
            <td>{{ msg.author ? msg.author.full_name : void 0 }}</td>
            <td>{{ msg.created_at }}</td>
          </tr>
        </tbody>
      </table>

      <b-modal
        ref="sendMessageModal"
        size="lg"
        centered
        hide-footer
        title="Отправить сообщение всем"
      >
        <div class="d-block">
          <form @submit.prevent="putSendMessageModal">
            <div class="form-group">
              <label for="title">Тема</label>
              <input
                v-model="sendMessage.title"
                type="text"
                class="form-control"
                id="title"
                placeholder="Тема"
              />
              <label v-for="error in errorsTitle" class="badge badge-danger">{{ error }}</label>
            </div>
            <div class="form-group">
              <label for="body">Сообщение</label>
              <textarea
                v-model="sendMessage.body"
                type="textarea"
                class="form-control"
                id="body"
                placeholder="Сообщение"
                rows="5"
              ></textarea>
              <label v-for="error in errorsBody" class="badge badge-danger">{{ error }}</label>
            </div>
            <hr />
            <div class="text-right">
              <button @click="hideSendMessageModal" type="button" class="btn btn-default">Отмена</button>
              <button class="btn btn-primary">
                <span class="fa fa-check"></span>
                Отправить
              </button>
            </div>
          </form>
        </div>
      </b-modal>

      <b-modal id="old_message" ref="showMessage" centered scrollable :title="showMessage.title">
        <p class="my-4">{{ showMessage.body }}</p>

        <template v-slot:modal-footer>
          <div class="w-100">
            <b-button
              variant="primary"
              size="sm"
              class="float-right"
              @click="hideOldMessage()"
            >Закрыть</b-button>
            <b-button
              variant="danger"
              size="sm"
              class="float-right"
              @click="deleteMessage(showMessage.id)"
            >Удалить</b-button>
          </div>
        </template>
      </b-modal>
    </b-container>
  </main-layout>
</template>

<script>
export default {
  data: function() {
    return {
      messages: [],
      pagination: {},
      sendMessage: {
        title: "",
        body: ""
      },
      errorsTitle: [],
      errorsBody: [],
      showMessage: {
        title: "",
        body: "",
        id: ""
      },
      prefix_url: "/panel/api/",
      breadcrumb: [
        {
          text: "Статистика",
          to: { path: "/panel" }
        },
        {
          text: "Создать рассылку",
          active: true
        }
      ]
    };
  },

  mounted() {
    this.getMessages();
  },
  methods: {
    getMessages(page_url) {
      page_url = page_url || this.getUrl("get-messages");

      axios.get(page_url).then(response => {
        this.messages = response.data.data;
        this.makePagination(response.data);
      });
    },
    makePagination(response) {
      let pagination = {
        current_page: response.current_page,
        last_page: response.last_page,
        prev_page_url: response.prev_page_url,
        next_page_url: response.next_page_url
      };

      this.pagination = pagination;
    },

    showSendMessageModal() {
      this.$refs.sendMessageModal.show();
    },

    hideSendMessageModal() {
      this.$refs.sendMessageModal.hide();
      this.resetModal();
    },

    resetModal() {
      this.sendMessage.title = "";
      this.sendMessage.body = "";
      this.clearErrors();
    },

    putSendMessageModal() {
      axios
        .post(this.getUrl("create-message"), this.sendMessage)
        .then(response => {
          this.hideSendMessageModal();
          this.getMessages();
        })
        .catch(error => {
          this.setErrors(error.response.data.errors);
        });
    },

    setErrors(errors) {
      this.errorsTitle = errors.title;
      this.errorsBody = errors.body;
    },

    clearErrors() {
      this.errorsTitle = [];
      this.errorsBody = [];
    },

    showOldMessage(msg) {
      this.showMessage = {
        title: msg.title,
        body: msg.body,
        id: msg.id
      };
      this.$refs.showMessage.show();
    },

    hideOldMessage() {
      this.$refs.showMessage.hide();
      this.showMessage = {
        title: "",
        body: "",
        id: ""
      };
    },
    deleteMessage(id) {
      axios.delete(this.getUrl("delete-message/" + id)).then(response => {
        this.hideOldMessage();
        this.getMessages();
      });
    },

    getUrl(url) {
      return this.prefix_url + url;
    }
  }
};
</script>


<style>
.custom-btn {
  margin-bottom: 1rem;
}
.tr-hover:hover {
  cursor: pointer;
}
</style>
