<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb-md-3">{{('Модерация рекламы')}}</h1>
                </b-col>
            </b-row>

            <div class="d-flex flex-wrap justify-content-between manager-panel">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li
                            :class="{ disabled: !pagination.prev_page_url }"
                            @click.prevent="getItems(pagination.prev_page_url)"
                            class="page-item"
                        >
                            <a class="page-link" href="#">Назад</a>
                        </li>
                        <li class="page-item disabled">
                            <a
                                class="page-link"
                                href="#"
                            >Страница {{ pagination.current_page }} из {{ pagination.last_page }}</a>
                        </li>
                        <li
                            :class="{ disabled: !pagination.next_page_url }"
                            @click.prevent="getItems(pagination.next_page_url)"
                            class="page-item"
                        >
                            <a class="page-link" href="#">Вперед</a>
                        </li>
                    </ul>
                </nav>

                <select class="custom-select custom-select-sm" id="selectOrder" @change="changeOrder">
                    <option value="desc">Новые</option>
                    <option value="asc">Прошлые</option>

                </select>


            </div>

            <page-table-filter
                v-if="filters.length > 0"
                slot="filter"
                :fields="filters"
                :on-change-filter="onChangeFilter"/>


            <table class="table b-table table-striped table-borderless table-sm">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Order_ID</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Вариант</th>
                    <th scope="col">Услуга</th>
                    <th scope="col">Цена услуги по умолчанию</th>
                    <th scope="col">Начало</th>
                    <th scope="col">Завершение</th>
                    <th scope="col">Итоговая цена</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in items" class="cursor-pointer">
                    <th @click="showItem(item)">{{ item.id }}</th>
                    <td @click="showItem(item)">{{ item.order_id }}</td>
                    <td><user-link :user="item.user"/></td>
                    <td @click="showItem(item)">{{ item.variant_name }}</td>
                    <td @click="showItem(item)">{{ item.service.title }}</td>
                    <td @click="showItem(item)">{{ item.service.price }}</td>
                    <td @click="showItem(item)">{{ item.order.service_begin }}</td>
                    <td @click="showItem(item)">{{ item.order.service_end }}</td>
                    <td @click="showItem(item)">{{ item.order.price }}</td>
                    <td @click="showItem(item)">{{ item.category ? item.category.title : "" }}</td>
                    <td>
                        <select class="custom-select status-select custom-select-sm" id="inputGroupSelect01" @change="changeStatus($event, item.id)">
                            <option v-for="(val, key) in statuses" :value="key" :selected="key == item.status">{{ val }}</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>





            <div>
                <b-modal ref="show_modal" id="modal-1" size="xl" centered title="Показ банера">
                    <img class="img-fluid mx-auto rounded d-block" :width="(showElement.variant == 'vertical' ? 255 : 1110) + 'px'"
                         :height="(showElement.variant == 'vertical' ? 510 : 160) + 'px'" :src="showElement.image.url" alt="">

                    <template v-slot:modal-footer="{ ok, cancel, hide }">
                        <b-button size="md" variant="primary" @click="cancel()">
                            Закрыть
                        </b-button>
                    </template>
                </b-modal>
            </div>

        </b-container>
    </main-layout>
</template>

<script>
    export default {
        name: "ModerationScreen",
        data: function () {
            return {
                breadcrumb:
                    [
                        { text: "Статистика", to: { path: "/panel" } },
                        { text: "Модерация организаторов торгов", active: true}
                    ],
                items : [],
                pagination: {},
                params_filter: {},
                order: 'desc',
                filter_status: '',
                statuses: [],
                getItemsUrl: '/panel/api/moderation/banners',
                getOptionsUrl: '/panel/api/moderation/banners/get-statuses',
                changeStatusUrl: '/panel/api/moderation/banners/change-status',
                filters: [
                    {
                        key: 'filter_status',
                        label: 'По статусу',
                        type: 'select',
                        options: []
                    },
                    {
                        key: 'filter_variant',
                        label: 'По варианту',
                        type: 'select',
                        options: []
                    }
                ],

                showElement: {
                    image: {

                    }
                }



            };
        },
        mounted() {
            this.getOptions();
            this.getItems();
        },
        methods: {
            modifiedResponseForFilter(response) {
                let result = [];

                for(let key in response) {
                    result.push({
                        text: response[key],
                        value: key
                    })
                }
                return result;
            },

            getOptions() {
                axios.get(this.getOptionsUrl).then(response => {

                    let data = response.data;
                    this.statuses = data.statuses;
                    this.filters[0].options = this.modifiedResponseForFilter(data.statuses);
                    this.filters[1].options = this.modifiedResponseForFilter(data.variants);

                })
            },

            getItems(page_url) {
                if(page_url) {
                    this.getItemsUrl = page_url
                }
                axios.get(this.getItemsUrl, {
                    params: {
                        filter: this.params_filter,
                        order: this.order
                    }
                }).then(response => {
                    this.items = response.data.items.data;
                    this.makePagination(response.data.items);
                });
            },

            makePagination(response) {
                let pagination = {
                    current_page: response.current_page,
                    last_page: response.last_page,
                    prev_page_url: response.prev_page_url,
                    next_page_url: response.next_page_url
                };
                this.pagination = pagination;
            },

            changeStatus(event, id) {
                axios.post(this.changeStatusUrl, {
                    status: event.target.value,
                    id: id
                });
            },
            changeOrder(event) {
                this.order = event.target.value;
                this.getItems();
            },
            onChangeFilter(data) {
                this.params_filter = data;
                this.getItems();
            },
            showItem(item) {
                this.showElement = item
                this.$refs.show_modal.show()
            }
        }
    }
</script>

<style scoped>

    .manager-panel select, .status-select {

        max-width: 200px;
        border: 1px solid #ababab;
    }

    .status-select:hover, .cursor-pointer:hover {
        cursor: pointer;
    }






</style>
