<template>
    <main-layout>
        <div class="not-found-container">
            <h1>Страница не найдена</h1>
            <div>
                <b-button variant="light" @click="$router.go(-1)">&lsaquo; Назад</b-button>
                <b-button variant="light" @click="$router.push(`/panel`)">&laquo; Главный экран</b-button>
            </div>
        </div>
    </main-layout>
</template>

<style scoped>
    .not-found-container {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>
