<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{('Настройки')}}</h1>
                </b-col>
                <b-col>
                    <b-alert v-if="success" show variant="success" dismissible @dismissed="success=false">Данные сохранены</b-alert>
                </b-col>
            </b-row>


            <b-table striped small hover :items="items" :fields="fields" @row-clicked="showModal" size="sm"></b-table>

            <b-modal id="modal-option" ref="modal_option" centered title="Показ опции">
                <b-row class="my-1">
                    <b-col sm="3">
                        <label for="input-key">Ключ:</label>
                    </b-col>
                    <b-col sm="9">
                        <b-form-input v-model="editItem.key" id="input-key" :disabled="true"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="my-1">
                    <b-col sm="3">
                        <label for="input-name">Название:</label>
                    </b-col>
                    <b-col sm="9">
                        <b-form-input id="input-name" v-model="editItem.name" :state="checkName" placeholder="Название"></b-form-input>
                        <b-form-invalid-feedback id="input-name">
                            Название обязательно
                        </b-form-invalid-feedback>
                    </b-col>
                </b-row>

                <b-row class="my-1">
                    <b-col sm="3">
                        <label for="input-value">Значение:</label>
                    </b-col>
                    <b-col sm="9">
                        <b-form-input id="input-value" v-model="editItem.value" :state="checkValue" placeholder="Значение"></b-form-input>
                        <b-form-invalid-feedback id="input-value">
                            Значение обязательно
                        </b-form-invalid-feedback>
                    </b-col>
                </b-row>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button size="md" variant="danger" @click="cancel()">
                        Отмена
                    </b-button>
                    <b-button size="md" variant="success" :disabled="!(checkValue && checkName)" @click="saveItem()">
                        Сохранить
                    </b-button>
                </template>


            </b-modal>

        </b-container>
    </main-layout>
</template>

<script>
    export default {
        name: "OptionsScreen",
        data() {
            return {
                items: [],
                fields: [
                    {key: 'name', label: 'Название'},
                    {key: 'value', label: 'Значение'},
                    {key: 'key', label: 'Ключ'},
                ],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Настройки',
                        active: true
                    }
                ],
                editItem: {},
                success: false,
            }
        },
        mounted() {
            this.getItems()
        },
        computed: {
            checkValue: function() {
                return Boolean(this.editItem.value)
            },
            checkName: function() {
                return Boolean(this.editItem.name)
            }

        },
        methods: {
            getItems() {
                axios.get('/panel/api/options')
                .then(response => {
                    this.items = response.data
                })
            },
            showModal(record, index) {
                this.editItem = {
                    key: record.key,
                    name: record.name,
                    value: record.value
                };
                this.$refs.modal_option.show()
            },

            saveItem() {
                axios.post('/panel/api/options', this.editItem)
                    .then(response => {
                        this.success = true
                        this.getItems()
                        this.$refs.modal_option.hide()
                    });
            }

        }
    }
</script>

<style scoped>

</style>
