<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{ page_title }}</h1>
                </b-col>
            </b-row>
            <table-items
                ref="table"
                :model="model"
                :with="model_with"
                :fields="fields"
                :sorting="sorting"
                :filters="filters"
            ></table-items>
        </b-container>
    </main-layout>
</template>

<script>
    import {ROLE} from "../helper";
    export default {
        data() {
            return {
                page_title: 'Заказы',
                model: 'Order',
                model_with: 'user,staff,service,payment',
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {key: 'service.title', label: ('Услуга')},
                    {key: 'user.full_name', label: ('Клиент')},
                    //{key: 'staff.full_name', label: ('Сотрудник')},
                    {
                        key: 'payment',
                        label: ('Оплата'),
                        formatter: (value, key, item) => {
                            return value ? value.status_name : 'Не оплачено'
                        },
                        tdClass: function (value, key, item) {
                            return value ? 'text-'+value.status_color : 'text-danger'
                        }
                    },
                    //{key: 'stage', label: ('Стадия')},
                    {
                        key: 'service_begin',
                        label: 'Начало',
                        formatter: (value, key, item) => {
                            if (!value) {
                                return '-'
                            }
                            return this.$moment.utc(value).local().format('L LT')
                        },
                    },
                    {
                        key: 'service_end',
                        label: 'Завершение',
                        formatter: (value, key, item) => {
                            if (!value) {
                                return '-'
                            }
                            return this.$moment.utc(value).local().format('L LT')
                        },
                    },
                    {
                        key: 'status_name',
                        label: ('Статус'),
                        tdClass: function (value, key, item) {
                            if (!item.status_color) {
                                return null;
                            }
                            return `text-${item.status_color}`
                        }
                    },
                    {
                        key: 'assessment',
                        label: ('Оценка'),
                        formatter: (value, key, item) => {
                            if (!value) {
                                return '-'
                            }
                            return value
                        },
                    },
                ],
                sorting: [
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые', selected: true},
                    {key: 'service_id', label: 'По услугам'},
                    {key: 'staff_id', label: 'По сотруднику'},
                    {key: 'user_id', label: 'По клиенту'},
                    {key: 'payment', label: 'По оплате'},
                    //{key: 'stage', label: 'По стадии'},
                ],
                filters: [],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'CRM',
                        to: {path: '/panel/crm'}
                    },
                    {
                        text: 'Заказы',
                        active: true
                    }
                ]
            }
        },
        methods: {
        }
    }
</script>
