<template>
    <main-layout>
        <b-container fluid v-if="order">
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">
                        {{ title }}
                        <b-badge
                            :variant="order.status_color"
                        >{{order.status_name}}
                        </b-badge>
                    </h1>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-tabs content-class="mt-3">
                        <b-tab title="Заказ" active>
                            <b-form v-if="form">
                                <b-row>
                                    <b-col sm="12">

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Создан:"
                                            disabled
                                        >
                                            {{ order.created_at | localCalendar }}
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Обновлен:"
                                            disabled
                                        >
                                            {{ order.updated_at | localCalendar }}
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Услуга активна:"
                                            disabled
                                        >
                                            с {{ order.service_begin | localDateTime }} до {{ order.service_end |
                                            localDateTime }}
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Услуга:"
                                            disabled
                                        >
                                            <a href="javascript:"
                                               @click="$root.$emit(`service-open`, order.service_id)">
                                                {{ order.service.title }}
                                            </a>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Клиент:"
                                            disabled
                                        >
                                            <user-link :user="order.user"/>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Ответственный:"
                                        >
                                            <b-form-select
                                                v-if="users_list.length"
                                                size="sm"
                                                v-model="form.staff_id"
                                                :options="users_list"
                                            ></b-form-select>
                                            <user-link v-else :user="order.staff"/>
                                            <a
                                                v-if="!users_list.length"
                                                href="javascript:"
                                                class="ml-2 text-body"
                                                @click="onClickEditStuff"
                                            >[Изменить]</a>
                                        </b-form-group>

                                        <b-form-group
                                            v-if="order.trade_lot_id"
                                            label-cols="4"
                                            label-size="sm"
                                            label="Лот:"
                                            disabled
                                        >
                                            <a target="_blank" :href='"/catalog/lot/"+order.trade_lot_id'>Перейти</a>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Статус:"
                                        >
                                            <b-form-select
                                                size="sm"
                                                v-model="form.status"
                                                :options="status_list"
                                            ></b-form-select>
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Оценка:"
                                        >
                                            {{ order.assessment ? order.assessment : '-' }}
                                        </b-form-group>

                                        <b-form-group
                                            label-cols="4"
                                            label-size="sm"
                                            label="Отзыв:"
                                        >
                                            {{ order.comment ? order.comment : '-' }}
                                        </b-form-group>

                                    </b-col>
                                </b-row>

                                <fly-buttons left>
                                    <b-button type="button" variant="outline-info" @click="onReload" size="sm">
                                        {{('Сбросить')}}
                                    </b-button>
                                    <b-button type="button" variant="outline-success" @click="onSave" size="sm">
                                        {{('Сохранить')}}
                                    </b-button>
                                </fly-buttons>

                            </b-form>
                        </b-tab>
                        <b-tab title="Платеж">
                            <div v-if="order && order.payment">
                                <b-table :items="payment_table_items" :fields="payment_table_fields"></b-table>
                            </div>
                            <div v-else>
                                <span class="font-italic">Нет данных о платеже</span>
                            </div>
                        </b-tab>
                    </b-tabs>
                </b-col>
            </b-row>

        </b-container>

        <loader v-if="loading"></loader>
    </main-layout>
</template>

<script>
    import api from "../api";

    export default {
        data() {
            return {
                model: 'Order',
                order: null,
                form: null,
                loading: true,
                status_list: [
                    {value: 'new', text: 'Новый'},
                    {value: 'in_work', text: 'В работе'},
                    {value: 'done', text: 'Завершен'},
                ],
                users_list: [],
                breadcrumb_prepend: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'CRM',
                        to: {path: '/panel/crm'}
                    },
                    {
                        text: 'Заказы',
                        to: {path: '/panel/orders'}
                    }
                ],
            }
        },
        created() {
            this.loading = true;
            this.loadModel(this.$route.params.id)
        },
        computed: {
            title() {
                if (this.dispute) {
                    return `${('Заказ')} #${this.dispute.id} ${('от')} ${this.$moment.utc(this.dispute.created_at).local().format('L LT')}`;
                }
                return `${('Заказ')} #${this.$route.params.id}`;
            },
            breadcrumb() {
                return [...this.breadcrumb_prepend, {
                    text: this.form ? `Заказ: ${this.form.id}` : '...',
                    active: true
                }];
            },
            payment_table_fields() {
                return [
                    {key: 'key', label: 'Параметр'},
                    {key: 'value', label: 'Значение'},
                ]
            },
            payment_table_items() {
                return [
                    {key: 'ID', value: this.order.payment.id},
                    {key: 'Создан', value: this.order.payment.created_at},
                    {key: 'Изменен', value: this.order.payment.updated_at},
                    {
                        key: 'Статус',
                        value: this.order.payment.status_name,
                    },
                    {key: 'Название', value: this.order.payment.title},
                ];
            },
        },
        methods: {
            loadModel(id) {
                return api.getResources(`model/${id}`, {with: 'user,staff,payment,service', model: this.model})
                    .then(res => {
                        this.order = this.form = res
                    })
                    .finally(() => this.loading = false);
            },
            onReload() {
                this.loading = true;
                this.loadModel(this.$route.params.id)
            },
            onSave() {
                this.loading = true;
                api.updateResource(`model`, {
                    id: this.form.id,
                    staff_id: this.form.staff_id,
                    status: this.form.status,
                }, {model: this.model, with: 'user,staff,payment,service'})
                    .then(res => {
                        this.order = this.form = res;
                        this.$root.$emit('toast', 'Сохранено', 'Успешно', 'success')
                    })
                    .finally(() => {
                        this.loading = false;
                    })
            },
            onClickEditStuff() {
                api.getResources(`model`, {with: '', model: 'User', filter: {role: 'ROLE_STAFF'}})
                    .then(res => {
                        this.users_list = res.data.map(item => {
                            return {
                                value: item.id,
                                text: item.full_name
                            }
                        });
                    })
            },
        }
    }
</script>
