<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{ page_title }}</h1>
                </b-col>
            </b-row>
            <table-items
                ref="table"
                :model="model"
                :with="model_with"
                :fields="fields"
                :sorting="sorting"
                :filters="filters"
            ></table-items>
        </b-container>
    </main-layout>
</template>

<script>
    export default {
        data() {
            return {
                page_title: 'Оплаты',
                model: 'UserPayment',
                model_with: 'user,service,order',
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {key: 'service.title', label: ('Услуга')},
                    {key: 'user.full_name', label: ('Клиент')},
                    {
                        key: 'status_name',
                        label: ('Статус'),
                        tdClass: function (value, key, item) {
                            if (!item.status_color) {
                                return null;
                            }
                            return `text-${item.status_color}`
                        }
                    },
                    {key: 'info.type', label: ('Тип оплаты')},
                    {key: 'amount', label: ('Сумма')},
                    {key: 'order_link', label: ('Заказ')},
                ],
                sorting: [
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые', selected: true},
                    {key: 'service_id', label: 'По услугам'},
                    {key: 'user_id', label: 'По клиенту'},
                    {key: 'payment', label: 'По оплате'},
                ],
                filters: [],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'CRM',
                        to: {path: '/panel/crm'}
                    },
                    {
                        text: 'Оплаты',
                        active: true
                    }
                ]
            }
        },
        methods: {
        }
    }
</script>
