<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{('Вопрос-ответ')}}</h1>
                </b-col>
            </b-row>

            <page-table
                ref="page_table"
                route="questions"
                events="Question"
                :fields="fields"
                :sorting="sorting"
            >
                <b-button
                    size="sm"
                    variant="warning"
                    @click="onClickAdd">
                    {{ ('Добавить') }}
                </b-button>
            </page-table>

        </b-container>

    </main-layout>
</template>

<script>

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {key: 'author', label: ('Автор')},
                    {key: 'email', label: ('E-mail')},
                    {key: 'user', label: ('Пользователь')},
                    {key: 'priority', label: ('Приоритет')},
                    {key: 'published', label: ('Опубликован')},
                ],
                sorting: [
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые', selected: true},
                    {key: 'author', label: 'По имени автора'},
                    {key: '-published', label: 'Сначало опубликован'},
                    {key: 'published', label: 'Сначало не опубликован'},
                    {key: '-priority', label: 'По приоритету'},
                ],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Вопрос-ответ',
                        active: true
                    }
                ]
            }
        },
        methods: {
            onClickAdd() {
                this.$root.$emit('question-blank');
            }
        }
    }
</script>
