<template>
  <main-layout>
    <b-container fluid>
      <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
      <b-row>
        <b-col>
          <h1 class="display-5 mb-md-3">{{('Сео настройки')}}</h1>
        </b-col>
      </b-row>
      <div class="row">
		<div class="col-sm-7 col-md-5 col-lg-4">
	        <b-tabs>

	            <b-tab v-if="Object.values(notExistPages).length" @click="clearEditElement" title="Не заполненные" active>
	            	<b-list-group class="scroll-list-group">
	            		<b-list-group-item @click.prevent="setUrlInEditItem(path)" v-for="(path, index) in notExistPages" :key="index" button>{{ path }}</b-list-group-item>
	            	</b-list-group>
	            </b-tab>
	            <b-tab v-if="Object.values(existPages).length" @click="clearEditElement" title="Заполненные" active>
	                <b-list-group class="scroll-list-group">
	            		<b-list-group-item  @click.prevent="setEditItem(page)" v-for="(page, index) in existPages" :key="index" button>{{ page.name }}</b-list-group-item>
	            	</b-list-group>
	            </b-tab>
	        </b-tabs>
        </div>

			<div class="ml-md-2 mt-5 col-md-6 col-lg">

					<b-alert v-model="error_action" variant="danger" dismissible>
				      Ошибка попробуйте еще раз!
				    </b-alert>
				    <b-alert v-model="success_action" variant="success" dismissible>
				      Данные сохранены!
				    </b-alert>
					<transition name="fade" mode="out-in">
					<form v-if="editItem.url" :key="editItem.url" :duration="{ enter: 500, leave: 800 }" @submit.prevent="saveElement">

                        <div class="row">
                            <div class="col-sm-12 col-md">
                                <b-form-group label="Название" :invalid-feedback="getErrors('name')" :state="checkState('name')" label-for="name">
                                    <b-form-input
                                        id="name"
                                        v-model="editItem.name"
                                        :state="checkState('name')"
                                        aria-describedby="input-name"
                                        trim
                                    ></b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col">
                                <b-form-group label="Ссылка страницы" label-for="url">
                                    <b-form-input
                                        id="url"
                                        disabled
                                        v-model="editItem.url"
                                        aria-describedby="input-url"
                                        trim
                                    ></b-form-input>
                                </b-form-group>
                            </div>
                        </div>

                        <b-form-group label="Сео тайтл" :invalid-feedback="getErrors('title')" :state="checkState('title')" label-for="seo_title">
                            <b-form-input
                                id="seo_title"
                                v-model="editItem.title"
                                :state="checkState('title')"
                                aria-describedby="input-title"
                                trim
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group label="Сео описание" :invalid-feedback="getErrors('description')" :state="checkState('description')" label-for="seo_description">
                            <b-form-textarea
                                id="seo_description"
                                :state="checkState('description')"
                                v-model="editItem.description"
                                rows="3"
                            ></b-form-textarea>
                        </b-form-group>

                        <b-form-group label="Ключевые слова" :invalid-feedback="getErrors('keywords')" :state="checkState('keywords')" label-for="keywords">
                            <b-form-textarea
                                id="keywords"
                                :state="checkState('keywords')"
                                v-model="editItem.keywords"
                                rows="3"
                            ></b-form-textarea>
                        </b-form-group>


						<div class="form-group d-flex justify-content-end">
							<button v-if="editItem.id" @click="deleteElement" type="button" class="btn btn-outline-danger mb-2">Удалить</button>
							<button type="submit" class="btn btn-outline-success mb-2 ml-2">{{ !editItem.id ? 'Добавить' : 'Сохранить' }}</button>
						</div>
					</form>
				</transition>
			</div>
			</div>

    </b-container>
  </main-layout>
</template>


<script>
	export default {

		data: function() {
			return {
				breadcrumb: [
					{
			          text: "Статистика",
			          to: { path: "/panel" }
			        },
			        {
			          text: "Сео настройки",
			          active: true
			        }

				],
				existPages: [],
                notExistPages: [],
				editItem: false,
				error_action: false,
                errors: [],
				success_action: false,
				url: '/panel/api/seo-configurations'
			}
		},

		computed: {
		},

		mounted() {
			this.getData()
		},
		methods: {
			getData() {
				axios.get(this.url)
				.then(response => {
                    this.existPages = response.data.exists_paths
                    this.notExistPages = response.data.not_exists_paths
                })
				.catch(error => this.error = error_action)
			},

			setEditItem(item) {
                this.clearErrors()
				this.clearEditElement();
				this.editItem = item
			},

			setUrlInEditItem(url) {
                this.clearErrors()
				this.clearEditElement();
				this.editItem = {
					url
				}
			},

			clearEditElement() {
				this.editItem = {}
			},
			deleteElement() {
				let url = this.url + '/' + this.editItem.id;
				axios.delete(url).then(response => {
				    this.clearErrors()
					this.clearEditElement();
		            this.getData();
		            this.setSuccessAction();
        			}).catch(error => this.error_action = true)
			},
			saveElement() {
				axios.post(this.url, this.editItem)
				.then(response => {
                    this.clearErrors()
                    this.clearEditElement();
                    this.setSuccessAction();
					this.getData();
				}).catch(error => {
                    this.setError(error.response.data.errors)

				})
			},
			setSuccessAction() {
				this.success_action = true
			},
            setError(errors) {
                this.error_action = true
                this.errors = errors
            },
            getErrors(field) {
                let result = '';
                if(this.errors && this.errors[field]) {
                    result = this.errors[field].join(', ');
                }
                return result;
            },
            checkState(key) {
                if(this.errors.hasOwnProperty(key) && this.errors) {
                    return false;
                }
            },
            clearErrors() {
                this.errors = []
            }

		}

	}


</script>


<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
	  transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to {
	  opacity: 0;
	}

    .scroll-list-group {
        height: 350px;
        overflow: hidden;
        overflow-y: Auto;
    }
</style>
