<template>
  <main-layout>
    <b-container fluid>
        <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
        <b-row>
            <b-col>
                <h1 class="display-5 mb-md-3">{{('Слайдеры')}}</h1>
            </b-col>
        </b-row>

        <div class="header d-flex justify-content-between flex-wrap">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li
                        :class="{ disabled: !pagination.prev_page_url }"
                        @click.prevent="getSliders(pagination.prev_page_url)"
                        class="page-item"
                    >
                        <a class="page-link" href="#">Назад</a>
                    </li>
                    <li class="page-item disabled">
                        <a
                            class="page-link"
                            href="#"
                        >Страница {{ pagination.current_page }} из {{ pagination.last_page }}</a>
                    </li>
                    <li
                        :class="{ disabled: !pagination.next_page_url }"
                        @click.prevent="getSliders(pagination.next_page_url)"
                        class="page-item"
                    >
                        <a class="page-link" href="#">Вперед</a>
                    </li>
                </ul>
            </nav>

            <button
                @click.prevent="showEditModal"
                class="btn btn-success btn-sm ml-auto custom-btn"
            >
                <span class="fa fa-plus"></span>
                Создать слайдер
            </button>
        </div>


      <div class="slider-list d-flex align-items-center flex-column ">
        <div class="my-3 slider-item rounded" v-for="slider in sliders" @click="showEditModal(slider)" :style="{background: slider.color}">
            <div class="slider-content m-4" v-html="slider.content">
            </div>
          <img :src="getImageUrl(slider.image)" class="img-fluid rounded slider-img" alt="..." />

        </div>

      </div>




      <b-modal ref="sliderModal" size="lg" centered hide-footer hide-header-close no-close-on-backdrop no-close-on-esc  static title="Слайдер">
        <div class="d-block">
          <form @submit.prevent="saveSlider">
            <div class="form-group">
              <label for="color">Цвет</label>

                <b-form-input
                    v-model="editSlider.color"
                    class="form-control"
                    id="color"
                    value="#0000"
                    type="color">
                </b-form-input>
            </div>
            <div class="form-group">
              <label for="content">Контент</label>
                <editor v-model="editSlider.content" lang="html" theme="chrome" class="html-editor" ></editor>
            </div>
            <b-form-checkbox
              id="active"
              v-model="editSlider.active"
              name="active"
              value="1"
              unchecked-value="0"
            >
              Активность
            </b-form-checkbox>
            <div class="form-group">
              <label for="order">Сортировка</label>
              <input
                v-model="editSlider.order"
                type="number"
                class="form-control"
                id="order"
                placeholder="Сортировка"
              ></input>
            </div>
              <div class="form-group">
                  <vue-dropzone
                      ref="sliderDropzone"
                      id="dropzone"
                      :options="dropzoneOptions"
                      @vdropzone-file-added="onAddFile"
                  ></vue-dropzone>
              </div>
            <hr />
              <div class="row justify-content-between mx-0">
                  <div class="text-left">
                      <button @click="deleteSlider" type="button" v-if="editSlider.id" class="btn btn-danger">Удалить</button>
                  </div>
                <div class="text-right">
                  <button @click="hideEditModal" type="button" class="btn btn-default">Отмена</button>
                  <button class="btn btn-primary" :disabled="disableSendButton">
                    <span class="fa fa-check"></span>
                    Отправить
                  </button>
                </div>
              </div>
          </form>
        </div>
      </b-modal>

    </b-container>
  </main-layout>
</template>

<script>

import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";



export default {
  components: {
    vueDropzone: vue2Dropzone,
      editor: require('vue2-ace-editor'),

  },
  data: function() {
    return {
      sliders: [],
      pagination: {},
      dropzoneOptions: {
       url: "/panel/api/image",
        headers: {
          "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]")
            .content
        },
        maxFiles: 1,
        maxFilesize: 1,
        acceptedFiles: ".png,.jpg,.bmp,.jpeg",
          dictInvalidFileType: "Не правильный ти файла",
          dictFileTooBig: "Размер файла не может превышать 1 мб"
      },
      editSlider: {
        id: '',
        color: '',
        content: '',
        active: 0,
        order: 500,
        image: '',
        size: ''
      },
      url: '/panel/api/sliders',
        disableSendButton: true,
        breadcrumb: [
            {
                text: "Статистика",
                to: { path: "/panel" }
            },
            {
                text: "Слайдеры",
                active: true
            }
        ]
    };
  },
  mounted() {
    this.getSliders();
    this.editorInit();
  },
  methods: {
    onAddFile() {
      let dropzone = this.$refs.sliderDropzone.dropzone;
      if (dropzone.files.length > 1) {
        dropzone.removeFile(dropzone.files[0]);
      }
      this.editSlider.image = dropzone.files[0];
        this.disableSendButton = false;
    },
    getSliders(page_url) {
        if(page_url) {
            this.url = page_url
        }
      axios.get(this.url).then(response => {
        this.sliders = response.data.data;
        this.makePagination(response.data);
      });
    },

    makePagination(response) {
      let pagination = {
        current_page: response.current_page,
        last_page: response.last_page,
        prev_page_url: response.prev_page_url,
        next_page_url: response.next_page_url
      };
      this.pagination = pagination;
    },

    setEditSlider(slider) {
      this.editSlider = {
        content: slider.content,
        color: '#000000',
        active: slider.active,
        order: slider.order,
        image: '',
        id: slider.id,
        size: ''
      };
      if(slider.image) {
          this.$refs.sliderDropzone.manuallyAddFile({name: slider.image.name, size: slider.image.size}, slider.image.url);
          this.disableSendButton = false;
      } else {
          this.disableSendButton = true;
      }

      if(slider.color) {
          this.editSlider.color = slider.color;
      }
    },

    clearEditSlider() {
      this.editSlider = {
        content: '',
        color: '',
        active: '',
        order: '',
        image: '',
        id: '',
        size: ''
      };
    },

    showEditModal(slider) {
      this.clearEditSlider();
      if(slider) {
          this.setEditSlider(slider);
      }
        this.$refs.sliderModal.show();
    },

    hideEditModal() {
        this.clearEditSlider();
        this.$refs.sliderDropzone.dropzone.removeAllFiles();
        this.$refs.sliderModal.hide();
    },

    saveSlider() {
        var formData = new FormData();
        for(let key in this.editSlider) {
            if(this.editSlider[key]) {
                formData.append(key, this.editSlider[key]);
            }
        };
       axios
        .post(this.url, formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }})
        .then(response => {
          this.hideEditModal();
          this.getSliders();
        })
        .catch(error => {
        });
    },
      deleteSlider() {
        let url = '/panel/api/sliders/' + this.editSlider.id;
        axios.delete(url).then(response => {
            this.getSliders();
            this.hideEditModal();
        })
      },
      getImageUrl(image) {
        let url = 'https://picsum.photos/750/300';
        if(image) {
            url = image.url;
        }
          return url;
      },
      editorInit: function () {
          require('brace/ext/language_tools'); //language extension prerequsite...
          require('brace/mode/html')
      }
  }
};
</script>


<style>
.dz-image img {
    /*width: 100% !important;*/
    /*height: auto !important;*/
    height: 250px !important;
    width: auto !important;
    object-fit: contain;
}

.dz-image-preview {
    margin: 0 !important;
}
.vue-dropzone {
    text-align: center;
}

</style>


<style scoped>
.slider-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 250px;
}


.slider-item {
    height: 250px;
    width: 750px;
    position: relative;
}

.slider-item:hover {
    cursor: pointer;
}

.slider-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    right: 0;
    bottom: 0;
}
.html-editor {
    width: 100%;
    height: 100%;
    min-height: 150px;
}
input, .html-editor {
    border: 0.5px solid rgb(232, 232, 232);
}
</style>
