<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <h1 class="display-5 mb">{{('Справочник спецтехники')}}</h1>

            <table-items
                ref="table"
                model="VehicleSpecialMaker"
                :fields="fields"
                :sorting="sorting"
            >
                <page-table-filter
                    v-if="filters.length > 0"
                    slot="filter"
                    :fields="filters"
                    :on-change-filter="onChangeFilter"/>
                <b-button
                    size="sm"
                    variant="outline-primary"
                    @click="onClickAdd">
                    {{ ('Добавить') }}
                </b-button>

            </table-items>

        </b-container>

    </main-layout>
</template>

<script>

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {key: 'updated_at', label: ('Обновлено')},
                    {key: 'name', label: ('Name')},
                    {key: 'variants_count', label: ('Вариантов написания')},
                    {key: 'models_count', label: ('Кол-во моделей')},
                ],
                sorting: [
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые'},
                    {key: 'name', label: 'По названию', selected: true},
                    {key: '-name', label: 'По названию наоборот'},
                ],
                filters: [
                    {
                        key: 'name',
                        label: 'Название',
                        type: 'text'
                    }
                ],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Справочник спецтехники',
                        active: true
                    }
                ],
            }
        },
        methods: {
            onChangeFilter(values) {
                this.$refs.table.onChangeFilter(values);
            },
            onClickAdd() {
                this.$router.push(`/panel/model/VehicleSpecialMaker-create`)
            }
        }
    }
</script>
