<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>

            <b-row>
                <b-col>
                    <h2 class="display-5 mb">{{ page_title }}</h2>
                </b-col>
            </b-row>

            <b-row v-if="form">
                <b-col lg="6">
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="TradeId:"
                    >
                        <b-form-input
                            v-model="form.TradeId"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="TradePlaceINN:"
                    >
                        <b-form-input
                            v-model="form.TradePlaceINN"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="status:"
                    >
                        <b-form-input
                            v-model="form.status"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="IDEFRSB:"
                    >
                        <b-form-input
                            v-model="form.IDEFRSB"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="DebtorType:"
                    >
                        <b-form-input
                            v-model="form.DebtorType"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="DebtorINN:"
                    >
                        <b-form-input
                            v-model="form.DebtorINN"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="CaseNumber:"
                    >
                        <b-form-input
                            v-model="form.CaseNumber"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="TradeOrganizerType:"
                    >
                        <b-form-input
                            v-model="form.TradeOrganizerType"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="AuctionType:"
                    >
                        <b-form-input
                            v-model="form.AuctionType"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="FormPrice:"
                    >
                        <b-form-input
                            v-model="form.FormPrice"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="DatePublishSMI:"
                    >
                        <b-form-input
                            v-model="form.DatePublishSMI"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="DatePublishEFIR:"
                    >
                        <b-form-input
                            v-model="form.DatePublishEFIR"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="TimeBegin:"
                    >
                        <b-form-input
                            v-model="form.TimeBegin"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="TimeEnd:"
                    >
                        <b-form-input
                            v-model="form.TimeEnd"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="TimeResult:"
                    >
                        <b-form-input
                            v-model="form.TimeResult"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="ApplicationTimeBegin:"
                    >
                        <b-form-input
                            v-model="form.ApplicationTimeBegin"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="ApplicationTimeEnd:"
                    >
                        <b-form-input
                            v-model="form.ApplicationTimeEnd"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="DateBegin:"
                    >
                        <b-form-input
                            v-model="form.DateBegin"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        label-cols="4"
                        label-size="sm"
                        label="DateRenewal:"
                    >
                        <b-form-input
                            v-model="form.DateRenewal"
                            size="sm"
                            disabled
                            type="text"></b-form-input>
                    </b-form-group>

                </b-col>
                <b-col lg="6">
                    <b-form-group
                        label-size="sm"
                        label="DebtorData:"
                    >
                        <b-form-textarea
                            size="sm"
                            :value="form.DebtorData"
                            max-rows="6"
                            disabled
                            class="text-monospace"
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                        label-size="sm"
                        label="ArbitrManager:"
                    >
                        <b-form-textarea
                            size="sm"
                            :value="form.ArbitrManager"
                            max-rows="6"
                            disabled
                            class="text-monospace"
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                        label-size="sm"
                        label="CompanyBankrCommis:"
                    >
                        <b-form-textarea
                            size="sm"
                            :value="form.CompanyBankrCommis"
                            max-rows="6"
                            disabled
                            class="text-monospace"
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                        label-size="sm"
                        label="TradeOrganizer:"
                    >
                        <b-form-textarea
                            size="sm"
                            :value="form.TradeOrganizer"
                            max-rows="6"
                            disabled
                            class="text-monospace"
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                        label-size="sm"
                        label="ApplicationRules:"
                    >
                        <b-form-textarea
                            size="sm"
                            :value="form.ApplicationRules"
                            max-rows="6"
                            disabled
                            class="text-monospace"
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                        label-size="sm"
                        label="FailureInformation:"
                    >
                        <b-form-textarea
                            size="sm"
                            :value="form.FailureInformation"
                            max-rows="6"
                            disabled
                            class="text-monospace"
                        ></b-form-textarea>
                    </b-form-group>
                </b-col>
            </b-row>

            <!--<fly-buttons left>
                <b-button
                    type="button"
                    variant="outline-success"
                    v-if="!isDeleted"
                    @click="clickBtnSave">
                    Сохранить
                </b-button>
            </fly-buttons>-->


        </b-container>

    </main-layout>
</template>

<script>

    import api from "../api";

    export default {
        data() {
            return {
                model: 'Trade',
                loading: false,
                id: null,
                form: null,
                breadcrumb_prepend: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Торги',
                        to: {path: '/panel/model/Trade'}
                    }
                ],
            }
        },
        created() {
            if (this.$route.path === `/panel/model/${this.model}-create`) {
                this.form = {
                    name: '',
                    code: '',
                    variants: [],
                    models: [],
                };
            } else {
                this.id = this.$route.params.id;
            }
        },
        computed: {
            page_title() {
                if (!this.id || !this.form) {
                    return `Торги`
                }
                return `[${this.id}]: ${this.form.TradeId}`
            },
            isDeleted() {
                return !!this.form && !!this.form.deleted_at
            },
            breadcrumb() {
                return [...this.breadcrumb_prepend, {
                    text: this.form ? this.form.TradeId : '...',
                    active: true
                }];
            },
        },
        watch: {
            id(to, from) {
                if (to) {
                    this.loadModel();
                }
            },
        },
        methods: {
            loadModel() {
                return api.getResources(`model/${this.id}`, {model: this.model})
                    .then(res => {
                        this.form = res
                    })
            },
            clickBtnSave() {
                this.loading = true;
                api.updateResource(`model`, this.form, {model: this.model})
                    .then(res => {
                        this.form = res;
                        this.$root.$emit('toast', 'Сохранено', 'Успешно', 'success')
                    })
                    .finally(() => {
                        this.loading = false;
                    })
            },
        }
    }
</script>
