<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <h1 class="display-5 mb">{{('Торги')}}</h1>

            <table-items
                ref="table"
                model="Trade"
                :fields="fields"
                :sorting="sorting"
            >
                            <page-table-filter
                    v-if="filters.length > 0"
                    slot="filter"
                    :fields="filters"
                    :on-change-filter="onChangeFilter"/>
            </page-table>
            </table-items>

        </b-container>

    </main-layout>
</template>

<script>
    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {
                        key: 'TradeId',
                        label: 'ID торгов'
                    },               
                    {
                        key: 'TradePlaceINN',
                        label: 'ИНН площадки'
                    },
                    'TradePlaceINN',
                    'AuctionType',
                    'status',
                    'DebtorINN',
                    'CaseNumber',
                    'ArbitrManager.INN',
                ],
                sorting: [
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые', selected: true},
                ],                
                filters: [
                    {
                        key: 'id',
                        label: 'ID',
                        type: 'text'
                    },
                    {
                        key: 'TradeId',
                        label: 'ID торгов',
                        type: 'text'
                    },                               
                    {
                        key: 'TradePlaceINN',
                        label: 'ИНН площадки',
                        type: 'text'
                    },
                ],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Торги',
                        active: true
                    }
                ],
            }
        },
        methods: {
            onChangeFilter(values) {
                this.$refs.table.onChangeFilter(values);
            }
        }
    }
</script>
