<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
            <b-row>
                <b-col>
                    <h1 class="display-5 mb">{{('Пользователи')}}</h1>
                </b-col>
            </b-row>

            <page-table
                ref="page_table"
                route="users"
                events="User"
                :fields="fields"
                :sorting="sorting"
            >
                <b-button
                    size="sm"
                    variant="warning"
                    :disabled="!iCanAddUser"
                    @click="onClickAddSystemUser">
                    {{ ('Создать пользователя') }}
                </b-button>

                <page-table-filter
                    v-if="filters.length > 0"
                    slot="filter"
                    :fields="filters"
                    :on-change-filter="onChangeFilter"/>
            </page-table>

        </b-container>

    </main-layout>
</template>

<script>

    import {ROLE} from "../helper";

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: ('ID')},
                    {key: 'created_at', label: ('Создан')},
                    {key: 'user_name_online', label: ('Имя')},
                    {key: 'appointment', label: ('Должность')},
                    {key: 'email', label: ('E-mail')},
                    {key: 'phone', label: ('Телефон')},
                    {key: 'roles', label: ('Роли')},
                ],
                sorting: [
                    {key: 'id', label: 'По порядку'},
                    {key: '-id', label: 'Сначала новые', selected: true},
                ],
                filters: [
                    {
                        key: 'role',
                        label: 'Роль пользователя',
                        type: 'select',
                        options: [
                            {text: 'Админ', value: 'ROLE_ADMIN'},
                            {text: 'Контент менеджер', value: 'ROLE_CONTENT'},
                            {text: 'Сотрудник', value: 'ROLE_STAFF'},
                            {text: 'Пользователь', value: 'ROLE_USER'},
                        ]
                    }
                ],
                breadcrumb: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Пользователи',
                        active: true
                    }
                ]
            }
        },
        computed: {
            iCanAddUser() {
                for (let key of [ROLE.ADMIN, ROLE.ACCOUNT_MANAGER]) {
                    if (this.$root.iHaveRole(key)) {
                        return true;
                    }
                }
                return false
            }
        },
        methods: {
            onClickAddSystemUser() {
                this.$root.$emit('user-blank');
            },
            onChangeFilter(values) {
                console.log('onChangeFilter', Object.assign({}, values));
                this.$refs.page_table.onChangeFilter(values);
            }
        }
    }
</script>
