<template>
    <main-layout>
        <b-container fluid>
            <b-breadcrumb :items="breadcrumb"></b-breadcrumb>

            <b-row>
                <b-col>
                    <h2 class="display-5 mb">{{ page_title }}</h2>
                </b-col>
            </b-row>

            <b-row>
                <b-col lg="6">
                    <div class="h3">Основное</div>
                    <div v-if="form">
                        <b-form-group
                            label-cols="4"
                            label-size="sm"
                            label="Название:"
                        >
                            <b-form-input
                                v-model="form.name"
                                size="sm"
                                type="text"></b-form-input>
                        </b-form-group>
                    </div>


                    <div class="h3 mt-3">Варианты написания</div>
                    <p>Добавьте варианты написания этой макри автомобиля, которые встречаются в тексте лота</p>
                    <ul v-if="form" class="list-unstyled">
                        <li
                            class="pb-1"
                            v-for="item, index of form.variants">
                            <b-row>
                                <b-col class="flex-grow-1">
                                    <b-form-input
                                        size="sm"
                                        v-model="item.text"
                                        placeholder="Вариант написания"
                                    ></b-form-input>
                                </b-col>
                                <b-col class="flex-grow-0">
                                    <a
                                        href="#"
                                        class="float-right text-danger"
                                        @click="onClickDeleteTextarea(index)">Удалить</a>
                                </b-col>
                            </b-row>
                        </li>
                        <li class="text-center">
                            <b-button @click="onClickAddTextarea">Добавить</b-button>
                        </li>
                    </ul>

                </b-col>
                <b-col lg="6" v-if="form">
                    <div class="h3">Модели</div>
                    <p>Модельный ряд марки <b>{{ form.name }}</b></p>
                    <ul v-if="form" class="list-unstyled">
                        <li
                            class="pb-1"
                            v-for="item, index of form.models">
                            <b-row>
                                <b-col class="flex-grow-1">
                                    <b-form-input
                                        size="sm"
                                        v-model="item.name"
                                        placeholder="Название модели"
                                    ></b-form-input>
                                </b-col>
                                <b-col class="flex-grow-0 text-nowrap">
                                    <span class="float-right">
                                        <a
                                            href="#"
                                            @click.prevent="onClickAddModelVariant(index)">+Вариант</a>
                                        <a
                                            href="#"
                                            class="text-danger"
                                            @click.prevent="onClickDeleteModel(index)">Удалить</a>
                                    </span>
                                </b-col>
                            </b-row>
                            <div>
                                <b-row
                                    v-for="variant, index2 in item.variants"
                                    :key="`var${index}_${index2}`"
                                    class="pt-1">
                                    <b-col class="flex-grow-0" style="width: 25px;">↳</b-col>
                                    <b-col class="flex-grow-1">
                                        <b-form-input
                                            size="sm"
                                            v-model="variant.text"
                                            placeholder="Написание модели"
                                        ></b-form-input>
                                    </b-col>
                                    <b-col class="flex-grow-0">
                                        <a
                                            href="#"
                                            class="float-right text-danger"
                                            @click="onClickDeleteModelVariant(index, variant)">Удалить</a>
                                    </b-col>
                                </b-row>
                            </div>
                        </li>
                        <li class="text-center">
                            <b-button @click="onClickAddModel">Добавить</b-button>
                        </li>
                    </ul>

                </b-col>
            </b-row>

            <fly-buttons left>
                <b-button
                    type="button"
                    variant="outline-success"
                    v-if="!isDeleted"
                    @click="clickBtnSave">
                    Сохранить
                </b-button>
                <b-button
                    v-if="false"
                    type="button"
                    variant="outline-info"
                    @click="loadModel">
                    Refresh
                </b-button>
                <btn-delete
                    v-if="!isDeleted"
                    :confirm="onDelete"></btn-delete>
                <b-button
                    v-if="isDeleted"
                    type="button"
                    variant="outline-danger"
                    @click="clickBtnRestore">
                    Восстановить
                </b-button>
            </fly-buttons>


        </b-container>

    </main-layout>
</template>

<script>

    import api from "../api";

    export default {
        data() {
            return {
                model: 'VehicleMaker',
                loading: false,
                id: null,
                form: null,
                breadcrumb_prepend: [
                    {
                        text: 'Статистика',
                        to: {path: '/panel'}
                    },
                    {
                        text: 'Каталог',
                        to: {path: '/panel/catalog'}
                    },
                    {
                        text: 'Справочник автомобилей',
                        to: {path: '/panel/model/VehicleMaker'}
                    }
                ],
            }
        },
        created() {
            if (this.$route.path === `/panel/model/${this.model}-create`) {
                this.form = {
                    name: '',
                    code: '',
                    variants: [],
                    models: [],
                };
            } else {
                this.id = this.$route.params.id;
            }
        },
        computed: {
            page_title() {
                if (!this.id || !this.form) {
                    return `Марка автомобиля`
                }
                return `[${this.id}]: ${this.form.name}`
            },
            isDeleted() {
                return !!this.form && !!this.form.deleted_at
            },
            breadcrumb() {
                return [...this.breadcrumb_prepend, {
                    text: this.form ? this.form.name : '...',
                    active: true
                }];
            },
        },
        watch: {
            id(to, from) {
                if (to) {
                    this.loadModel();
                }
            },
        },
        methods: {
            loadModel() {
                return api.getResources(`model/${this.id}`, {with: 'variants,models.variants', model: this.model})
                    .then(res => {
                        this.form = res
                    })
            },
            clickBtnSave() {
                this.loading = true;
                if (this.form.id) {
                    api.updateResource(`model`, this.form, {with: 'variants,models.variants', model: this.model})
                        .then(res => {
                            this.form = res;
                            this.$root.$emit('toast', 'Сохранено', 'Успешно', 'success')
                        })
                        .finally(() => {
                            this.loading = false;
                        })
                } else {
                    api.createResource(`model`, this.form, {with: 'variants,models.variants', model: this.model})
                        .then(res => {
                            this.id = res.id;
                            this.form = res;
                            this.$router.push(`/panel/model/${this.model}-${res.id}`);
                            this.$root.$emit('toast', 'Добавлено', 'Успешно', 'success');
                            this.loadModel();
                        })
                        .finally(() => {
                            this.loading = false;
                        })
                }
            },
            onDelete() {
                api.deleteResource(`model`, this.form.id, {model: this.model})
                    .then(res => {
                        this.loadModel();
                        this.$root.$emit('toast', 'Удаление', 'Категория удалена', 'success');
                        this.$router.push(`/panel/model/${this.model}`);
                    })
            },
            clickBtnRestore() {
                api.updateResource(`model`, {...this.form, restore: true, model: this.model})
                    .then(res => {
                        this.loadModel();
                        this.$root.$emit('toast', 'Восстановлено', 'Категория восстановлена', 'success')
                    })
            },
            onClickDeleteTextarea(index) {
                this.form.variants.splice(index, 1)
            },
            onClickAddTextarea() {
                this.form.variants.push({text: ''})
            },
            onClickDeleteModel(index) {
                this.form.models.splice(index, 1)
            },
            onClickAddModelVariant(index) {
                this.form.models[index].variants.push({text: ''})
            },
            onClickDeleteModelVariant(index, variant) {
                let idx = this.form.models[index].variants.findIndex(item => item === variant);
                if (idx !== -1) {
                    this.form.models[index].variants.splice(idx, 1)
                }
            },
            onClickAddModel() {
                this.form.models.push({name: '', variants: []})
            },
        }
    }
</script>
