<template>
    <div>
        <app-nav-bar></app-nav-bar>
        <div class="pt-3 px-4">
            <slot></slot>
        </div>
        <modal-user/>
        <modal-question/>
        <modal-news/>
         <modal-about/>
        <modal-consulting-message/>
        <modal-consulting-categories/>
        <modal-service/>
    </div>
</template>

<style>
    body {
        min-width: 360px;
    }
</style>
